<div>
  <div class="p-12">
    <div class="p-6">
      <h1 class="head-1">Headline 1</h1>
    </div>

    <div class="p-6">
      <h2 class="head-2">Headline 2</h2>
    </div>

    <div class="p-6">
      <h3 class="head-3">Headline 3</h3>
    </div>

    <div class="p-6">
      <h4 class="head-4">Headline 4</h4>
    </div>

    <div class="p-6">
      <h5 class="head-5">Headline 5</h5>
    </div>

    <div class="p-6">
      <h6 class="head-6">Headline 6</h6>
    </div>
  </div>
  <hr class="text-grey" />

  <div class="p-12">
    <h3 class="head-3">Body large</h3>
  </div>
  <div class="p-12">
    <div class="p-6">
      <p class="body-l">Body Large</p>
    </div>

    <div class="p-6">
      <p class="body-l-bold">Body Large Bold</p>
    </div>

    <div class="p-6">
      <p class="body-m">Body Medium</p>
    </div>

    <div class="p-6">
      <p class="body-m-bold">Body Medium Bold</p>
    </div>

    <div class="p-6">
      <p class="body-s">Body Small</p>
    </div>

    <div class="p-6">
      <p class="body-s-bold">Body Small Bold</p>
    </div>
  </div>
  <hr class="text-grey" />

  <div class="p-12">
    <h3 class="head-3">Overline</h3>
  </div>

  <div class="p-12">
    <p class="overline-dashed">overline</p>
  </div>
  <hr class="text-grey" />

  <div class="p-12">
    <h3 class="head-3">Links</h3>
  </div>

  <div class="p-12">
    <div class="p-6">
      <a href="" class="link-m">link medium</a>
    </div>

    <div class="p-6">
      <a href="" class="link-m-bold">link medium bold</a>
    </div>

    <div class="p-6">
      <a href="" class="link-s">link small</a>
    </div>

    <div class="p-6">
      <a href="" class="link-s-bold">link small bold</a>
    </div>
  </div>
  <div class="p-12">
    <h3 class="head-3">Счетчики</h3>
  </div>
  <div class="flex">
    <h1 class="head-1">Художественная литература</h1>
    <sup class="text-l leading-sup text-text">898 645</sup>
  </div>
  <div class="m-4 rounded-3xl bg-black p-12">
    <h2 class="head-3 text-white">Цвета</h2>
  </div>
  <div class="flex flex-wrap justify-center">
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-blue-1"
    >
      <!-- blue-1 -->
      <span class="font-bold text-black">blue-1</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-blue-2"
    >
      <!-- blue-2 -->
      <span class="font-bold text-black">blue-2</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-green"
    >
      <!-- green -->
      <span class="font-bold text-black">green</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-yellow"
    >
      <!-- yellow -->
      <span class="font-bold text-black">yellow</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-black"
    >
      <!-- black -->
      <span class="font-bold text-white">black</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-text"
    >
      <!-- text -->
      <span class="font-bold text-white">text</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-card-stroke"
    >
      <!-- card-stroke -->
      <span class="font-bold text-black">card-stroke</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full border-2 border-black bg-background"
    >
      <!-- background -->
      <span class="font-bold text-black">background</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full border-2 border-black bg-white"
    >
      <!-- white -->
      <span class="font-bold text-black">white</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-grey"
    >
      <!-- grey -->
      <span class="font-bold text-black">grey</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-red"
    >
      <!-- red -->
      <span class="font-bold text-black">red</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-orange"
    >
      <!-- orange -->
      <span class="font-bold text-white">orange</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-orange-text"
    >
      <!-- orange-text -->
      <span class="font-bold text-white">orange-text</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-purple-1"
    >
      <!-- purple-1 -->
      <span class="font-bold text-white">purple-1</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-purple-2"
    >
      <!-- purple-2 -->
      <span class="font-bold text-white">purple-2</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-purple-3"
    >
      <!-- purple-3 -->
      <span class="font-bold text-white">purple-3</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-purple-4"
    >
      <!-- purple-4 -->
      <span class="font-bold text-white">purple-4</span>
    </div>
    <div
      class="m-6 flex h-68 w-68 items-center justify-center rounded-full bg-purple-5"
    >
      <!-- purple-5 -->
      <span class="font-bold text-white">purple-5</span>
    </div>
  </div>
</div>
