<div>
  <div class="p-12">
    <div class="p-6">
      <h1 class="head-1">Headline 1</h1>
    </div>
  
    <div class="p-6">
      <h2 class="head-2">Headline 2</h2>
    </div>
    
    <div class="p-6">
      <h3 class="head-3">Headline 3</h3>
    </div>
  
    <div class="p-6">
      <h4 class="head-4">Headline 4</h4>
    </div>
   
    <div class="p-6">
      <h5 class="head-5">Headline 5</h5>
    </div>
   
    <div class="p-6">
      <h6 class="head-6">Headline 6</h6>
    </div>
   
  </div>
  <hr class="text-grey">

  <div class="p-12">
    <h3 class="head-3">Body large</h3>
  </div>
  <div class="p-12">
    <div class="p-6">
      <p class="body-l">Body Large</p>
    </div>
    
    <div class="p-6">
    <p class="body-l-bold">Body Large Bold</p>
    </div>

    <div class="p-6">
      <p class="body-m">Body Medium</p>
    </div>
   
    <div class="p-6">
      <p class="body-m-bold">Body Medium Bold</p>
    </div>
    
    <div class="p-6">
      <p class="body-s">Body Small</p>
    </div>
   
    <div class="p-6">
      <p class="body-s-bold">Body Small Bold</p>
    </div>
    
  </div>
  <hr class="text-grey">

  <div class="p-12">
    <h3 class="head-3">Overline</h3>
  </div>

  <div class="p-12">
    <p class="overline-dashed">overline</p>
  </div>
  <hr class="text-grey">

  <div class="p-12">
    <h3 class="head-3">Links</h3>
  </div>

  <div class="p-12">
    <div class="p-6">
      <a href="" class="link-m">link medium</a>
    </div>
   
    <div class="p-6">
      <a href="" class="link-m">link medium bold</a>
    </div>
   
    <div class="p-6">
      <a href="" class="link-s">link small</a>
    </div>
   
    <div class="p-6">
      <a href="" class="link-s-bold">link small bold</a>
    </div>
  </div>
  <div class="p-12 m-4 bg-black rounded-3xl">
    <h2 class="text-white">Цвета</h2>
  </div>

  <div class="flex flex-wrap justify-center">
    <div class="w-68 h-68 rounded-full m-6 flex items-center justify-center bg-blue-1"> <!-- blue-1 -->
      <span class="text-black font-bold">blue-1</span>
    </div>
    <div class="w-68 h-68 rounded-full m-6 flex items-center justify-center bg-blue-2"> <!-- blue-2 -->
      <span class="text-black font-bold">blue-2</span>
    </div>
    <div class="w-68 h-68 rounded-full m-6 flex items-center justify-center bg-green"> <!-- green -->
      <span class="text-black font-bold">green</span>
    </div>
    <div class="w-68 h-68 rounded-full m-6 flex items-center justify-center bg-yellow"> <!-- yellow -->
      <span class="text-black font-bold">yellow</span>
    </div>
    <div class="w-68 h-68 rounded-full m-6 flex items-center justify-center bg-black"> <!-- black -->
      <span class="text-white font-bold">black</span>
    </div>
    <div class="w-68 h-68 rounded-full m-6 flex items-center justify-center bg-text"> <!-- text -->
      <span class="text-white font-bold">text</span>
    </div>
    <div class="w-68 h-68 rounded-full m-6 flex items-center justify-center bg-card-stroke"> <!-- card-stroke -->
      <span class="text-black font-bold">card-stroke</span>
    </div>
    <div class="w-68 h-68 rounded-full m-6 flex items-center justify-center border-black border-2 bg-background"> <!-- background -->
      <span class="text-black font-bold">background</span>
    </div>
    <div class="w-68 h-68 rounded-full m-6 flex items-center justify-center  border-black border-2 bg-white"> <!-- white -->
      <span class="text-black font-bold">white</span>
    </div>
    <div class="w-68 h-68 rounded-full m-6 flex items-center justify-center bg-grey"> <!-- grey -->
      <span class="text-black font-bold">grey</span>
    </div>
    <div class="w-68 h-68 rounded-full m-6 flex items-center justify-center bg-red"> <!-- red -->
      <span class="text-black font-bold">red</span>
    </div>
    <div class="w-68 h-68 rounded-full m-6 flex items-center justify-center bg-orange"><!-- orange -->
      <span class="text-white font-bold">orange</span>
    </div>
    <div class="w-68 h-68 rounded-full m-6 flex items-center justify-center bg-orange-text"><!-- orange-text -->
      <span class="text-white font-bold">orange-text</span>
    </div>
  </div>
</div>
