<div>
  <div class="p-12">
    <h2>Heading desc</h2>
  </div>
  <div class="p-12">
    <h1>Headline 1</h1>
    <h2>Headline 2</h2>
    <h3>Headline 3</h3>
    <h4>Headline 4</h4>
    <h5>Headline 5</h5>
    <h6>Headline 6</h6>
  </div>

  <div class="p-12">
    <h2>Body large</h2>
  </div>
  <div class="p-12">
    <p class="text-l sm:text-m">Body Large</p>
    <p class="text-l font-bold sm:text-m">Body Large Bold</p>
    <p class="text-m">Body Medium</p>
    <p class="text-m font-bold">Body Medium Bold</p>
    <p class="text-s">Body Small</p>
    <p class="text-s font-bold">Body Small Bold</p>
  </div>

  <div class="p-12">
    <h2>Overline</h2>
  </div>

  <div class="p-12">
    <p class="text-overline">overline</p>
  </div>

  <div class="p-12">
    <h2>Caption</h2>
  </div>

  <div class="p-12">
    <p class="text-caption">overline</p>
  </div>

  <div class="p-12">
    <h2>Links</h2>
  </div>

  <div class="p-12">
    <a href="" class="link-m-400">link medium</a>
    <a href="" class="link-m-500">link medium bold</a>
    <a href="" class="link-s-400">link small</a>
    <a href="" class="link-s-500">link small bold</a>
  </div>
</div>
