<div class="flex-gap-8 flex flex-col p-12">
  <div class="flex items-center justify-center">
    <span class="">Default</span>
    <!-- <input class="ui-form-input" type="text" placeholder="Электронная почта" /> -->
    <input class="text-l" type="text" placeholder="Электронная почта" />
  </div>

  <div class="align-items-center flex">
    <span class="mr-12">Error</span>
    <input class="ui-form-input --error" type="text" value="error" />
  </div>

  <div class="align-items-center flex">
    <span class="mr-12">Right</span>
    <input class="ui-form-input --success" type="text" value="success" />
  </div>

  <div class="align-items-center flex">
    <span class="mr-12">Disabled</span>
    <input class="ui-form-input" type="text" value="disabled" disabled />
  </div>
</div>
