button {
  @apply flex flex-row justify-center items-center py-10 px-40;
}
.button-black {
  @apply flex flex-row justify-center items-center py-10 px-40 bg-black text-white;
  &:hover {
    @apply  bg-yellow text-black;
  }
}
.button-white {
  @apply flex flex-row justify-center items-center py-10 px-40 bg-white border border-black text-black;
  &:hover {
    @apply  bg-yellow text-black border-yellow;
  }
}
.button-yellow {
  @apply flex flex-row justify-center items-center py-10 px-40 bg-yellow text-black;
  &:hover {
    @apply  bg-black text-white;
  }
}
.button-yellow-full {
  @apply flex flex-row justify-center items-center py-10 bg-yellow bg-opacity-50 text-black px-70;
  &:hover {
    @apply  bg-opacity-100 text-black;
  }
}

.button-purple {
  @apply flex flex-row justify-center items-center py-10 px-40 bg-gradient-to-r from-purple-1 via-purple-2 to-purple-3  text-white;
  &:hover {
    @apply  bg-gradient-to-r from-purple-4 to-purple-5;
  }
}


.circle-button {
  @apply flex flex-row justify-center items-center py-10 px-20 w-64 h-64 rounded-full m-6 flex items-center justify-center bg-card-stroke;
  background-image: url("../../img/play.svg");
  background-repeat: no-repeat;
  background-position: 54% 50%;
  background-size: 30px 30px;
  &:hover {
    @apply bg-yellow;
    background-image: url("../../img/play-fill.svg");
  }
}


.overline-button {
 @apply flex flex-row justify-center items-center py-10 px-40 text-m underline;
  &:hover {
    @apply no-underline;
  }
}

.more-down {
  @apply flex flex-row justify-center items-center py-10 px-40 text-m;
  span {
    width: 8px;
    height: 8px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    margin-left: 10px;
    transform: rotate(135deg);
  }
  &:active {
    span {
      width: 8px;
      height: 8px;
      border-top: 2px solid #000000;
      border-right: 2px solid #000000;
      margin-left: 10px;
      transform: rotate(-45deg);
    }
  }
}

.more-down-active-js {
  @apply flex flex-row justify-center items-center py-10 px-40 text-m;
  span {
    width: 8px;
    height: 8px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    margin-left: 10px;
    transform: rotate(-45deg);
  }
}

.category-checkbox {
  @apply hidden;
}
.category-label {
  @apply flex flex-row justify-center items-center border rounded-3xl border-card-stroke text-s justify-between py-2 px-6 w-100 font-normal;
  span {
    @apply invisible;
  }
  &:hover {
    @apply border-yellow;
  }
  &:active {
    @apply bg-yellow;
    span {
      background: url("../../img/close.svg") no-repeat center right;
      background-size: 20px 15px;
      @apply text-left inline w-40 h-17 ml-4;
    }
  }
}

.category-checkbox-active-js {
  @apply hidden;
}
.category-label-active-js {
  @apply flex flex-row justify-center items-center  border rounded-3xl border-yellow text-s  justify-between py-2 px-6 w-100 bg-yellow font-normal;
  span {
    background: url("../../img/close.svg") no-repeat center right;
    background-size: 20px 15px;
    @apply text-left inline w-40 h-17 ml-4;
  }
}
.filter-btn {
  @apply flex flex-row justify-center items-center border rounded-3xl border-card-stroke text-s  justify-between py-2 px-6 w-auto font-medium;
  span {
    @apply hidden;
  }
  &:hover {
    @apply border-yellow;
  }
  &:active {
    @apply bg-yellow;
    span {
      background: url("../../img/close.svg") no-repeat center right;
      background-size: 20px 15px;
      @apply text-left inline w-40 h-17 ml-4;
    }
  }
}

.filter-btn-active-js {
  @apply flex flex-row justify-center items-center border rounded-3xl border-yellow text-s justify-between py-2 px-6 w-auto bg-yellow font-medium;
  span {
    background: url("../../img/close.svg") no-repeat center right;
    background-size: 20px 15px;
    @apply text-left inline w-40 h-17 ml-4;
  }
}
.breadcrumbs {
  @apply text-grey flex flex-row;
  span {
    @apply mr-8 text-text;
  }
  a {
    @apply mr-8 text-text;
    &.active-js {
      @apply text-black;
    }
    &:hover {
      @apply text-black;
    }
  }
}

.dropdown {
  @apply  relative inline-block bg-yellow  border-black border-2 h-44 w-auto py-2 px-4 max-w-menu;
  button {
    @apply flex flex-row justify-center items-center  p-1 flex w-full justify-between text-l;
  }
  .icon {
    @apply w-24 h-24 mb-1;
    background: url("../../img/menu-1.svg") no-repeat  center;
    background-size: contain;
  }
  .content {
    @apply hidden absolute w-auto max-w-inner-menu z-10 bg-white p-12;
    a {
      @apply p-1 flex w-full justify-start text-l;
      .menu-icon-book {
        @apply w-20 h-20;
        background: url("../../img/book.svg") no-repeat  center;
        background-size: contain;

      }
      .menu-icon-toys {
        @apply w-20 h-20;
        background: url("../../img/toys.svg") no-repeat center;
        background-size: contain;

      }
    }
  }
  .content-open-js {
    @apply block absolute w-auto max-w-inner-menu z-10 bg-white p-12;
    a {
      @apply p-1 flex w-full justify-start text-l;
      .menu-icon-book {
        @apply w-20 h-20;
        background: url("../../img/book.svg") no-repeat center;
        background-size: contain;

      }
      .menu-icon-toys {
        @apply w-20 h-20;
        background: url("../../img/toys.svg") no-repeat center;
        background-size: contain;

      }
    }
  }
  &:hover .content{
    @apply block;
  }
  &:hover .icon {
    background: url("../../img/menu-2.svg") no-repeat  center;
    background-size: contain;
  }
}

.navigation {
  ul {
    @apply  list-none m-0 p-0 flex;
  }
  li {
    @apply m-4;
    a {
      @apply  no-underline text-black relative px-2;
      &.active-js {
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          background-color: #000;
        }
      }
      &:hover::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: #000;
      }

    }
  }
}

//.ui-button {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  width: em(158, 15);
//  font-style: normal;
//  font-weight: 500;
//  font-size: 1.5em;
//  line-height: em(20, 15);
//  padding-top: em(9, 15);
//  padding-bottom: em(9, 15);
//  border: 1px solid transparent;
//
//  cursor: pointer;
//
//  &.--full-w {
//    width: 100%;
//  }
//
//  &.--black {
//    color: $white;
//    background-color: $black;
//    transition: color $base-transition, background-color $base-transition;
//
//    &:hover {
//      background-color: $yellow;
//      color: $black;
//    }
//  }
//
//  &.--transparent {
//    border-color: $black;
//    background-color: transparent;
//    color: $black;
//    transition: border-color $base-transition, background-color $base-transition;
//
//    &:hover {
//      border-color: transparent;
//      background-color: $yellow;
//    }
//  }
//
//  &.--yellow {
//    background-color: $yellow;
//    color: $black;
//    transition: color $base-transition, background-color $base-transition;
//
//    &:hover {
//      background-color: $black;
//      color: $white;
//    }
//  }
//
//  &.--violet {
//    background-image: linear-gradient(
//      90deg,
//      #06083d 0%,
//      #311166 22.24%,
//      #1f1871 60.71%,
//      #301550 100%
//    );
//    color: $white;
//    position: relative;
//    z-index: 1;
//    transition: opacity $base-transition;
//
//    &:before {
//      background-image: linear-gradient(
//        78.1deg,
//        #4b65cd 0.32%,
//        #af74e9 103.16%
//      );
//      content: "";
//      display: block;
//      height: 100%;
//      position: absolute;
//      top: 0;
//      left: 0;
//      opacity: 0;
//      width: 100%;
//      z-index: -1;
//      transition: opacity $base-transition;
//    }
//    &:hover {
//      &:before {
//        opacity: 1;
//      }
//    }
//  }
//
//  &.--light-yellow {
//    background-color: $light-yellow;
//    color: $black;
//    transition: background-color $base-transition;
//
//    &:hover {
//      background-color: $yellow;
//    }
//  }
//}
//
//.ui-dropdown-button {
//  width: fit-content;
//  font-weight: 500;
//  font-size: 15px;
//  line-height: em(20, 15);
//  text-decoration-line: underline;
//  color: #000000;
//  cursor: pointer;
//
//  &:hover {
//    text-decoration-line: none;
//  }
//}
//
//.test {
//  height: 20px;
//  width: 20px;
//  border: 1px solid red;
//  background-image: "@img/svg/icon20/black-arrow 2.svg";
//  background-repeat: no-repeat;
//  background-size: 20px;
//}
//
//.ui-text-hide-button {
//  width: fit-content;
//  font-weight: 500;
//  font-size: 15px;
//  line-height: em(20, 15);
//  color: #000000;
//  cursor: pointer;
//  //img/svg/icon20/black-arrow_up.svg
//
//  &:after {
//    content: "";
//    display: block;
//    height: em(20, 15);
//    width: em(20, 15);
//    margin-left: em(20, 8);
//    // background-image: "/img/svg/icon20/black-arrow_up.svg";
//  }
//
//  &.--active:after {
//    content: "";
//    // background-image: "img/svg/icon20/black-arrow_down.svg";
//  }
//}
