button {
  @apply flex min-w-4 flex-row items-center justify-center whitespace-nowrap px-40 py-10 text-m;
}

.button-black {
  @apply flex min-w-4 flex-row items-center justify-center whitespace-nowrap bg-black px-40 py-10 text-white;

  &:hover {
    @apply bg-yellow text-black;

    &.arrow-span {
      span {
        visibility: hidden;
      }
    }
  }

  &.arrow-span {
    span {
      background-image: url(../../img/arrow-right.svg);
      background-repeat: no-repeat;
      background-size: 2rem 2rem;
      width: 2rem;
      height: 2rem;
      margin-left: 1rem;
    }
  }
}

.button-white {
  @apply flex min-w-4 flex-row items-center justify-center whitespace-nowrap border border-black bg-white px-40 py-10 text-m text-black;

  &:hover {
    @apply border-yellow bg-yellow text-black;
  }
}

.button-yellow {
  @apply flex min-w-4 flex-row items-center justify-center whitespace-nowrap bg-yellow px-40 py-10 text-black;

  &:hover {
    @apply bg-black text-white;
  }
}

.button-yellow-full {
  @apply mx-auto flex w-full min-w-4 flex-row items-center justify-center whitespace-nowrap bg-yellow bg-opacity-50 px-40 py-10 text-black;

  &:hover {
    @apply bg-opacity-100 text-black;
  }
}

.button-purple {
  @apply flex min-w-4 flex-row items-center justify-center whitespace-nowrap bg-gradient-to-r from-purple-1 via-purple-2 to-purple-3 px-40 py-10 text-white;

  &:hover {
    @apply bg-gradient-to-r from-purple-4 to-purple-5;
  }
}

.circle-button {
  @apply m-6 flex flex h-64 w-64 flex-row items-center items-center justify-center justify-center rounded-full bg-card-stroke px-20 py-10;
  background-image: url('../../img/play.svg');
  background-repeat: no-repeat;
  background-position: 54% 50%;
  background-size: 3rem 3rem;
  background-color: rgba(255, 255, 255, 0.5);

  &.author-button {
    position: absolute;
    right: 20%;
    bottom: 0;
    background-color: yellow;
  }

  &:hover {
    @apply bg-yellow;
    background-image: url('../../img/play-fill.svg');
  }
}

.circle-button-small {
  @apply m-6 flex flex h-64 w-64 flex-row items-center items-center justify-center justify-center rounded-full bg-card-stroke px-20 py-10;
  background-image: url('../../img/play.svg');
  background-repeat: no-repeat;
  background-position: 60% 50%;
  background-size: 2rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);

  &:hover {
    @apply bg-yellow;
    background-image: url('../../img/play-fill.svg');
  }
}

.rounded-arrow-button {
  @apply m-6 flex flex h-64 w-64 flex-row items-center items-center justify-center justify-center rounded-full bg-card-stroke px-20 py-10;
  background-image: url('../../img/rounded-arrow.svg');
  background-repeat: no-repeat;
  background-position: 54% 50%;
  background-size: 3rem 3rem;
  background-color: rgba(255, 255, 255, 0.5);

  &:hover {
    @apply bg-yellow;
    background-image: url('../../img/rounded-arrow.svg');
  }
}

.rounded-arrow-button-small {
  @apply m-6 flex flex h-64 w-64 flex-row items-center items-center justify-center justify-center rounded-full bg-card-stroke px-20 py-10;
  background-image: url('../../img/rounded-arrow.svg');
  background-repeat: no-repeat;
  background-position: 54% 50%;
  background-size: 2rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);

  &:hover {
    @apply bg-yellow;
    background-image: url('../../img/rounded-arrow.svg');
  }
}

.overline-button {
  @apply flex flex-row items-center justify-center border-b-2 border-black p-0 text-m leading-none;

  &:hover {
    @apply border-b-2 border-transparent;
  }
}

.more-down-filters {
  @apply w-full;

  .more-down-button {
    &.filters {
      @apply w-full justify-between pl-30;
      background-image: url('../../img/filter.svg');
      background-repeat: no-repeat;
      background-position: 3% 50%;
      background-size: 1.5rem 1.5rem;

      &.active-js {
        @apply bg-yellow;
      }
    }

    &.new {
      // поправил на 30
      @apply w-full justify-between pl-30;
      background-image: url('../../img/sort.svg');
      background-repeat: no-repeat;
      /*поправил на 1.5 рем, чтобы красиво встало*/
      background-position: 3% 50%;
      background-size: 1.5rem 1.5rem;

      &.active-js {
        @apply bg-yellow;
      }
    }
  }
}

.more-down-button {
  @apply flex cursor-pointer flex-row items-center justify-center p-10 text-left text-m transition-all duration-500;

  span {
    background-image: url('../../img/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: 1rem 1.6rem;
    width: 1rem;
    height: 1.6rem;
    margin-left: 1rem;
  }

  &.active-js {
    span {
      background-image: url('../../img/arrow-down.svg');
      background-repeat: no-repeat;
      background-size: 1rem 1.6rem;
      width: 1rem;
      height: 1.6rem;
      margin-left: 1rem;
      transform: rotate(180deg);
    }
  }
}

.more-down-content::-webkit-scrollbar-track {
  border-radius: 0.4rem;
}

.more-down-content::-webkit-scrollbar {
  width: 0.6rem;
}

.more-down-content::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background: #acadad;
}

.more-down-content:hover::-webkit-scrollbar-thumb {
  background: #555555;
}

.more-down-content {
  @apply hidden p-2;

  &.new {
    @apply absolute z-1000 w-full border-2 border-card-stroke bg-white;
  }

  &.active-js {
    @apply block;
  }
}

.more-down-active-js {
  @apply flex flex-row items-center justify-center px-40 py-10 text-m;

  span {
    background-image: url('../../img/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: 1.6rem 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 1rem;
  }
}

.sort-checkbox {
  @apply hidden;

  &:checked + .sort-label {
    @apply border-0 bg-yellow;

    .cross {
      background: url('../../img/close.svg') no-repeat center right;
      background-size: 1rem 1rem;
      width: 1rem;
      height: 1rem;
      @apply ml-4 inline-block text-left align-middle;
    }

    .count {
      @apply ml-4 inline inline w-auto text-left text-s font-normal;
    }
  }
}

.sort-label {
  @apply flex h-24 w-full cursor-pointer flex-row items-center justify-between whitespace-nowrap rounded-3xl border border-card-stroke px-12 text-s font-normal;
  max-width: 30rem;
  min-width: 5rem;

  .count {
    @apply hidden align-middle;
  }

  &:hover {
    @apply border-yellow;
  }
}

.filter-checkbox {
  @apply hidden;

  &:checked + .filter-label {
    @apply justify-center border-0 bg-yellow;

    .cross {
      background: url('../../img/close.svg') no-repeat center right;
      background-size: 1rem 1rem;
      width: 1rem;
      height: 1rem;
      @apply ml-4 inline-block text-left align-middle;
    }

    .count {
      @apply ml-4 inline-block w-auto text-left text-s font-normal;
    }
  }
}

.filter-label {
  @apply mx-4 my-8 inline-flex h-24 w-auto cursor-pointer flex-row items-center justify-center whitespace-nowrap rounded-3xl border border-card-stroke px-12 text-s font-semibold;
  min-width: 5rem;
  max-width: 15rem;

  &.header {
    border-color: black;
    justify-content: center;
    cursor: auto;
    white-space: nowrap;

    &:hover {
      border-color: black;
    }
  }

  &.age {
    @apply w-55 justify-center;
  }

  span {
    @apply hidden align-middle;
  }

  &:hover {
    @apply border-yellow;
  }
}

.checkbox-container {
  @apply my-10 flex cursor-pointer items-center text-s text-black;

  input[type='radio'] {
    @apply hidden;
  }

  input[type='radio']:checked + .checkmark {
    @apply flex justify-center border-none bg-yellow;
  }

  input[type='radio']:checked + .checkmark::after {
    content: '';
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #000;
    margin: auto;
  }

  .checkmark {
    @apply mr-2 inline-block h-18 w-18 rounded-full border-2 border-solid border-black;
  }
}

.toggle-switch {
  @apply relative my-10 inline-block h-16 w-45;

  input[type='checkbox'] {
    @apply hidden;

    &:checked + .slider {
      @apply bg-yellow;
    }

    &:checked + .slider:before {
      transform: translateX(2rem);
      background-color: #000000;
    }
  }

  .slider {
    @apply absolute bottom-0 left-0 right-0 top-0 h-26 w-45 cursor-pointer rounded-3xl bg-grey transition-all duration-300;

    &:before {
      @apply h-20 w-20;
      position: absolute;
      content: '';
      left: 0.3rem;
      bottom: 0.3rem;
      background-color: #fff;
      border-radius: 50%;
      transition: transform 0.3s;
    }
  }
}

.breadcrumbs {
  @apply flex flex-row text-grey;

  span {
    @apply mr-8 text-text;
  }

  a {
    @apply mr-8 text-xl text-text;

    &.active-js {
      @apply text-black;
    }

    &:hover {
      @apply text-black;
    }
  }
}

.breadcrumbs {
  @media (max-width: 801px) {
    @apply hidden;
  }
}

.breadcrumbs-small-screen {
  @apply flex flex-row flex-nowrap items-center gap-8 text-s text-text;

  @media (min-width: 802px) {
    @apply hidden;
  }

  @media screen and (max-width: 480px) {
    @apply w-3/4;
  }
}

.breadcrumbs-small-screen-image {
  @apply block h-20 w-20;
  background: url('../../img/breadcrumb-home.svg') no-repeat center;
  background-size: contain;
}

.breadcrumbs-small-screen-dots {
  @apply relative;
}

.breadcrumbs-arrow {
  @apply absolute hidden h-12 w-32;
  left: -1.1rem;
  background-size: contain;
}

.breadcrumbs-path-hidden-text {
  @apply absolute z-10 flex hidden flex-col gap-8 bg-white p-16;
  border: 1px solid black;
  width: 20rem;
  top: 2.9rem;
  left: -1.2rem;
}

.breadcrumbs-small-screen-dots:hover .breadcrumbs-arrow {
  @apply block;
}

.breadcrumbs-small-screen-dots:hover .breadcrumbs-path-hidden-text {
  @apply block;
}

.breadcrumbs-icons {
  @apply flex flex-row gap-16;

  @media (min-width: 801px) {
    @apply hidden;
  }
}

@media screen and (max-width: 480px) {
  .breadcrumbs-small-screen-path {
    @apply overflow-hidden whitespace-nowrap;
    text-overflow: ellipsis;
    max-width: calc(80%);
  }
}

.dropdown {
  @apply relative flex max-w-menu  items-center border-2 border-black bg-yellow px-10 py-8;
  // width: 14.4rem;

  button {
    @apply flex w-full flex-row items-center gap-8 p-0 text-l;
  }

  .icon {
    @apply block h-20 min-w-[2rem];
    background: url('../../img/menu-1.svg') no-repeat center;
    background-size: contain;
  }

  &:hover .icon {
    background: url('../../img/menu-2.svg') no-repeat center;
    background-size: contain;
  }

  .content {
    @apply absolute left-0 top-[100%] z-1001 hidden w-auto max-w-inner-menu bg-white p-24;

    a:not(:last-child) {
      @apply mb-20;
    }

    a {
      @apply flex w-full justify-start p-1 text-l;

      .menu-icon-book {
        @apply mr-16 h-20 w-20;
        background: url('../../img/book.svg') no-repeat center;
        background-size: contain;
      }

      .menu-icon-toys {
        @apply mr-16 h-20 w-20;
        background: url('../../img/toys.svg') no-repeat center;
        background-size: contain;
      }
    }
  }

  .content-open-js {
    @apply absolute left-0 z-50 block w-auto max-w-inner-menu bg-white p-24;

    a:not(:last-child) {
      @apply mb-20;
    }

    a {
      @apply flex w-full justify-start p-1 text-l;

      .menu-icon-book {
        @apply mr-16 h-20 w-20;
        background: url('../../img/book.svg') no-repeat center;
        background-size: contain;
      }

      .menu-icon-toys {
        @apply mr-16 h-20 w-20;
        background: url('../../img/toys.svg') no-repeat center;
        background-size: contain;
      }
    }
  }

  &:hover .content {
    @apply block;
  }
}

.navigation {
  ul {
    @apply m-0 flex list-none p-0;
  }

  li {
    @apply m-4;

    p {
      @apply relative cursor-pointer px-2 text-black no-underline;

      &.active-js {
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -0.2rem;
          width: 100%;
          height: 0.2rem;
          background-color: #000;
        }
      }

      &:hover::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.2rem;
        width: 100%;
        height: 0.2rem;
        background-color: #000;
      }
    }
  }

  .navigation-content {
    @apply z-9999 bg-white;
    position: absolute;

    .cross {
      background: url('../../img/close.svg') no-repeat center right;
      background-size: 1rem 1rem;
      width: 1rem;
      height: 1rem;
      right: 0;
      position: absolute;
      @apply ml-4 inline-block cursor-pointer text-left align-middle;
    }

    &.hide {
      @apply hidden opacity-0 transition-all duration-500 ease-linear;
    }

    &.active-js {
      @apply block opacity-100 transition-all duration-500 ease-linear;
    }

    .content-layer {
      @apply flex;

      .picture {
        @apply w-3/12;
      }

      .name {
        @apply w-9/12 p-10 text-m;
      }
    }
  }
}

.collapse-q {
  @apply w-3/5;

  .collapse-button {
    @apply my-8 flex w-full cursor-pointer flex-row items-center justify-between border-none bg-background p-24 text-left text-l transition-all duration-500 ease-in-out;

    span {
      background-image: url('../../img/arrow-down.svg');
      background-repeat: no-repeat;
      background-size: 1rem 1.6rem;
      width: 2rem;
      height: 1.6rem;
      margin-left: 1rem;
    }

    &.active {
      @apply bg-yellow;

      span {
        background-image: url('../../img/arrow-down.svg');
        background-repeat: no-repeat;
        background-size: 1rem 1.6rem;
        width: 2rem;
        height: 1.6rem;
        margin-left: 1rem;
        transform: rotate(180deg);
      }
    }
  }

  .collapse-content {
    @apply block h-0 overflow-hidden bg-white px-24 py-0 text-l opacity-0 transition-all duration-500 ease-in-out;

    p {
      @apply m-0 text-m;
    }

    &.active {
      @apply h-68 py-6 opacity-100 transition-all duration-500 ease-in-out;

      span {
        background-image: url('../../img/arrow-down.svg');
        background-repeat: no-repeat;
        background-size: 1.6rem 1.6rem;
        width: 1.6rem;
        height: 1.6rem;
        margin-left: 1rem;
      }
    }
  }
}

//.ui-button {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  width: em(158, 15);
//  font-style: normal;
//  font-weight: 500;
//  font-size: 1.5em;
//  line-height: em(20, 15);
//  padding-top: em(9, 15);
//  padding-bottom: em(9, 15);
//  border: 1px solid transparent;
//
//  cursor: pointer;
//
//  &.--full-w {
//    width: 100%;
//  }
//
//  &.--black {
//    color: $white;
//    background-color: $black;
//    transition: color $base-transition, background-color $base-transition;
//
//    &:hover {
//      background-color: $yellow;
//      color: $black;
//    }
//  }
//
//  &.--transparent {
//    border-color: $black;
//    background-color: transparent;
//    color: $black;
//    transition: border-color $base-transition, background-color $base-transition;
//
//    &:hover {
//      border-color: transparent;
//      background-color: $yellow;
//    }
//  }
//
//  &.--yellow {
//    background-color: $yellow;
//    color: $black;
//    transition: color $base-transition, background-color $base-transition;
//
//    &:hover {
//      background-color: $black;
//      color: $white;
//    }
//  }
//
//  &.--violet {
//    background-image: linear-gradient(
//      90deg,
//      #06083d 0%,
//      #311166 22.24%,
//      #1f1871 60.71%,
//      #301550 100%
//    );
//    color: $white;
//    position: relative;
//    z-index: 1;
//    transition: opacity $base-transition;
//
//    &:before {
//      background-image: linear-gradient(
//        78.1deg,
//        #4b65cd 0.32%,
//        #af74e9 103.16%
//      );
//      content: "";
//      display: block;
//      height: 100%;
//      position: absolute;
//      top: 0;
//      left: 0;
//      opacity: 0;
//      width: 100%;
//      z-index: -1;
//      transition: opacity $base-transition;
//    }
//    &:hover {
//      &:before {
//        opacity: 1;
//      }
//    }
//  }
//
//  &.--light-yellow {
//    background-color: $light-yellow;
//    color: $black;
//    transition: background-color $base-transition;
//
//    &:hover {
//      background-color: $yellow;
//    }
//  }
//}
//
//.ui-dropdown-button {
//  width: fit-content;
//  font-weight: 500;
//  font-size: 15px;
//  line-height: em(20, 15);
//  text-decoration-line: underline;
//  color: #000000;
//  cursor: pointer;
//
//  &:hover {
//    text-decoration-line: none;
//  }
//}
//
//.test {
//  height: 20px;
//  width: 20px;
//  border: 1px solid red;
//  background-image: "@img/svg/icon20/black-arrow 2.svg";
//  background-repeat: no-repeat;
//  background-size: 20px;
//}
//
//.ui-text-hide-button {
//  width: fit-content;
//  font-weight: 500;
//  font-size: 15px;
//  line-height: em(20, 15);
//  color: #000000;
//  cursor: pointer;
//  //img/svg/icon20/black-arrow_up.svg
//
//  &:after {
//    content: "";
//    display: block;
//    height: em(20, 15);
//    width: em(20, 15);
//    margin-left: em(20, 8);
//    // background-image: "/img/svg/icon20/black-arrow_up.svg";
//  }
//
//  &.--active:after {
//    content: "";
//    // background-image: "img/svg/icon20/black-arrow_down.svg";
//  }
//}
// кнопка "связаться с нами"
.custom-box {
  @apply fixed flex cursor-pointer flex-row items-center justify-center gap-12 rounded-b-2xl bg-black text-2.5xl text-white;
  width: 17.4rem;
  height: 2.4rem;
  z-index: 1002;
  top: 60%;
  transform: rotate(-90deg);
  transform-origin: left top;
  @media screen and (max-width: 639px) {
    @apply hidden;
  }

  &:hover {
    @apply bg-yellow text-black;
  }
}

.custom-box span {
  @apply block h-20 w-20;
  background: url('../../img/envelope-white.svg') no-repeat center;
  background-size: contain;
  transform: rotate(90deg);
  z-index: 4;
}

.custom-box:hover .custom-box-span {
  @apply block h-22 w-20;
  background: url('../../img/envelope-black.png') no-repeat center;
}

.custom-box a {
  color: white;
  z-index: 4;
}

.custom-before {
  //content: ;
  position: absolute;
  bottom: -0.3rem;
  left: -8%;
  width: 4rem;
  height: 4rem;
  transform: rotate(90deg);
  background-image: url('../../img/custom-before.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-after {
  //content: ;
  position: absolute;
  bottom: -0.3rem;
  transform: rotate(90deg);
  left: 84.5%;
  width: 4rem;
  height: 4rem;
  background-image: url('../../img/custom-after.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.custom-box:hover .custom-after {
  background-image: url('../../img/custom-after-yellow.svg');
}

.custom-box:hover .custom-before {
  background-image: url('../../img/custom-before-yellow.svg');
}