.cards_wrapper {
  @apply flex flex-col items-center gap-56;
}

// общий класс
.traceable_item {
}

// карточка игрушки и книги

// card's top
.js_toy_card {
  @apply flex flex-col justify-start gap-24 bg-white pb-12;
  max-width: 29.6rem;
}
.js_item_card:hover .bordered_tags_item {
  @apply bg-yellow;
}

.js_book_card {
  @apply flex flex-col justify-start gap-24 bg-white pb-12;
  max-width: 26rem;
}

.toy_card_heading {
}

.bordered_tags {
  @apply flex flex-row flex-nowrap items-center justify-between;
}
.bordered_tags_main {
  @apply flex flex-row flex-nowrap justify-between gap-8;
}
.bordered_tags_item {
  @apply px-12 py-4;
  border: 1px solid #000000;
}
.toy_card_tags_first {
}
.toy_card_tags_second {
}
.toy_card_tags_age {
}
// соотношение сторон - хз, надо проработать
.item_card_image {
  @apply relative w-full bg-background;
  //aspect-ratio: 342 / 296;
  &:hover {
    @apply bg-white;
  }
}
.item_card_img {
  @apply w-full;
  object-fit: cover;
}

// card's bottom
.item_card_info {
  @apply flex flex-col gap-8;
}
.item_card_name {
  @apply body-m-bold;
}
.item_card_more {
  @apply flex flex-row justify-start gap-18;
}
.item_card_link.overline-button {
  @apply p-0;
}
.item_card_add_to_favourite {
  @apply m-0 h-20 w-20 cursor-pointer border-0 bg-cover bg-center p-10;
  background: url("../../img/heart_white.svg") no-repeat center;
}

.item_card_add_to_favourite.js_pressed {
  @apply m-0 h-20 w-20 cursor-pointer border-0 bg-cover bg-center p-10;
  background: url("../../img/heart_black.svg") no-repeat center;
}

.add_to_favourite_img {
}
.book_card_author {
  @apply text-15.20 font-medium text-text;
}

// карточка БОЛЬШАЯ ПОДБОРКИ
.js_card_selection {
  @apply flex flex-col gap-24;
  max-width: 60.8rem;
}

.card_selection_description {
  @apply flex flex-col gap-16 px-16 pb-16;
}
.dotted_tags {
  @apply flex flex-row flex-nowrap items-center gap-8;
}
.dotted_tags_category {
  @apply text-15.20 font-normal text-black;
}
.dotted_tags_separator {
}
.dotted_tags_date {
  @apply text-xl text-text;
}
.card_sel_info {
  @apply flex flex-col gap-12;
}
.card_selection_name {
  @apply text-3xl font-bold text-black;
}
.card_selection_text {
  @apply text-15.20 font-normal text-black;
}

// карточки ГОРИЗОНТАЛЬНЫЕ УЗКИЕ - ИНТЕРВЬЮ - текст покрупнее
//
.js_card_interview {
  @apply flex flex-row gap-16;
  max-width: 60.8rem;
}
.card_interview_name {
  @apply text-15.20 font-medium text-black;
}
.card_interview_text {
  @apply text-15.20 font-normal text-black;
}
.card_interview_description {
  @apply flex flex-col gap-12 py-16 pr-16;
}

// Карточки ВЕРТИКАЛЬНЫЕ НЕБОЛЬШИЕ
.js_card_articles {
  @apply flex flex-col gap-24;
  max-width: 40rem;
}
.card_articles_description {
  @apply flex flex-col px-12 pb-12;
}
.card_articles_name {
  @apply text-2.5xl;
}
.card_articles_text {
  @apply text-2.5xl text-black;
  font-weight: 400;
}

.card_articles_name_sfs {
  @apply text-15.20 font-medium;
}
.card_articles_text_sfs {
  @apply text-15.20 font-normal;
}

// карточка БРЕНДА
.js_card_brands {
}
.card_brand_content {
  @apply flex flex-row flex-nowrap justify-between gap-24 bg-white p-24;
  max-width: 40rem;
  border: 1px solid #d9d9d9;
}

.card_brand_content:hover .card_brand_all_items {
  @apply bg-white;
}
.card_brand_content:hover {
  @apply bg-yellow;
}
.card_brand_content:hover .card_brand_image {
  @apply bg-yellow;
}
.card_brand_info {
  @apply flex flex-col flex-nowrap items-center justify-center gap-8;
}
.card_brand_all_items {
  @apply block rounded-2xl bg-yellow px-8 py-4;
}
.card_brand_name {
  @apply text-xl font-normal text-black;
}
.card_brand_image {
  @apply bg-white;
  max-width: 15rem;
}

.card_brand_img {
  @apply px-20 py-14;
  @apply w-full;
  object-fit: cover;
}

// КАТАЛОГ КНИГ КАРТОЧКА
.card_book_catalog {
  @apply flex w-full grow flex-col flex-nowrap gap-16 pb-60 pl-16 pt-16;
  max-width: 60.8rem;
  border: 1px solid #d9d9d9;
}
.card_book_catalog:hover {
  @apply bg-background;
}
.card_image {
  @apply h-40 w-40;
}
.card_img {
}
.card_title {
  @apply text-3xl;
}
.card_link {
}

// КАРТОЧКА КАРЬЕРА
.card_career {
  @apply flex flex-col flex-nowrap items-start gap-16 bg-white px-32 pb-60 pt-32;
  max-width: 60rem;
  border: 1px solid #d9d9d9;
}
.card_career:hover {
  @apply bg-yellow;
}
// 1
.card_career_heading {
  @apply flex flex-row flex-wrap items-center  gap-12;
  @media screen and (max-width: 520px) {
    @apply flex-col-reverse items-start;
  }
}
.card_career_title {
  @apply text-4xl;
}
.card_career_tags {
  @apply flex flex-row gap-12;
}
.card_career_tag {
  @apply rounded-3xl bg-yellow px-12 py-4;
}
.card_career:hover .card_career_tag {
  @apply bg-white;
}
//2
.card_career_conditions {
  @apply flex flex-row flex-nowrap gap-16;
  @media screen and (max-width: 520px) {
    @apply flex-col items-start;
  }
}
.card_career_cond_item {
}
.car_cond_item {
  @apply flex flex-row flex-nowrap items-center gap-8 rounded bg-background px-8 py-4;
}
.car_cond_location {
}
.car_cond_shift_length {
}
.card_career_cond_item_image {
}
.card_career_cond_item_img {
}
.card_career_cond_item_text {
  @apply text-15.20 font-normal text-black;
}
.card_career_cond_item_text:hover {
  @apply bg-white;
}
// 3
.card_career_description {
  @apply text-2.5xl font-normal text-black;
}
// 4
.card_career_more_info {
  @apply flex flex-row flex-nowrap items-center bg-black;
}
.card_career_text {
  @apply text-15.20 text-white;
}
.card_career_img {
  @apply block h-20 w-20;
  background: url("../../img/cards_career_arrow.svg") no-repeat center;
  background-size: contain;
}

// КАРТОЧКА БРЕНДА С СОЦСЕТЯМИ
.card_brand_with_socials {
  @apply flex grow flex-col items-start justify-between bg-cover bg-no-repeat px-20 py-16;
  width: 29.6rem;
  height: 22.2rem;
  background-image: url("../../img/cards_brand_socials.svg");
  background-position: center center;
}
.card_brand_with_socials_links {
  @apply flex flex-row flex-nowrap gap-12 rounded-xl bg-yellow px-12 py-8;
}
.card_brand_with_socials_link_image {
  @apply h-12 w-12;
}
.card_brand_with_socials_item_page {
  @apply hidden w-full rounded-xl bg-white py-8 text-center text-2.5xl;
}
.card_brand_with_socials:hover .card_brand_with_socials_item_page {
  @apply block;
}

// КАРТОЧКА ФОТОГАЛЕРЕИ
.card_photogallery_item {
  @apply relative relative cursor-pointer;
  max-width: 29.6rem;
  max-height: 29.6rem;
  aspect-ratio: 1/1;
}

.card_photogallery_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card_photogallery_item:hover::before {
  opacity: 1;
}
.card_photogallery_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards_photogallery_eye_image {
  @apply absolute hidden h-40 w-40;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cards_photogallery_eye_img {
  @apply h-40 w-40;
}
.card_photogallery_item:hover .cards_photogallery_eye_image {
  @apply block;
}

// КАРТОЧКА ВИДЕО
.card_video_item {
  @apply flex flex-col gap-16;
  max-width: 29.6rem;
}
.card_video_preview {
  @apply relative cursor-pointer;
  max-width: 100%;
  aspect-ratio: 16/9;
}
.card_video_play_button {
  @apply absolute m-0 p-0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_video_info {
}
.card_video_title {
  @apply text-2.5xl;
}

.card_video_preview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card_video_preview:hover::before {
  opacity: 1;
}

// Карточка сотрудника
.card_employee {
  @apply relative flex flex-col flex-nowrap;
  max-width: 39.4rem;
}
.card_employee_image {
  @apply relative cursor-pointer;
  max-width: 100%;
}
.card_employee_info {
  @apply flex flex-col gap-8 p-20;
}
.card_employee_name {
  @apply text-2xl font-medium;
}
.card_employee_occupation {
  @apply text-15.20 text-text;
}
.card_employee_text {
  @apply text-2.5xl font-normal;
}

.card_employee_image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card_employee_image:hover::before {
  opacity: 1;
}

.card_employee_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_employee_image:hover .card_employee_socials {
  @apply absolute flex flex-row flex-nowrap items-center justify-center gap-18;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card_employee_socials {
  @apply absolute flex hidden flex-row flex-nowrap items-center justify-center gap-18;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card_employee_social_item {
  @apply block h-20 w-20 rounded-3xl;
  background: url("../../img/icon_white_inst.svg") no-repeat;
  background-position: center center;
}
.card_employee_social_item:hover {
  @apply bg-yellow p-12;
  background-image: url("../../img/icon_black_twitter.svg");
  background-position: center center;
}

// карточка НАГРАД
.card_awards_content {
  @apply flex flex-col flex-nowrap gap-16 bg-background p-16;
  max-width: 40rem;
}
.card_awards_image {
  width: 368px;
  height: 128px;
  background-size: cover;
  background-position: center;
}
.card_awards_info {
  @apply flex flex-col flex-nowrap items-start gap-8;
}
.card_awards_year {
  @apply rounded-2xl bg-yellow px-8 py-4 text-s font-medium text-black;
}
.card_awards_title {
  @apply text-3xl font-medium;
  max-width: 33rem;
}
.card_awards_description {
  @apply text-15.20 font-normal;
  max-width: 33rem;
}
