.elephant-moves-leg {
  @apply pb-60 pl-40;
}
.el-body {
  @apply relative inline-block;
  width: 8rem;
  height: 8rem;
  background: url("../../img/elephant/elephant-big.svg") no-repeat center;
  background-size: contain;
  @media screen and (max-width: 500px) {
    width: 6rem;
    height: 6rem;
  }
}

.el-leg {
  @apply absolute inline-block h-50 w-50;
  background: url("../../img/elephant/elephant-leg-1.svg") no-repeat center;
  background-size: contain;
  top: 5.4rem;
  left: -0.5rem;
  animation-name: elephant-leg;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  transform-origin: top top;
  @media screen and (max-width: 500px) {
    width: 4rem;
    height: 4rem;
    top: 4rem;
  }
}

@keyframes elephant-leg {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-80deg);
    top: 5.4rem;
    left: 1rem;
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 500px){
  @keyframes elephant-leg {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-80deg);
      top: 4rem;
      left: 0.5rem;
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

.el-eye {
  width: 3rem;
  height: 3rem;
  position: relative;
  top: 0.2rem;
  left: 1.8rem;
  border-radius: 50%;
  animation-name: rotating;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  @media screen and (max-width: 500px) {
    width: 2rem;
    height: 2rem;
    top: 0.3rem;
    left: 1.6rem;
  }
}

.el-eye::after {
  position: absolute;
  right: 3px;
  bottom: 3px;
  content: "";
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  background: black;
  border-radius: 50%;
  @media screen and (max-width: 500px) {
    width: 0.8rem;
    height: 0.8rem;
  }
}


@keyframes rotating {
  0% {
    transform: rotate(30deg) translateY(0);
  }
  50% {
    transform: rotate(-50deg) translateY(0);
  }
  100% {
    transform: rotate(30deg) translateY(0);
  }
}
@media screen and (max-width: 500px) {
  @keyframes rotating {
    0% {
      transform: rotate(50deg) translateY(0);
    }
    50% {
      transform: rotate(-50deg) translateY(0);
    }
    100% {
      transform: rotate(50deg) translateY(0);
    }
  }
}