.container-elephant-on-planets {
  @apply my-70 flex flex-col items-center px-40;
  @media (min-width: 701px) and (max-width: 900px) {
    @apply px-20;
  }
  @media screen and (max-width: 500px) {
    @apply px-12;
  }
}
.elephant-planet-central-img {
  max-width: 13.4rem;
  @media (min-width: 701px) and (max-width: 900px) {
    max-width: 10rem;
  }
}

.pl-wrapper {
  @apply relative flex flex-row items-center justify-center;
  @media screen and (max-width: 700px) {
    @apply flex-col;
  }
}
.planet {
  position: relative;
  z-index: 6;
  @media screen and (max-width: 700px) {
    height: 33.6rem;
    width: 33.6rem;
  }
}
.planet-secondary-left {
  position: relative;
  animation: rotate-secondary 6s linear infinite;
  flex-basis: 40rem;
  rotate: 300deg;
  top: -10rem;
  left: 2rem;
  @media (min-width: 701px) and (max-width: 900px) {
    left: 2.8rem;
  }
  @media screen and (max-width: 700px) {
    top: 0;
    left: 0;
    flex-basis: 33.6rem;
    rotate: 160deg;
  }
}
.planet-secondary-right {
  position: relative;
  animation: rotate-secondary 6s linear infinite;
  flex-basis: 40rem;
  rotate: 230deg;
  top: -10rem;
  right: 2rem;
  @media (min-width: 701px) and (max-width: 900px) {
    right: 2.8rem;
  }
  @media screen and (max-width: 700px) {
    top: 0;
    right: 0;
    flex-basis: 33.6rem;
    rotate: 160deg;
  }
}

.elephant-planet-central {
  z-index: 10;
  rotate: 100deg;
  @apply relative flex-grow;
  flex-basis: 50rem;
  animation: rotate-central 6s linear infinite;
  @media screen and (max-width: 700px) {
    flex-basis: 33.6rem;
  }
  @media screen and (max-width: 700px) {
    top: 0;
    right: 0;
    flex-basis: 33.6rem;
    rotate: 20deg;
  }
}


.elephant-central-img {
  position: absolute;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) scaleX(-1) scaleY(-1);
}
.elephant-secondary-img {
  position: absolute;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) scaleX(1) scaleY(-1);
}

@media screen and (max-width: 700px) {
  .elephant-central-img {
    transform: translateX(-50%) scaleX(1) scaleY(-1);
  }
  .elephant-secondary-img {
    transform: translateX(-50%) scaleX(-1) scaleY(-1);
  }
}

.elephant-planet-cantral-img {
  @apply h-full w-full;
}

// верчение планет на большом и среднем экране
@keyframes rotate-secondary {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotate-central {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// верчение планет на экране до 700рх
@media screen and (max-width: 700px) {
  @keyframes rotate-secondary {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate-central {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}

///////////// левый слон
.elephant-planet-left-img {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}

.elephant-planet-left-img.visible {
  opacity: 1;
  visibility: visible;
}

@keyframes toggleVisibility {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  66.67% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.elephant-planet-left-img {
  animation: toggleVisibility 18s linear infinite;
}

@media screen and (max-width: 700px) {
  @keyframes toggleVisibility {
    0% {
      opacity: 1;
      visibility: visible;
    }
    20% {
      opacity: 0;
      visibility: hidden;
    }
    83.33% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
}

/////////////////// центральный слон
.elephant-planet-central-img {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: opacity 0.2s;
}

.elephant-planet-central-img.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease;
}
@keyframes toggleVisibility2 {
  0% {
    opacity: 1;
    visibility: visible;
  }
  15% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0;
    visibility: hidden;
  }
  55% {
    opacity: 1;
    visibility: visible;
  }
  70% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.elephant-planet-central-img {
  animation: toggleVisibility2 18s linear infinite;
}

@media screen and (max-width: 700px) {
  @keyframes toggleVisibility2 {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    19% {
      opacity: 0;
      visibility: hidden;
    }
    31% {
      opacity: 1;
      visibility: visible;
    }
    37% {
      opacity: 0;
      visibility: hidden;
    }
    66% {
      opacity: 0;
      visibility: hidden;
    }
    76% {
      opacity: 1;
      visibility: visible;
    }
    84% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}

/// правый слон
.elephant-planet-right-img {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}

.elephant-planet-right-img.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease;
}
@keyframes toggleVisibility3 {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  16.67% {
    opacity: 0;
    visibility: hidden;
  }
  33% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.elephant-planet-right-img {
  animation: toggleVisibility3 18s linear infinite;
}

@media screen and (max-width: 700px) {
  @keyframes toggleVisibility3 {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    33.34% {
      opacity: 0;
      visibility: hidden;
    }
    66.67% {
      opacity: 1;
      visibility: visible;
    }
    70% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
}