.container-elephant-on-planets {
  @apply flex flex-col items-center px-40;
  margin-bottom: 6.4rem;
  margin-top: 10.4rem;
  @media (min-width: 700px) and (max-width: 900px) {
    @apply px-20;
    margin-bottom: 4.8rem;
    margin-top: 15.4rem;
  }
  @media screen and (max-width: 500px) {
    @apply px-12;
  }
  @media screen and (max-width: 699px) {
    margin-bottom: 4.8rem;
  }
}

.z-1 {
  z-index: 1;
}

.elephant-planet-central-img {
  max-width: 13.4rem;
  @media (min-width: 701px) and (max-width: 900px) {
    max-width: 10rem;
  }
}

.pl-wrapper {
  @apply flex flex-row items-center justify-center;
  @media screen and (max-width: 700px) {
    @apply flex-col;
  }
}

.wrapper-first {
  top: -10rem;
  left: 2.3rem;
  flex-basis: 40rem;
  @media (min-width: 701px) and (max-width: 900px) {
    left: 2.8rem;
  }
  @media screen and (max-width: 700px) {
    top: 0;
    left: 0;
    flex-basis: 33.6rem;
  }
}

.wrapper-second {
  top: -10rem;
  right: 2.3rem;
  flex-basis: 40rem;
  @media (min-width: 701px) and (max-width: 900px) {
    right: 2.8rem;
  }
  @media screen and (max-width: 700px) {
    top: 0;
    right: 0;
    flex-basis: 33.6rem;
  }
}

.wrapper-central {
  flex-basis: 50rem;
  @media screen and (max-width: 700px) {
    max-height: 33.6rem;
  }
}

.static-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.planet {
  @apply relative;
  @media screen and (max-width: 700px) {
    height: 33.6rem;
    width: 33.6rem;
  }
}

.planet-secondary-left {
  animation: rotate-secondary 6s linear infinite;
  flex-basis: 40rem;
  rotate: 300deg;

  @media screen and (max-width: 700px) {
    top: 0.5rem;
    rotate: 160deg;
    animation-direction: reverse;
  }
  @media (min-width: 1500px) {
    left: 0.5rem;
  }
}

.planet-secondary-left-2 {
  animation: rotate-secondary 6s linear infinite;
  flex-basis: 40rem;
  rotate: 300deg;
  animation-direction: reverse;
}

.planet-secondary-right {
  animation: rotate-secondary 6s linear infinite;
  flex-basis: 40rem;
  rotate: 230deg;

  @media screen and (max-width: 700px) {
    top: -0.5rem;
    animation-direction: reverse;
    rotate: 160deg;
  }
  @media (min-width: 1500px) {
    right: 0.5rem;
  }
}

.planet-secondary-right-2 {
  animation: rotate-secondary 6s linear infinite;
  flex-basis: 40rem;
  rotate: 230deg;
  animation-direction: reverse;
}

.elephant-planet-central {
  rotate: 100deg;
  @apply relative flex-grow;
  flex-basis: 50rem;
  animation: rotate-central 6s linear infinite;
  @media screen and (max-width: 700px) {
    flex-basis: 33.6rem;
  }
  @media screen and (max-width: 700px) {
    top: 0;
    right: 0;
    animation-direction: reverse;
    flex-basis: 33.6rem;
    rotate: 20deg;
  }
}

.elephant-planet-central-2 {
  rotate: 100deg;
  @apply relative flex-grow;
  flex-basis: 50rem;
  animation: rotate-central 6s linear infinite;
  animation-direction: reverse;
}

.elephant-central-img {
  position: absolute;
  left: 50%;
  top: 99%;
  transform: translateX(-50%) scaleX(-1) scaleY(-1);
}

.elephant-secondary-img {
  position: absolute;
  left: 50%;
  top: 99%;
  transform: translateX(-50%) scaleX(1) scaleY(-1);
}

@media screen and (max-width: 700px) {
  .elephant-central-img {
    transform: translateX(-50%) scaleX(1) scaleY(-1);
  }
  .elephant-secondary-img {
    transform: translateX(-50%) scaleX(-1) scaleY(-1);
  }
}

.elephant-central-img-2 {
  position: absolute;
  left: 50%;
  top: 99%;
  transform: translateX(-50%) scaleX(1) scaleY(-1);
}

.elephant-secondary-img-2 {
  position: absolute;
  left: 50%;
  top: 99%;
  transform: translateX(-50%) scaleX(-1) scaleY(-1);
}

.elephant-planet-cantral-img {
  @apply h-full w-full;
}

// верчение планет на большом и среднем экране
@keyframes rotate-secondary {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotate-central {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

///////////// левый слон
@keyframes toggleVisibility {
  1.2% {
    opacity: 0;
    visibility: hidden;
  }
  //1.21% {
  //  opacity: 1;
  //  visibility: visible;
  //}
  //1.8% {
  //  opacity: 1;
  //  visibility: visible;
  //}
  //1.81% {
  //  opacity: 0;
  //  visibility: hidden;
  //}
  68.22% {
    opacity: 0;
    visibility: hidden;
  }
  68.23% {
    opacity: 1;
    visibility: visible;
  }
  99.9% {
    opacity: 1;
    visibility: visible;
  }
  99.91% {
    opacity: 0;
    visibility: hidden;
  }
}

.elephant-planet-left-img {
  animation: toggleVisibility 18s linear infinite;
}

/////////////////// центральный слон
@keyframes toggleVisibility2 {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    opacity: 0;
    visibility: hidden;
  }
  1.01% {
    opacity: 1;
    visibility: visible;
  }
  13.8% {
    opacity: 1;
    visibility: visible;
  }
  13.81% {
    opacity: 0;
    visibility: hidden;
  }
  46.9% {
    opacity: 0;
    visibility: hidden;
  }
  46.91% {
    opacity: 1;
    visibility: visible;
  }
  55% {
    opacity: 1;
    visibility: visible;
  }
  67.33% {
    opacity: 1;
    visibility: visible;
  }
  67.34% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.elephant-planet-central-img {
  animation: toggleVisibility2 18s linear infinite;
}

/// правый слон
@keyframes toggleVisibility3 {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  14.7% {
    opacity: 0;
    visibility: hidden;
  }
  14.71% {
    opacity: 1;
    visibility: visible;
  }
  33% {
    opacity: 1;
    visibility: visible;
  }
  48.7% {
    opacity: 1;
    visibility: visible;
  }
  48.71% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.elephant-planet-right-img {
  animation: toggleVisibility3 18s linear infinite;
}

.elephant-planet-left-img-small {
  animation: toggleVisibility-left-small 18s linear infinite;
}

@keyframes toggleVisibility-left-small {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  2% {
    opacity: 0;
    visibility: hidden;
  }
  2.01% {
    opacity: 0;
    visibility: hidden;
  }
  64% {
    opacity: 0;
    visibility: hidden;
  }
  64.01% {
    opacity: 1;
    visibility: visible;
  }
  97.3% {
    opacity: 1;
    visibility: visible;
  }
  97.31% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.elephant-planet-central-img-small {
  animation: toggleVisibility2-small 18s linear infinite;
}

@keyframes toggleVisibility2-small {
  0% {
    opacity: 1;
    visibility: visible;
  }
  13.8% {
    opacity: 1;
    visibility: visible;
  }
  13.81% {
    opacity: 0;
    visibility: hidden;
  }
  46.7% {
    opacity: 0;
    visibility: hidden;
  }
  46.71% {
    opacity: 1;
    visibility: visible;
  }
  55% {
    opacity: 1;
    visibility: visible;
  }
  63.63% {
    opacity: 1;
    visibility: visible;
  }
  63.64% {
    opacity: 0;
    visibility: hidden;
  }
  97.2% {
    opacity: 0;
    visibility: hidden;
  }
  97.21% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.elephant-planet-right-img-small {
  animation: toggleVisibility3-small 18s linear infinite;
}

@keyframes toggleVisibility3-small {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  13.8% {
    opacity: 0;
    visibility: hidden;
  }
  13.81% {
    opacity: 1;
    visibility: visible;
  }
  33% {
    opacity: 1;
    visibility: visible;
  }
  47% {
    opacity: 1;
    visibility: visible;
  }
  47.01% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
