@import "./inputs";
@import "./text";
@import "./popups";
@import "./cards";
@import "./footer";
@import "./buttons";
@import "./components";
header {
 @apply flex items-center justify-between px-10 pt-4 pb-14 bg-yellow h-99;
 background: url("../../img/header-bg.png") no-repeat center;
background-size: cover;
 .logo {
  @apply ml-24;
 }

 .search-button {
  display: inline-block;
  background: url("../../img/search.svg") no-repeat center;
  background-size: 1rem 1rem;
  width: 1rem;
  height: 2rem;
  cursor: pointer;
 }
 .micro-button {
  display: inline-block;
  background: url("../../img/micro.svg") no-repeat center;
  background-size: 2rem 2rem;
  width: 1rem;
  height: 2rem;
  cursor: pointer;
 }
 .heart-button {
  display: inline-block;
  background: url("../../img/heart.svg") no-repeat center;
  background-size: 1rem 1rem;
  width: 1rem;
  height: 2rem;
  cursor: pointer;
 }
.language {
 @apply inline-block;
 .eng-lang {
  color: rgba(160, 168, 47, 0.69);
 }
}
 .search-input {
  @apply transition-all duration-300  border-0 border-b-2 border-black border-solid flex flex-row;
  opacity: 1;
  padding: 5px;
  width: 40%;
  input {
   @apply bg-yellow border-0 w-full;
  }
  span {
   @apply ml-5;
  }
  .search-icon {
   display: block;
   background: url("../../img/search.svg") no-repeat center;
   background-size: 1rem 1rem;
   width: 1rem;
   height: 2rem;
  }
  .micro-icon {
   display: block;
   background: url("../../img/micro.svg") no-repeat center;
   background-size: 2rem 2rem;
   width: 1rem;
   height: 2rem;
  }
  .cross-icon {
   cursor: pointer;
   display: block;
   background: url("../../img/close.svg") no-repeat center;
   background-size: 1rem 1rem;
   width: 1rem;
   height: 2rem;
  }
  &.hide {
   width: 0;
   opacity: 0;
  }
 }
 .header-btn {
  @apply  items-center inline-flex;

  span {
   @apply mr-10;
  }
 }
 nav {
  @apply  transition-all duration-300 flex justify-start;
  width: 65rem;
  opacity: 1;
  &.hide {
   width: 0;
   opacity: 0;
   margin: 0;
  }
  ul {
   @apply list-none m-0 p-0 flex;
   li {
     a {
     @apply text-s mx-17 my-16;
     }

    .more-down-button {
     @apply text-s mx-6 my-3 uppercase;
     span {
      width: 0.6rem;
      height: 0.6rem;
      border-top: 0.2rem solid #000000;
      border-right: 0.2rem solid #000000;
      margin-left: 0.9rem;
      transform: rotate(135deg);
     }

     &.active-js {
      span {
       width: 0.6rem;
       height: 0.6rem;
       border-top: 0.2rem solid #000000;
       border-right: 0.2rem solid #000000;
       margin-left: 0.9rem;
       transform: rotate(-45deg);
      }
     }
    }
    .more-down-content {
     @apply  z-1000 bg-white absolute;
    }
   }
  }
 }
}



#yellow-background {
    @apply bg-yellow w-full h-screen items-center pt-60 overflow-hidden relative;
}

#moving-block {
    @apply mx-auto my-0 w-full h-full bg-white z-100 absolute overflow-hidden;
}

#above-block {
    @apply z-1000 relative py-35 px-60 overflow-hidden;
}