.ui-form-input {
  font-weight: 400;
  font-size: 13px;
  line-height: em(18, 13);
  color: #808080;
  border: 1px solid #d9d9d9;
  padding: em(11, 13) em(9, 13);
  outline: none;

  &::placeholder {
    color: #000000;
  }

  &:hover {
    border-color: $black;
  }

  &:disabled:hover {
    border-color: #d9d9d9;
  }

  &:focus {
    border-color: $black;
    color: $black;
  }

  &.--error {
    border-color: $red;
  }

  &.--success {
    border-color: $green;
  }
}
