.pagination {
}

.pagination-seen {
}

.pagination-more-button {
}

.pagination-nav-page-buttons {
}

// паддинги не стал задавать, ведь мб контейнер будет ограничивать?
.rm-pag {
  @apply flex flex-col items-start gap-16;

  @media screen and (max-width: 500px) {
    @apply px-12
  }
}

.js-rm-pag-seen {
  @apply text-2.5xl text-text;
}

.js-rm-pag-more-btn {
  @apply w-full bg-grey py-10 text-15.20 font-medium;

  &:hover {
    @apply bg-card-stroke;
  }
}

.js-rm-pag-nav-page-btns {
  @apply flex flex-row flex-nowrap gap-14;

  @media screen and (max-width: 500px) {
    @apply gap-0 justify-between w-full;
  }
}

.nav-btns {
  @apply flex flex-row flex-nowrap gap-14;

  @media screen and (max-width: 500px) {
    @apply gap-8;
  }
}

.js-rm-pag-nav-page-btn {
  @apply h-40 w-40 border-2 border-b-black bg-white p-0 text-15.20;

  @media screen and (max-width: 500px) {
    @apply w-30 h-30 border-card-stroke;
  }

  &:hover {
    border-color: #fff145;
  }

  @media screen and (max-width: 500px) {
    @apply h-30 w-30 border-card-stroke;
  }
}

.js-chosen-nav-btn {
  @apply border-0 bg-yellow;
}

.pag-hidden {
  @apply hidden;

  @media screen and (max-width: 500px) {
    @apply block;
  }
}

.js-rm-pag-nav-page-more-bnt {
  @apply flex flex-row p-0 text-15.20;

  &:hover {
    @apply underline;
  }
}

.js-rm-pag-nav-page-more-bnt span {
  @apply block h-20 w-20;
  background: url("../../img/go-forth.svg") no-repeat center;
  background-size: contain;
}

// добавил кнопку на всякий случай
.js-rm-pag-nav-page-back-bnt {
  @apply flex flex-row px-0 items-center text-15.20 hidden;

  &:hover {
    @apply underline;
  }
}

.js-rm-pag-nav-page-back-bnt span {
  @apply block h-20 w-20;
  background: url("../../img/go-back.svg") no-repeat center;
  background-size: contain;
}