.scroll-block {
  @apply h-140 overflow-y-auto;
}

.scroll-block::-webkit-scrollbar-track {
  border-radius: 0.4rem;
}

.scroll-block::-webkit-scrollbar {
  width: 0.6rem;
}

.scroll-block::-webkit-scrollbar-thumb {
  border-radius: 0.4rem;
  background: #acadad;
}

.scroll-block:hover::-webkit-scrollbar-thumb {
  background: #555555;
}

.filters-block {
  @apply w-full;
  &::-webkit-scrollbar {
    display: none;
  }

  .more-down-button {
    @apply w-full justify-between px-0 text-left text-l font-medium;
  }

  .more-down-content {
    @apply px-0;
  }

  .back-filter {
    @apply my-14 flex gap-8 text-s font-semibold;

    span {
      background-image: url('../../img/arrow-down.svg');
      background-repeat: no-repeat;
      background-size: 1rem 1.6rem;
      width: 1rem;
      height: 1.9rem;
      transform: rotate(90deg);
    }
  }

  .scroll-block {
    @apply h-140 overflow-y-auto;
  }

  .scroll-block::-webkit-scrollbar-track {
    border-radius: 0.4rem;
  }

  .scroll-block::-webkit-scrollbar {
    width: 0.6rem;
  }

  .scroll-block::-webkit-scrollbar-thumb {
    border-radius: 0.4rem;
    background: #acadad;
  }

  .scroll-block:hover::-webkit-scrollbar-thumb {
    background: #555555;
  }
}

.mobile-filter {
  position: relative;

  .counter {
    position: absolute;
    right: -0.5rem;
    top: 0.5rem;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 50rem;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 900px) {
    @apply hidden;
  }

  @media screen and (max-width: 900px) {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 1.5rem;
    line-height: 2rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    width: 2.2rem;
    height: 4.1rem;
    background-image: url(../../img/filter.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem 2rem;
  }
}

.mobile-p {
  @media screen and (min-width: 900px) {
    @apply hidden;
  }

  @media screen and (max-width: 900px) {
    @apply inline-block text-2xl;
  }
}

#close-filter {
  @media screen and (min-width: 900px) {
    @apply hidden;
  }

  @media screen and (max-width: 900px) {
    float: right;
    cursor: pointer;
    display: inline-block;
    background: url('../../img/close.svg') no-repeat right;
    background-size: 1rem 1rem;
    width: 2rem;
    height: 2rem;
  }
}

.filter {
  @media screen and (min-width: 900px) {
    @apply flex;
  }

  @media screen and (max-width: 900px) {
    @apply hidden;
  }
}

.filter-2 {
  @media screen and (min-width: 900px) {
    @apply flex;
  }

  @media screen and (max-width: 900px) {
    @apply hidden;
  }
}

.open-filter {
  @media screen and (max-width: 900px) {
    display: flex !important;
    position: fixed;
    top: 0;
    background: white;
    width: 100% !important;
    z-index: 100002;
    left: 0;
    padding: 1.2rem;
    height: 95vh;
    overflow-y: scroll;
  }
}

.more-down-filters {
  .filters-block {
    @apply w-full;
  }
}

.toolbar {
  @media screen and (min-width: 999px) {
    display: none;
  }

  @media screen and (max-width: 999px) {
    background-color: #ffffff;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1rem #d9d9d9 solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100000;
    padding: 0.8rem 1.2rem;

    img {
      width: 2rem;
      height: 2rem;
      margin: 0 auto;
    }
  }
}

/* Стили кнопок */

.toolbar-button {
  @media screen and (min-width: 900px) {
    display: none;
  }

  @media screen and (max-width: 900px) {
    color: #808080;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    font-size: 1.1rem;
  }
}

/* Стили активной кнопки */

.toolbar-button.active {
  @media screen and (min-width: 900px) {
    display: none;
  }

  @media screen and (max-width: 900px) {
    color: #535353;
    background-color: #ffffff;
  }
}

.header[data-header='main'] {
  .rosmen {
    display: none;
  }

  .company {
    display: none;
  }

  .news {
    display: none;
  }

  .books-news {
    display: none;
  }

  .NDK {
    display: none;
  }

  .author {
    display: none;
  }
}

.header[data-header='toys'] {
  .books-news {
    display: none;
  }

  .NDK {
    display: none;
  }

  .author {
    display: none;
  }

  .about {
    display: none;
  }

  .career {
    display: none;
  }

  .contacts {
    display: none;
  }

  .publisher {
    display: none;
  }
}

.header[data-header='books'] {
  .company {
    display: none;
  }

  .about {
    display: none;
  }

  .career {
    display: none;
  }

  .contacts {
    display: none;
  }

  .news {
    display: none;
  }

  .toys {
    display: none;
  }
}

.main-block {
  @apply w-1/4;
  //@media screen and (max-width: 768px) {
  //  @apply  w-3/4;
  //}
}

header {
  @apply flex items-center bg-yellow px-24 pt-14 sm:px-12;

  @media screen and (max-width: 900px) {
    @apply justify-between;
  }

  .logo {
    @apply mr-24 aspect-[121/30] h-30;
    @apply block;

    @media screen and (max-width: 900px) {
      @apply hidden;
    }
  }

  .mobile-logo {
    @apply hidden;
    &.hide {
      @media screen and (max-width: 999px) {
        @apply hidden;
      }
    }

    @media screen and (max-width: 900px) {
      @apply block;
    }
  }

  .dropdown {
    @media screen and (max-width: 900px) {
      @apply hidden;
    }
  }

  .header-nav {
    @apply basis-6/10;

    @media screen and (max-width: 900px) {
      @apply hidden;
    }
  }

  .hide-icon {
    .search-button {
      @apply hidden;
    }

    .micro-button {
      @apply hidden;
    }
  }

  .hide-mobile {
    .search-button {
      @media screen and (max-width: 880px) {
        @apply hidden;
      }
    }

    .micro-button {
      @media screen and (max-width: 880px) {
        @apply hidden;
      }
    }
  }

  .search-button {
    display: inline-block;
    background: url('../../img/search.svg') no-repeat center;
    background-size: 1.6rem 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
  }

  .micro-button {
    display: inline-block;
    background: url('../../img/micro.svg') no-repeat center;
    background-size: 3.6rem 3rem;
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
  }

  .heart-button {
    display: inline-block;
    background: url('../../img/heart.svg') no-repeat center;
    background-size: 1.6rem 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
  }

  .search-input {
    @apply flex basis-5/10 flex-row border-0 border-b-2 border-solid border-black transition-all duration-300;
    opacity: 1;
    padding: 5px;

    @media screen and (max-width: 900px) {
      @apply basis-full;
      width: 100%;
    }

    input {
      @apply w-full border-0 bg-yellow;

      &:focus {
        border-style: none;
        outline: none;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      &:hover {
        border-style: none;
        outline: none;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      &:active {
        border-style: none;
        outline: none;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      @media screen and (max-width: 900px) {
        padding: 0;
        width: 85%;
      }
    }

    span {
      @apply ml-5;

      @media screen and (max-width: 900px) {
        @apply ml-6;
      }
    }

    .search-icon {
      display: block;
      background: url('../../img/search.svg') no-repeat center;
      background-size: 1.6rem 1.6rem;
      width: 2.6rem;
      height: 2.6rem;
      cursor: pointer;

      @media screen and (max-width: 900px) {
        background-size: 1rem 1rem;
        width: 1rem;
        height: 1rem;
      }
    }

    .micro-icon {
      display: block;
      background: url('../../img/micro.svg') no-repeat center;
      background-size: 3.6rem 3rem;
      width: 2.6rem;
      height: 2.6rem;
      cursor: pointer;

      @media screen and (max-width: 900px) {
        background-size: 2rem 2rem;
        width: 1rem;
        height: 1rem;
      }
    }

    .cross-icon {
      cursor: pointer;
      display: block;
      background: url('../../img/close.svg') no-repeat center;
      background-size: 1.6rem 1.6rem;
      width: 2.6rem;
      height: 2.6rem;

      @media screen and (max-width: 900px) {
        background-size: 1rem 1rem;
        width: 1rem;
        height: 1rem;
      }
    }

    &.hide {
      @apply basis-0 p-0;
      width: 0;
      opacity: 0;

      input {
        @apply p-0;
      }

      span {
        display: none;
      }
    }
  }

  .header-btn {
    @apply mr-10 basis-1/4 items-center justify-end;
    @media screen and (max-width: 900px) {
      @apply mr-0;
    }

    &.dekstop {
      @apply inline-flex;

      @media screen and (max-width: 900px) {
        @apply hidden;
      }
    }

    &.mobile {
      @apply hidden;

      @media screen and (max-width: 900px) {
        @apply inline-flex gap-16;
      }

      &.hide {
        display: none;
      }
    }

    .language {
      @apply inline-block whitespace-nowrap text-l;

      .active-js {
        color: rgba(160, 168, 47, 0.69);
      }

      span {
        @apply mx-4 cursor-pointer;
        &:last-child {
          @apply mx-4;
        }
      }
    }

    span {
      @apply mr-20;

      @media screen and (max-width: 900px) {
        @apply mr-12;
        &:last-child {
          @apply m-0;
        }
      }
    }
  }

  .more-down-button {
    @apply text-s uppercase;

    span {
      background-image: url('../../img/arrow-down.svg');
      background-repeat: no-repeat;
      background-size: 1.6rem 1.6rem;
      width: 1.6rem;
      height: 1.6rem;
      vertical-align: middle;
      display: inline-block;
    }

    &.active-js {
      span {
        background-image: url('../../img/arrow-down.svg');
        background-repeat: no-repeat;
        background-size: 1.6rem 1.6rem;
        width: 1.6rem;
        height: 1.6rem;
        margin-bottom: 0rem;
        vertical-align: middle;
        display: inline-block;
        transform: rotate(180deg);
      }
    }
  }

  .more-down-content {
    @apply absolute top-[6rem] z-1001 bg-white p-24;

    .more-down-button {
      @apply m-0 p-0;
    }

    .more-down-content {
      @apply relative p-0;
    }

    p {
      @apply text-m;
    }

    p:not(:last-child) {
      @apply mb-16;
    }

    li {
      @apply text-m;
    }

    li:not(:last-child) {
      @apply mb-16;
    }
  }

  .menu {
    @apply flex basis-1/10 justify-center border-0 p-0;
    @media screen and (max-width: 999px) {
      @apply hidden;
    }

    .more-down-content {
      a {
        @apply text-m;
      }

      .more-down-content {
        a {
          @apply text-s;
        }
      }
    }

    &.hide {
      @apply hidden;
    }

    &:hover .icon {
      background: url('../../img/burger.svg') no-repeat center;
      background-size: contain;
    }

    .icon {
      @apply mb-1 h-24 w-24;
      background: url('../../img/burger.svg') no-repeat center;
      background-size: contain;
    }
  }

  nav {
    @apply flex justify-start whitespace-nowrap transition-all duration-300;
    width: 65rem;
    opacity: 1;

    &.hide {
      @apply basis-0 p-0;
      width: 0;
      opacity: 0;
      margin: 0;

      ul {
        width: 0;
        opacity: 0;
        margin: 0;

        li {
          width: 0;
          opacity: 0;
          margin: 0;
        }
      }
    }

    ul {
      @apply m-0 flex list-none p-0;

      p {
        a {
          @apply m-0;
        }
      }

      li {
        @apply flex items-center;
        a {
          @apply mx-17 text-s;
          @media screen and (max-width: 1090px) {
            @apply mx-6;
          }
          @media screen and (max-width: 990px) {
            @apply mx-2;
          }
        }
      }
    }
  }
}

#yellow-background {
  @apply relative h-full w-full items-center overflow-hidden bg-yellow pt-[3.1rem];

  @media screen and (max-width: 768px) {
    @apply pt-10;
  }

  #moving-block {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .width-75 {
    width: 75%;

    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  .width-25 {
    width: 25%;
  }

  .image_container_brand {
    max-width: 8.8rem;
    max-height: 8.8rem;
    min-width: 8.8rem;
    min-height: 8.8rem;
    border-radius: 0.2rem;
    @media screen and (max-width: 768px) {
      max-width: 7rem;
    }

    @apply md:max-h-[7rem] md:min-h-[7rem] md:min-w-[7rem] md:max-w-[7rem];
  }

  .brand_choose_brands::-webkit-scrollbar {
    display: none;
  }

  .brand_choose_brands {
    display: flex !important;
    display: -webkit-flex !important;
    flex-direction: row;
    -webkit-flex-direction: row;
    gap: 1.2rem;
    overflow-x: auto;
    width: 200rem;
    @media screen and (max-width: 1200px) {
      width: 100%;
      gap: 1.2rem;
      overflow: scroll;
    }
  }

  .all-brands {
    border: #808080 0.2rem solid;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'TT Hoves Pro';
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    cursor: pointer;
  }
}

#yellow-background:after {
  position: absolute;
  content: '';
  display: block;
  top: calc(2rem + (100vw / 2));
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
}

#moving-block {
  @apply absolute top-[2rem] z-100 mx-auto h-screen  w-full bg-white;
}

#moving-block svg {
  filter: drop-shadow(0px -2px 5px rgb(41, 41, 41));
}

#white-mobile-background {
  @media screen and (max-width: 768px) {
    @apply absolute z-100 mx-auto my-0 h-full w-full overflow-hidden bg-white;
  }
}

#moving-block:after {
  position: absolute;
  content: '';
  display: block;
  height: 100%;
  bottom: 0;
  background-color: white;
  width: 100%;
}

#moving-block:before {
  z-index: 1;
  position: absolute;
  content: '';
  display: block;
  height: 100%;
  bottom: -50%;
  background-color: white;
  width: 200%;
  left: -50%;
}

#above-block {
  @apply relative z-1000 overflow-hidden;
}

#above-el-block {
  @apply relative z-1000 overflow-hidden py-35;
}

.swiper-text {
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
}

.swiper,
.swiper-text,
.swiper-book,
.swiper-one-book,
.swiper-image,
.swiper-image-2,
.swiper-book-fragment,
.swiper-detailed-page,
.swiper-imidzh-page,
.swiper-image-gallery,
.swiper-catalog-projects,
.swiper-detailed-page-video {
  // width: 100% !important;
  // height: auto !important;
  // padding: 0 3rem !important;
  .card_career {
    margin-top: 3rem;

    @media screen and (max-width: 930px) {
      @apply py-4;
      margin-top: 0;
      gap: 2.6rem;
    }
  }

  .slider-hits {
    .toy_card {
      @apply justify-center pb-0;
    }

    @media screen and (max-width: 930px) {
      .card_career {
        @apply mt-0 py-4;
      }
    }
  }

  .swiper-header {
    @apply my-40 flex w-5/6 justify-between;

    .buttons {
      @apply flex w-36 justify-between gap-8;

      .button-prev {
        display: block;
        background: url('../../img/prev.png') no-repeat center;
        background-size: 2rem 2rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .button-prev,
    .button-next {
      display: block;
      background: url('../../img/next.png') no-repeat center;
      background-size: 2rem 2rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

// добавил,т.к. в html !p-0 не переопределял стили
.swiper-detailed-page,
.swiper-detailed-page-video {
  padding: 0 !important;
}

.partners-ticker {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  @media screen and (max-width: 780px) {
    gap: 1.8rem;
  }
}

.partners-stroke {
  &.mobile {
    @apply hidden;

    @media screen and (max-width: 900px) {
      @apply block;
    }
  }

  .running-stroke {
    width: 100%;
    overflow: hidden;
    top: 0;
    white-space: nowrap;

    .marquee {
      white-space: nowrap;
      display: flex;
      justify-content: center;

      .swiper-slide {
        width: auto !important;
      }

      span {
        @apply text-6xl uppercase;
        color: #000000;

        @media screen and (max-width: 780px) {
          font-size: 2.7rem;
          line-height: 3.2rem;
        }
      }

      // img {
      //   display: inline;
      //   width: 4.8rem;
      //   height: 4.8rem;
      // }
    }
  }

  @keyframes marquee-partner {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee-partner-reverse {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(100%);
    }
  }
}

.eleph-run-moon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  video {
    margin: 0 auto;
    position: relative;
    width: 15rem;
  }

  /* Применяем анимацию к элементу */
  .spinning-moon {
    margin: 0 auto;
    width: 50.4rem;
    height: 50.4rem;
    animation: spin 20s linear infinite;

    @media screen and (max-width: 900px) {
      width: 32.4rem;
      height: 32.4rem;
    }

    @media screen and (max-width: 350px) {
      width: 22.4rem;
      height: 22.4rem;
    }

    &.moon-1 {
      width: 44.4rem;
      height: 44.4rem;
      left: 9rem;
      top: 4rem;
      position: absolute;

      @media screen and (max-width: 900px) {
        width: 32.4rem;
        height: 32.4rem;
        position: relative;
        left: 0;
        top: auto;
      }
    }

    &.moon-2 {
      width: 44.4rem;
      height: 44.4rem;
      right: 9rem;
      top: 4rem;
      position: absolute;

      @media screen and (max-width: 900px) {
        width: 32.4rem;
        height: 32.4rem;
        position: relative;
        right: 0;
        top: auto;
      }
    }
  }

  .text-on-moon {
    margin: 0 auto;
    bottom: 29rem;
    position: relative;
    text-align: center;

    @media screen and (max-width: 900px) {
      bottom: 20rem;
    }

    @media screen and (max-width: 350px) {
      bottom: 15rem;
    }

    &.moon-1 {
      width: 44.4rem;
      height: 44.4rem;
      left: 9rem;
      top: 20rem;
      position: absolute;

      @media screen and (max-width: 900px) {
        bottom: 17rem;
        left: 0;
        right: 0;
        top: auto;
      }
    }

    &.moon-2 {
      width: 44.4rem;
      height: 44.4rem;
      right: 9rem;
      top: 20rem;
      position: absolute;

      @media screen and (max-width: 900px) {
        bottom: -12rem;
        left: 0;
        right: 0;
        top: auto;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

#white-background {
  @apply relative mb-20 h-200 w-full items-center overflow-hidden bg-white pt-60;

  .slide-el {
    width: 10.4rem;
    z-index: 1000;
    height: 10.4rem;
    position: absolute;
    bottom: -2rem;
    transition: transform 2s ease;
  }

  .slide-el-2 {
    width: 10.4rem;
    z-index: 1000;
    height: 10.4rem;
    position: absolute;
    bottom: -0.1rem;
    transition: transform 2s ease;
  }
}

#yellow-moving-block {
  @apply absolute z-100 mx-auto my-0 h-180 overflow-hidden bg-white bg-yellow;
  box-shadow: inset 0px 1px 19px 4px #535353;
  left: -2rem;
  width: 110%;
}

#yellow-moving-block2 {
  @apply absolute z-100 mx-auto my-0 h-180 overflow-hidden bg-white bg-yellow;
  box-shadow: inset 0px 1px 19px 4px #535353;
  left: -2rem;
  width: 110%;
}

#parent {
  width: 99%;
  margin: auto;
  position: relative;
  height: 100%;
  overflow: hidden;
  /* Скрыть содержимое, выходящее за границы блока */
}

// rjvvtyndslfjslkf
//.elephant-swiper {
//  width: 100% !important;
//  height: auto!important;
//  padding: 0 3rem!important;
//  .swiper-header {
//    @apply flex justify-between my-40 w-5/6;
//    .buttons {
//      @apply flex justify-between w-36 gap-8;
//      .button-prev {
//        display: block;
//        background: url("../../img/prev.png") no-repeat center;
//        background-size: 2rem 2rem;
//        width: 2rem;
//        height: 2rem;
//      }
//      .button-next {
//        display: block;
//        background: url("../../img/next.png") no-repeat center;
//        background-size: 2rem 2rem;
//        width: 2rem;
//        height: 2rem;
//      }
//    }
//  }
//  .swiper-wrapper {
//    background:  url("../../img/elephant-slider/big-elephant.png") no-repeat center;
//  }
//}
.elephant-history {
  .slider-header {
    @apply my-40 flex w-5/6 justify-between;

    .buttons {
      @apply flex w-36 justify-between gap-8;

      .button-prev {
        display: block;
        background: url('../../img/prev.png') no-repeat center;
        background-size: 2rem 2rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }
      }

      .button-next {
        display: block;
        background: url('../../img/next.png') no-repeat center;
        background-size: 2rem 2rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

#elephant-container {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;

  &::-webkit-scrollbar-track {
    border-radius: 0.2rem;
  }

  &::-webkit-scrollbar {
    width: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.2rem;
    background: #acadad;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: #555555;
  }

  #elephant-slider {
    background-size: auto;
    width: 345rem;
    height: 95rem;
    position: relative;
    display: list-item;

    @media screen and (max-width: 768px) {
      left: -25rem;
    }

    .year-text {
      @apply text-5xl text-white;
      display: inline-block;
      position: absolute;
      z-index: 1001;

      &.up {
        bottom: 64.5rem;

        &.first {
          left: 36.5rem;
        }

        &.second {
          left: 62.5rem;
        }

        &.third {
          left: 103rem;
        }

        &.fourth {
          left: 130.5rem;
        }

        &.fifth {
          left: 170rem;
        }

        &.sixth {
          left: 196.5rem;
        }

        &.seventh {
          left: 235.5rem;
        }

        &.nine {
          left: 262.5rem;
        }

        &.ten {
          left: 288.5rem;
        }
      }

      &.bottom {
        top: 59rem;

        &.first {
          left: 83rem;
        }

        &.second {
          left: 150.5rem;
        }

        &.third {
          left: 217rem;
        }

        &.fourth {
          left: 249rem;
          top: 56rem;
        }

        &.fifth {
          left: 276.5rem;
          top: 56rem;
        }
      }
    }

    .elephant-dropdown {
      display: inline-block;
      position: absolute;
      z-index: 900;
      width: 20rem;

      &.upper {
        bottom: 63.5rem;

        &.first {
          left: 30.5rem;
        }

        &.second {
          left: 57rem;
        }

        &.third {
          left: 97rem;
        }

        &.fourth {
          left: 124rem;
        }

        &.fifth {
          left: 163.5rem;
        }

        &.sixth {
          left: 190rem;
        }

        &.seventh {
          left: 230rem;
        }

        &.nine {
          left: 256rem;
        }

        &.ten {
          left: 283rem;
        }
      }

      &.bottom {
        top: 58rem;

        &.first {
          left: 77.5rem;
        }

        &.second {
          left: 145rem;
        }

        &.third {
          left: 210rem;
        }

        &.fourth {
          left: 243rem;
          top: 56rem;
        }

        &.fifth {
          left: 270rem;
          top: 56rem;
        }
      }

      .color-block {
        &.bottom {
          border-bottom-left-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
          padding-top: 9rem;

          &.first {
            background-color: #fff145;
          }

          &.second {
            background-color: #33c15b;
          }

          &.third {
            background-color: #ff0053;
          }

          &.fourth {
            background-color: #ff8500;
          }

          &.fifth {
            background-color: #4498fc;
          }
        }

        &.upper {
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
          padding-bottom: 9rem;

          &.first {
            background-color: #fff145;
          }

          &.second {
            background-color: #33c15b;
          }

          &.third {
            background-color: #ff0053;
          }

          &.fourth {
            background-color: #ff8500;
          }

          &.fifth {
            background-color: #4498fc;
          }

          &.sixth {
            background-color: #fff145;
          }

          &.seventh {
            background-color: #33c15b;
          }

          &.nine {
            background-color: #ff0053;
          }

          &.ten {
            background-color: #ff8500;
          }
        }

        height: auto;

        .elephant-more-up-button {
          @apply flex w-full cursor-pointer flex-row items-center justify-end p-10 text-left text-m transition-all duration-500;

          span {
            background-image: url('../../img/arrow-down.svg');
            background-repeat: no-repeat;
            background-size: 1.6rem 1.6rem;
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 1rem;
          }

          &.active-js {
            span {
              background-image: url('../../img/arrow-down.svg');
              background-repeat: no-repeat;
              background-size: 1.6rem 1.6rem;
              width: 1.6rem;
              height: 1.6rem;
              margin-right: 1rem;
              transform: rotate(180deg);
            }
          }
        }

        .elephant-more-up-content {
          @apply invisible h-0 p-2;

          &.active-js {
            @apply visible h-auto;
          }
        }

        .elephant-more-down-button {
          @apply flex w-full cursor-pointer flex-row items-center justify-end p-10 text-left text-m transition-all duration-500;

          span {
            background-image: url('../../img/arrow-down.svg');
            background-repeat: no-repeat;
            background-size: 1.6rem 1.6rem;
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 1rem;
          }

          &.active-js {
            span {
              background-image: url('../../img/arrow-down.svg');
              background-repeat: no-repeat;
              background-size: 1.6rem 1.6rem;
              width: 1.6rem;
              height: 1.6rem;
              margin-right: 1rem;
              transform: rotate(180deg);
            }
          }
        }

        .elephant-more-down-content {
          @apply hidden p-2;

          &.active-js {
            @apply block;
          }
        }
      }
    }

    .body {
      @apply relative inline-block;
      width: 53.6rem;
      height: 65.6rem;
      left: -28rem;
      background: url('../../img/elephant-slider/elephant-body.png') no-repeat
        center;
      background-size: contain;
    }

    .trunk-one {
      @apply relative inline-block;
      z-index: 1000;
      width: 304rem;
      height: 42rem;
      left: -41.3rem;
      background: url('../../img/elephant-slider/trunk-1.png') no-repeat center;
      background-size: contain;
    }
  }
}

.quest-eleph {
  @apply h-full items-center bg-yellow;

  .images-block {
    @apply flex flex-row justify-center;

    img {
      width: 18rem;
      height: 24rem;

      @media screen and (max-width: 768px) {
        width: 10rem;
        height: 12rem;
      }
    }

    .zero {
      @apply relative flex items-center justify-center;
      width: 25rem;

      @media screen and (max-width: 768px) {
        width: 13rem;
      }

      video {
        @apply absolute;
        height: 27rem;
        width: 25rem;

        @media screen and (max-width: 768px) {
          height: 13rem;
          width: 13rem;
        }
      }
    }
  }
}

.desktop-map {
  @apply block;
  width: 100%;
  height: 50rem;

  @media screen and (max-width: 768px) {
    @apply hidden;
  }
}

.mobile-map {
  @apply hidden;

  @media screen and (max-width: 768px) {
    @apply mx-auto block;
    width: 100%;
    height: 45rem;
  }
}

.envelope-button {
  display: inline-block;
  background: url('../../img/envelope-header.svg') no-repeat center;
  background-size: 1rem 1rem;
  width: 1rem;
  height: 2rem;
  cursor: pointer;
}

.w-29rem {
  width: 29.6rem;
}

.marker {
  background-image: url('../../img/marker.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.block-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;

  .vertical-rl {
    @apply bg-yellow;
    writing-mode: vertical-rl;
  }

  @media screen and (max-width: 900px) {
    overflow: hidden;
    width: 225%;
    position: relative;
    left: -65%;
    right: -65%;
    .book_card_heading {
      width: 25rem;
    }
  }
}

.range {
  display: flex;
  flex-direction: column;
}

.range__slider {
  width: 100%;
}

.range__value {
  width: 100%;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group label {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #222;
}

.form-group span {
  font-size: 2rem;
  font-weight: 600;
  color: #3c3b3b;
}

.range__slider label {
  margin-bottom: 1rem;
}

.range__slider [type='range'] {
  width: 100%;
  -webkit-appearance: none;
  height: 0.3rem;
  border-radius: 0.6rem;
  background: #ffffff;
  outline: none;
  padding: 0;
  margin: 0;
}

/* custom thumb */
.range__slider [type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background: #ffffff;
  border: #000000 0.2rem solid;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range__slider [type='range']::-webkit-slider-thumb:hover {
  background: #fff145;
}

.range__slider [type='range']::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  border: 0;
  border-radius: 50%;
  background: #f0932b;
  border: #fff145 0.5rem solid;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.range__slider [type='range']::-moz-range-thumb:hover {
  background: #fff145;
}

/* remove border */
input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.content-block {
  display: none; /* По умолчанию блок скрыт */
  position: fixed;
  bottom: 5rem;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 100vh;
  overflow: scroll;
  background-color: rgb(255, 255, 255); /* Прозрачный фон */
  z-index: 9999; /* Большой z-index, чтобы блок был поверх всего */
  &.show {
    display: block;
  }
}

/* Стили содержимого блока */
.block-content {
  padding: 1.6rem 2.4rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #000000;

  li {
    @apply py-8 text-m;
  }

  p {
    @apply py-8 text-m;
  }
}
