<div id="yellow-background">
  <div id="moving-block"></div>
  <div id="white-mobile-background"></div>
  <div id="above-block">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium
      consequat nulla et tincidunt. Fusce lacinia dapibus est et suscipit. Morbi
      mollis semper leo, id eleifend est vehicula a. Nulla nec leo at ex congue
      facilisis vel id arcu. Aliquam erat volutpat. Nam et interdum leo. Duis
      non metus gravida, suscipit lacus sit amet, viverra enim. Maecenas rhoncus
      lacus urna, a vestibulum elit tincidunt et. Phasellus in est quis orci
      hendrerit mollis at et nibh. In hac habitasse platea dictumst. Suspendisse
      imperdiet libero ut erat molestie, eget euismod turpis venenatis.
      Curabitur dapibus nisl condimentum fermentum interdum. Sed sed laoreet
      enim. Donec faucibus posuere feugiat. Donec porta luctus purus in
      fringilla. Duis posuere, mi eu semper vestibulum, sapien quam convallis
      ex, in malesuada enim justo fringilla eros. Morbi egestas lobortis ligula,
      at ornare lacus blandit sit amet. Integer gravida nec nisl et ornare.
      Mauris dignissim neque mattis mi tincidunt, ut lobortis tellus dapibus.
      Proin nec luctus metus. Curabitur ac dapibus sem. Praesent molestie
      dignissim lacus, quis cursus ante euismod id. Vestibulum non ante
      pulvinar, imperdiet ante a, dapibus elit. Vestibulum a posuere metus.
      Curabitur ligula lacus, maximus vel velit non, blandit egestas nunc.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
      cubilia curae; Aliquam non convallis arcu. Aliquam erat volutpat. Proin
      finibus lectus pulvinar, iaculis arcu eu, tempor ante. Etiam lobortis
      vitae nibh eu laoreet. Donec in diam diam. Fusce ut maximus urna.
      Suspendisse sagittis tellus sit amet sodales convallis. Nunc pharetra odio
      quam, ac eleifend augue pharetra in. Proin porta eu metus sit amet rutrum.
      Donec ultricies vestibulum elementum. Vivamus imperdiet ac urna ut
      lacinia. Morbi porta diam a suscipit maximus. Praesent blandit placerat
      tortor, eu ultricies odio accumsan et. Maecenas sit amet ultrices nulla.
      Aliquam tincidunt rhoncus porta. Nunc luctus commodo accumsan. Maecenas
      mollis turpis at augue dapibus aliquet. Vestibulum quis nulla sit amet
      odio luctus tincidunt. Vivamus hendrerit lectus vitae condimentum
      elementum. Curabitur orci purus, sodales rhoncus elementum et, consequat
      ac felis. Praesent eu volutpat felis, feugiat bibendum elit. Maecenas id
      auctor enim, quis placerat lectus. Vivamus in neque in sem congue
      sollicitudin. Nullam finibus metus id lacinia posuere. Etiam dignissim
      arcu eros. Vivamus elementum turpis diam, nec porta tellus gravida at.
      Nullam consequat nisi dapibus, congue odio at, viverra felis. Morbi libero
      arcu, semper vitae scelerisque non, volutpat vitae arcu. Vestibulum
      venenatis at ligula sit amet lobortis.
    </p>
  </div>
</div>
