# Исключаем настройки PHPStorm
/.idea/

# Исключаем различные системные папки, файлы хостингов, операционных систем
/cgi-bin/
/awstats/
/webstat/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
.idea
.vscode
.github

# Исключаем всякое от node.js
.grunt
.npm
.env
node_modules
bower_components
yarn.lock
package-lock.json