// личные настройки
#above-block.card-fullpage-modified-above-block {
  @apply p-0;

}

#yellow-background.card-fullpage-modified-yellow-background {
  @apply h-auto;
}

.card-fullpage-modified-yellow-background:after {
  position: absolute;
  content: "";
  display: block;
  height: 50%;
  bottom: 0;
  background-color: white;
  width: 100%;
}


// остальные стили
//.card-fullpage{
//  @apply bg-white;
//}
.card-fullpage-main-info {
  @apply flex flex-row justify-between gap-16 items-start mb-64;
  @media screen and (max-width: 900px) {
    @apply flex-col;
  }
}

.card-fullpage-images {
  @apply flex flex-row-reverse gap-16 items-center;
  @media screen and (max-width: 500px) {
    @apply hidden;
  }
}

// breadcrumb-home.svg
.breadcrumbs {
  @media (max-width: 801px) {
    @apply hidden;
  }
}

.breadcrumbs-small-screen {
  @apply flex flex-row gap-8 flex-nowrap text-s text-text items-center;
  @media (min-width: 802px) {
    @apply hidden;
  }
  @media screen and (max-width: 480px) {
    @apply w-3/4;
  }
}

.breadcrumbs-small-screen-image {
  @apply w-20 h-20 block;
  background: url("../../img/card-fullpage/breadcrumb-home.svg") no-repeat center;
  background-size: contain;
}

.breadcrumbs-small-screen-dots {
  @apply relative;
}

.breadcrumbs-arrow {
  @apply absolute h-12 w-32 hidden;
  left: -1.1rem;
  background: url("../../img/card-fullpage/bread-arrow.svg") no-repeat center;
  background-size: contain;
}

.breadcrumbs-path-hidden-text {
  @apply absolute hidden bg-white z-10 p-16 flex flex-col gap-8;
  border: 1px solid black;
  width: 20rem;
  top: 2.9rem;
  left: -1.2rem;
}

.breadcrumbs-small-screen-dots:hover
.breadcrumbs-arrow {
  @apply block;
}

.breadcrumbs-small-screen-dots:hover
.breadcrumbs-path-hidden-text {
  @apply block;
}


.breadcrumbs-icons {
  @apply flex flex-row gap-16;
  @media (min-width: 801px) {
    @apply hidden;
  }
}

@media screen and (max-width: 480px) {
  .breadcrumbs-small-screen-path {
    @apply overflow-hidden whitespace-nowrap;
    text-overflow: ellipsis;
    max-width: calc(80%);
  }
}

.card-fullpage-description {
  @apply flex flex-row gap-12;
  flex-basis: 53rem;
}

.card-fp-desc-main {
  @apply flex flex-col gap-32 sm:px-12;
}

.card-fp-desc-top {
  @apply flex flex-col gap-16 items-start;
}

.card-fp-desc-header {
  @apply text-6xl font-medium;
  @media screen and (max-width: 700px) {
    @apply text-3xl
  }
}

.card-fp-desc-vendor-code {
  @apply text-text font-normal text-15.20;
}

.card-fp-desc-target-aud {
  @apply px-12 py-4 text-s inline-block font-medium rounded-3xl;
  border: 1px solid black;
}

.card-fp-desc-text {
  @apply flex flex-col gap-24 text-s;
}

.card-fp-desc-text-top {
  @apply text-15.20;
}

.js-mdb-author-button {
  @apply p-0 justify-start;
}

.card-fp-desc-text-full {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}

.card-fp-transparent-text {
  @apply relative
}

.card-fp-transparent-text:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none; /* so the text is still selectable */
}

.js-card-fp-hidden-item {
  @apply hidden;
}

.card-fp-desc-bottom {
  @apply flex flex-col items-start gap-16;
  @media screen and (max-width: 500px) {
    @apply items-stretch;
  }
}

.card-fp-desc-buy {
  @apply text-2.5xl font-medium;
}


.card-fp-desc-buy-buttons {
  @apply flex flex-row gap-16;
  @media screen and (max-width: 500px) {
    @apply justify-between;
  }
}

.card-fp-desc-buy-btn {
  @apply cursor-pointer;
  border: 1px solid black;
}

.c-fp-d-b-btn-1 {
  @apply px-24 py-14;
  width: 9.8rem;
  height: 4rem;
  background: url("../../img/card-fullpage/ozon.svg") no-repeat center;
  @media screen and (max-width: 500px) {
    @apply w-1/2;
  }
}

.c-fp-d-b-btn-2 {
  width: 15.5rem;
  height: 4rem;
  background: url("../../img/card-fullpage/wildberries.svg") no-repeat center;
  @media screen and (max-width: 500px) {
    @apply w-1/2;
  }
}

.js-item-to-hide-desc.js-card-fp-hidden-item {
  @apply hidden;
}


.card-fp-desc-buttons {
  @apply flex flex-col items-center gap-24;
  @media screen and (max-width: 800px) {
    @apply hidden;
  }
}

.bordered_tags_item-fp {
  @apply text-15.20 p-4 text-center w-30 h-30;
}

.item_card-external-link {
  @apply w-20 h-20 block;
  background: url("../../img/follow_the_link.svg") no-repeat center;
  background-size: contain;
}

.largeImg-wrapper {
  @apply relative;
  aspect-ratio: 1/1;
  max-width: 50.4rem;
  max-height: 50.4rem;
  flex-grow: 1;
}

.card-fullpage-tags {
  @apply absolute top-0 left-0 text-s bg-white;
}

.bordered_tags_item-hidden {
  @media (min-width: 769px) {
    @apply hidden;
  }
}

.largeImg {
  @apply w-full h-full object-cover;
}

//.thumbs {
//  @apply flex flex-col gap-14;
//}


.js-thumb-chosen {
  border: 3px solid #4498FC;
}


.thumbs a:hover {
}

.thumbs li {
  list-style: none;
  max-width: 7rem;
}

.thumbs {
  margin: 0;
  padding: 0;
}

.more-down-button.js-mdb {
  @apply p-0;
}

.more-down-button.js-mdb-desc {
  @apply p-0;
  max-width: 17rem;
}


// карточки брендов
.card-fullpage-card-brands {
  @apply flex flex-row gap-16 flex-nowrap mb-64;
  @media screen and (max-width: 900px) {
    @apply flex-col items-center;
  }
}

.card-fullpage-card-brand {
  @apply w-1/3;
  @media (min-width: 801px) and (max-width: 1000px) {
    @apply w-1/2;
  }
  @media (min-width: 601px) and (max-width: 800px) {
    @apply w-2/3;
  }
  @media screen and (max-width: 600px) {
    @apply w-full;
  }
}

// navigation
.navigation-flex {
  @apply flex-wrap flex-nowrap gap-16 items-center;
  @media screen and (max-width: 500px) {
    @apply grid grid-cols-3 text-s justify-between;
  }
}

.card-fullpage-tab {
  @apply text-15.20 font-medium py-10 px-16;
  @media screen and (max-width: 500px) {
    @apply text-s px-0;
  }
}

.card-fullpage-tabs {
  @apply mb-32;
  @media screen and (max-width: 500px) {
    @apply mb-16;
  }
}

// card-fullpage-desc-comp
.card-item-to-hide {

}

.card-fullpage-desc-image {
  @apply mb-64 w-full;
}

.js-card-fullpage-desc-image img {
  @apply w-full h-full object-cover;
}

.js-card-fullpage-desc-description {
  @apply flex flex-col gap-24 mb-64;
}

.js-card-fullpage-desc-description.gapped {
  @apply gap-64;
}

.more-down-button.js-mdb-desc-button {
  @apply justify-start p-0;
}

.card-fullpage-desc-common {
  @apply flex flex-col gap-24;
  max-width: 81.6rem;
}

.card-fullpage-desc-common-2 {
  @apply flex flex-col gap-20;
}

.card-header-text {
  @apply text-4xl font-medium;
  @media screen and (max-width: 800px) {
    @apply text-2xl;
  }
}

.card-descr-text {
  @apply text-15.20 font-normal;
}

.card-descr-text > ul > li {
  padding-left: 1rem;
}

.card-descr-text > ul > li:before {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0.4rem;
}

.card-fullpage-desc-header {
}

.card-fullpage-desc-text {
}

.card-fullpage-desc-block {
  @apply flex flex-row gap-20;
  @media screen and (max-width: 800px) {
    @apply flex-col;
  }
}

.card-fullpage-desc-block-reversed {
  @apply flex flex-row gap-20;
  @media screen and (max-width: 800px) {
    @apply flex-col-reverse;
  }
}

.card-fullpage-desc-block-img {
  @apply w-1/2;
  aspect-ratio: 4/3;
  @media screen and (max-width: 800px) {
    @apply w-auto;
  }
}

.card-fullpage-desc-block-img img {
  @apply w-full h-full object-cover;
}

.card-fullpage-desc-block-text {
  @apply w-1/2;
  @media screen and (max-width: 800px) {
    @apply w-auto;
  }
}

.more-card-header {

}

.more-card-text {

}

.card-fullpage-desc-more {
  @apply flex flex-row gap-16;
  @media screen and (max-width: 800px) {
    @apply flex-col items-center;
  }
}

.card-fullpage-desc-more-card {
  @apply flex flex-col gap-20 w-1/3;
  @media screen and (max-width: 800px) {
    @apply w-auto;
  }
}

.card-fullpage-desc-more-card-image {
  aspect-ratio: 4/3;
  max-width: 40rem;
  @media screen and (max-width: 800px) {
    max-width: 100%;
  }
}

.card-fullpage-desc-more-card-image img {
  @apply w-full h-full object-cover;
}

.card-fullpage-desc-more-card-text {
}

//
//
//
// card video
.card_video_item.full-width {
  max-width: 100%;
}

.card_video_item.full-width > .card_video_title {
  @apply hidden;
}

// photogallery wrapper
#white-background.card-fullpage-w-bg-modified {
  height: 51.9rem;
  width: 100%;
  padding: 0;
  margin-bottom: 6.4rem;
}

#yellow-moving-block.card-fullpage-w-bg-modified {
  height: 51.9rem;
  padding: 0;
  margin: 0;
  width: 100%;
}

#white-background {
  .slide-el.card-fullpage-slide-el-mod {
    bottom: -1.5rem;
  }
}

.swiper-image.swiper-header.sw-head-mod {
  @apply w-full mx-0;
}

#above-block.above-block-mod {
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
}

// стили для таба ХАРАКТЕРИСТИКИ
.card-fp-char-item:after {
  content: "";
  width: 100%;
  height: 0.1rem;
  position: absolute;
  bottom: -1.6rem;
  left: 0;
  background-color: #D9D9D9;
}

.card-fullpage-characteristics {
  @apply flex flex-row justify-between gap-16;
  @media screen and (max-width: 800px) {
    @apply flex-col gap-32;
  }
}

.card-fp-char-items {
  @apply flex flex-col gap-24;
  flex-basis: 50.4rem;
  flex-grow: 0;
  margin-right: 12rem;
  @media (min-width: 1001px) and (max-width: 1150px) {
    margin-right: 6rem;
  }
  @media (max-width: 1000px) {
    margin-right: 0;
  }
  @media screen and (max-width: 800px) {
    flex-basis: auto;
  }
}


// стили для компонента ИНСТРУКЦИИ
.card-fullpage-instruction {
  @apply flex flex-row gap-16 p-24  bg-yellow w-1/2;
  @media (min-width: 901px) and (max-width: 1100px) {
    @apply w-3/5;
  }
  @media (min-width: 701px) and (max-width: 900px) {
    @apply w-3/4;
  }
  @media screen and (max-width: 700px) {
    @apply flex-col w-full;
  }
}

.card-fullpage-instruction-text {
  @apply flex flex-row flex-nowrap items-start gap-16;
}

.card-fullpage-instruction-text-image {
  @apply w-20 h-20 block;
  background: url("../../img/download.svg") no-repeat center;
  background-size: contain;
  flex-basis: 2rem;
  flex-shrink: 0;
}

.card-fullpage-instruction-text-what {
  @apply text-2.5xl font-medium;
  flex-basis: 30rem;
  @media screen and (max-width: 700px) {
    @apply text-15.20;
    flex-basis: auto;
  }
}

.card-fullpage-instruction-button {
  @apply w-full text-15.20 font-medium p-0;
  max-width: 19rem;
  height: 4rem;
  @media screen and (max-width: 700px) {
    max-width: unset;
  }
}


// еще один слайдер
.card-fullpage-image-slider {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin-bottom: 3rem;
  @media (min-width: 501px) {
    @apply hidden;
  }
}

.card-fullpage-image-container {
  display: flex;
  width: 100%;
  aspect-ratio: 1/1;
  transition: transform 0.3s ease;
}

.card-fullpage-image-container img {
  width: 100%;
  height: auto;
}

.card-fullpage-dots-container {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.card-fullpage-dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  border: 1px solid black;
}

.card-fullpage-dot.active {
  background-color: rgba(0, 0, 0, 1);
}

///// my swiper
.slider-2 .swiper-container-3 {
  width: 100%;
  height: 100%;
}

.slider-2 .swiper-container-4 {
  width: 100%;
  height: 100%;
}

.slider__flex {
  display: flex;
  align-items: flex-start;
  @media screen and (max-width: 768px) {
    max-height: 100%;
  }
}

.slider__col {
  display: flex;
  flex-direction: column;
  max-width: 8.8rem;
  margin-right: 1.6rem;
}

.slider__prev,
.slider__next {
  cursor: pointer;
  text-align: center;
  font-size: 1.4rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider__prev:focus,
.slider__next:focus {
  outline: none;
}

//.slider__thumbs {
//  max-height: 50.4rem;
//}


.slider__thumbs .slider__image:hover {
  opacity: 1;
}

.slider__thumbs .swiper-slide-thumb-active .slider__image {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

.slider__images {
  width: 50.4rem;
  aspect-ratio: 1/1;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.slider__images .slider__image img {
  transition: 3s;
}


.slider__image {
  max-width: 8.8rem;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.swiper-slide_big {
  max-width: 50.4rem;
  aspect-ratio: 1/1;
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

.slider__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

// пагинация для свипера главных картинок
.swiper-pagination-2 .swiper-pagination-bullet {
  @apply w-[0.5rem] h-[0.5rem] border border-black bg-white;
}

.swiper-pagination-2 .swiper-pagination-bullet-active {
  @apply bg-black;
}