<div class="partners-stroke">
  <div class="swiper-container running-stroke">
    <div class="swiper-wrapper marquee">
      <div class="swiper-slide"> <div class="flex justify-center"><span>KARUSEL</span><img src="../../../img/marquee-elephant.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"><span>animaccord</span><img src="../../../img/marquee-elephant-2.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"><span>alfa group</span><img src="../../../img/marquee-elephant-3.png"></div> </div>
      <div class="swiper-slide"> <div class="flex justify-center"><span>wildberries</span><img src="../../../img/marquee-elephant-4.png"></div> </div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>BUKVOED</span><img src="../../../img/marquee-elephant-6.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>detskiy mir</span><img src="../../../img/marquee-elephant-7.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>wildberries</span><img src="../../../img/marquee-elephant-8.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>zapf creation</span><img src="../../../img/marquee-elephant.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>mga</span><img src="../../../img/marquee-elephant-2.png"></div></div>
    </div>
  </div>
</div>
<div class="partners-stroke">
  <div class="swiper-container-reverse running-stroke">
    <div class="swiper-wrapper marquee">
      <div class="swiper-slide"> <div class="flex justify-center"> <span>wildberries</span><img src="../../../img/marquee-elephant-8.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>zapf creation</span><img src="../../../img/marquee-elephant.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>mga</span><img src="../../../img/marquee-elephant-2.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"><span>wildberries</span><img src="../../../img/marquee-elephant-4.png"></div> </div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>BUKVOED</span><img src="../../../img/marquee-elephant-6.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>detskiy mir</span><img src="../../../img/marquee-elephant-7.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"><span>KARUSEL</span><img src="../../../img/marquee-elephant.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"><span>animaccord</span><img src="../../../img/marquee-elephant-2.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"><span>alfa group</span><img src="../../../img/marquee-elephant-3.png"></div> </div>
    </div>
  </div>
</div>
<div class="partners-stroke">
  <div class="swiper-container running-stroke">
    <div class="swiper-wrapper marquee">
      <div class="swiper-slide"> <div class="flex justify-center"><span>KARUSEL</span><img src="../../../img/marquee-elephant.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"><span>animaccord</span><img src="../../../img/marquee-elephant-2.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"><span>alfa group</span><img src="../../../img/marquee-elephant-3.png"></div> </div>
      <div class="swiper-slide"> <div class="flex justify-center"><span>wildberries</span><img src="../../../img/marquee-elephant-4.png"></div> </div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>BUKVOED</span><img src="../../../img/marquee-elephant-6.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>detskiy mir</span><img src="../../../img/marquee-elephant-7.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>wildberries</span><img src="../../../img/marquee-elephant-8.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>zapf creation</span><img src="../../../img/marquee-elephant.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>mga</span><img src="../../../img/marquee-elephant-2.png"></div></div>
    </div>
  </div>
</div>
<div class="partners-stroke mobile">
  <div class="swiper-container-reverse running-stroke">
    <div class="swiper-wrapper marquee">
      <div class="swiper-slide"> <div class="flex justify-center"> <span>detskiy mir</span><img src="../../../img/marquee-elephant-7.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>wildberries</span><img src="../../../img/marquee-elephant-8.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>zapf creation</span><img src="../../../img/marquee-elephant.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>mga</span><img src="../../../img/marquee-elephant-2.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"><span>KARUSEL</span><img src="../../../img/marquee-elephant.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"><span>animaccord</span><img src="../../../img/marquee-elephant-2.png"></div></div>
      <div class="swiper-slide"> <div class="flex justify-center"><span>alfa group</span><img src="../../../img/marquee-elephant-3.png"></div> </div>
      <div class="swiper-slide"> <div class="flex justify-center"><span>wildberries</span><img src="../../../img/marquee-elephant-4.png"></div> </div>
      <div class="swiper-slide"> <div class="flex justify-center"> <span>BUKVOED</span><img src="../../../img/marquee-elephant-6.png"></div></div>
    </div>
  </div>
</div>
<!--<div class="partners-stroke">&ndash;&gt;-->
  <!--  <div class="running-stroke">-->
  <!--    <div class="marquee reverse">-->
  <!--      <span>KARUSEL</span><img src="../../../img/marquee-elephant.png">-->
  <!--      <span>animaccord</span><img src="../../../img/marquee-elephant-2.png">-->
  <!--      <span>alfa group</span><img src="../../../img/marquee-elephant-3.png">-->
  <!--      <span>wildberries</span><img src="../../../img/marquee-elephant-4.png">-->
  <!--      <span>ozon</span><img src="../../../img/marquee-elephant-5.png">-->
  <!--      <span>BUKVOED</span><img src="../../../img/marquee-elephant-6.png">-->
  <!--      <span>detskiy mir</span><img src="../../../img/marquee-elephant-7.png">-->
  <!--      <span>wildberries</span><img src="../../../img/marquee-elephant-8.png">-->
  <!--      <span>MOOSE</span><img src="../../../img/marquee-elephant-9.png">-->
  <!--      <span>zapf creation</span><img src="../../../img/marquee-elephant.png">-->
  <!--      <span>chitay gorod</span><img src="../../../img/marquee-elephant-2.png">-->
  <!--      <span>mga</span><img src="../../../img/marquee-elephant-2.png">-->
  <!--      <span>KARUSEL</span><img src="../../../img/marquee-elephant.png">-->
  <!--      <span>animaccord</span><img src="../../../img/marquee-elephant-2.png">-->
  <!--      <span>alfa group</span><img src="../../../img/marquee-elephant-3.png">-->
  <!--      <span>wildberries</span><img src="../../../img/marquee-elephant-4.png">-->
  <!--      <span>ozon</span><img src="../../../img/marquee-elephant-5.png">-->
  <!--      <span>BUKVOED</span><img src="../../../img/marquee-elephant-6.png">-->
  <!--      <span>detskiy mir</span><img src="../../../img/marquee-elephant-7.png">-->
  <!--      <span>wildberries</span><img src="../../../img/marquee-elephant-8.png">-->
  <!--      <span>MOOSE</span><img src="../../../img/marquee-elephant-9.png">-->
  <!--      <span>zapf creation</span><img src="../../../img/marquee-elephant.png">-->
  <!--      <span>chitay gorod</span><img src="../../../img/marquee-elephant-2.png">-->
  <!--      <span>mga</span><img src="../../../img/marquee-elephant-2.png">-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div class="partners-stroke">-->
  <!--  <div class="running-stroke">-->
  <!--    <div class="marquee further">-->
  <!--      <span>KARUSEL</span><img src="../../../img/marquee-elephant.png">-->
  <!--      <span>animaccord</span><img src="../../../img/marquee-elephant-2.png">-->
  <!--      <span>alfa group</span><img src="../../../img/marquee-elephant-3.png">-->
  <!--      <span>wildberries</span><img src="../../../img/marquee-elephant-4.png">-->
  <!--      <span>ozon</span><img src="../../../img/marquee-elephant-5.png">-->
  <!--      <span>BUKVOED</span><img src="../../../img/marquee-elephant-6.png">-->
  <!--      <span>detskiy mir</span><img src="../../../img/marquee-elephant-7.png">-->
  <!--      <span>wildberries</span><img src="../../../img/marquee-elephant-8.png">-->
  <!--      <span>MOOSE</span><img src="../../../img/marquee-elephant-9.png">-->
  <!--      <span>zapf creation</span><img src="../../../img/marquee-elephant.png">-->
  <!--      <span>chitay gorod</span><img src="../../../img/marquee-elephant-2.png">-->
  <!--      <span>mga</span><img src="../../../img/marquee-elephant-2.png">-->
  <!--      <span>KARUSEL</span><img src="../../../img/marquee-elephant.png">-->
  <!--      <span>animaccord</span><img src="../../../img/marquee-elephant-2.png">-->
  <!--      <span>alfa group</span><img src="../../../img/marquee-elephant-3.png">-->
  <!--      <span>wildberries</span><img src="../../../img/marquee-elephant-4.png">-->
  <!--      <span>ozon</span><img src="../../../img/marquee-elephant-5.png">-->
  <!--      <span>BUKVOED</span><img src="../../../img/marquee-elephant-6.png">-->
  <!--      <span>detskiy mir</span><img src="../../../img/marquee-elephant-7.png">-->
  <!--      <span>wildberries</span><img src="../../../img/marquee-elephant-8.png">-->
  <!--      <span>MOOSE</span><img src="../../../img/marquee-elephant-9.png">-->
  <!--      <span>zapf creation</span><img src="../../../img/marquee-elephant.png">-->
  <!--      <span>chitay gorod</span><img src="../../../img/marquee-elephant-2.png">-->
  <!--      <span>mga</span><img src="../../../img/marquee-elephant-2.png">-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>
