<div class="swiper-image">
  <div class="swiper-header">
    <h3 class="head-3">Фотогалерея</h3>
    <div class="buttons">
      <div class="button-prev"></div>
      <div class="button-next"></div>
    </div>
  </div>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="card_photogallery_item">
        <img src="../../img/cards_photogallery_item.svg" alt="" />
        <div class="cards_photogallery_eye_image">
          <img
            class="cards_photogallery_eye_img"
            src="../../img/cards_photogallery_eye.svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card_photogallery_item">
        <img src="../../img/cards_photogallery_item.svg" alt="" />
        <div class="cards_photogallery_eye_image">
          <img
            class="cards_photogallery_eye_img"
            src="../../img/cards_photogallery_eye.svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card_photogallery_item">
        <img src="../../img/cards_photogallery_item.svg" alt="" />
        <div class="cards_photogallery_eye_image">
          <img
            class="cards_photogallery_eye_img"
            src="../../img/cards_photogallery_eye.svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card_photogallery_item">
        <img src="../../img/cards_photogallery_item.svg" alt="" />
        <div class="cards_photogallery_eye_image">
          <img
            class="cards_photogallery_eye_img"
            src="../../img/cards_photogallery_eye.svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card_photogallery_item">
        <img src="../../img/cards_photogallery_item.svg" alt="" />
        <div class="cards_photogallery_eye_image">
          <img
            class="cards_photogallery_eye_img"
            src="../../img/cards_photogallery_eye.svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card_photogallery_item">
        <img src="../../img/cards_photogallery_item.svg" alt="" />
        <div class="cards_photogallery_eye_image">
          <img
            class="cards_photogallery_eye_img"
            src="../../img/cards_photogallery_eye.svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="card_photogallery_item">
        <img src="../../img/cards_photogallery_item.svg" alt="" />
        <div class="cards_photogallery_eye_image">
          <img
            class="cards_photogallery_eye_img"
            src="../../img/cards_photogallery_eye.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
