<div class="swiper">
  <div class="swiper-header">
    <div class="flex"><h1 class="head-3">Книги о которых все говорят</h1><sup class="text-l underline pl-8 leading-sup-2">все</sup></div>
    <div class="buttons">
      <div class="button-prev"></div>
      <div class="button-next"></div>
    </div>

  </div>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="toy_card item_card">
        <div class="toy_card_heading">
          <div class="item_card_tags bordered_tags">
            <div class="item_card_tags_main bordered_tags_main">
              <div class="toy_card_tags_first bordered_tags_item body-s-bold">
                Бестселлер
              </div>
              <div class="toy_card_tags_second bordered_tags_item body-s-bold">
                Новинка
              </div>
            </div>
            <div class="toy_card_tags_age body-s-bold">8+</div>
          </div>
          <!--   у блока с картинкой position: relative, т.к. на top: 0 будет бешущая строка   -->
          <div class="toy_card_image item_card_image">
            <img
                    class="toy_card_img item_card_img"
                    src="../../img/cards_toy.svg"
                    alt=""
            />
          </div>
        </div>
        <div class="toy_card_info item_card_info">
          <div class="toy_card_name item_card_name">
            Арена для баттлов Инфинити Надо
          </div>
          <div class="toy_card_more item_card_more">
            <button class="toy_card_item_link item_card_link overline-button">
              Подробнее
            </button>
            <button class="item_card_add_to_favourite"> </button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="toy_card item_card">
        <div class="toy_card_heading">
          <div class="item_card_tags bordered_tags">
            <div class="item_card_tags_main bordered_tags_main">
              <div class="toy_card_tags_first bordered_tags_item body-s-bold">
                Бестселлер
              </div>
              <div class="toy_card_tags_second bordered_tags_item body-s-bold">
                Новинка
              </div>
            </div>
            <div class="toy_card_tags_age body-s-bold">8+</div>
          </div>
          <!--   у блока с картинкой position: relative, т.к. на top: 0 будет бешущая строка   -->
          <div class="toy_card_image item_card_image">
            <img
                    class="toy_card_img item_card_img"
                    src="../../img/cards_toy.svg"
                    alt=""
            />
          </div>
        </div>
        <div class="toy_card_info item_card_info">
          <div class="toy_card_name item_card_name">
            Арена для баттлов Инфинити Надо
          </div>
          <div class="toy_card_more item_card_more">
            <button class="toy_card_item_link item_card_link overline-button">
              Подробнее
            </button>
            <button class="item_card_add_to_favourite"> </button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="toy_card item_card">
        <div class="toy_card_heading">
          <div class="item_card_tags bordered_tags">
            <div class="item_card_tags_main bordered_tags_main">
              <div class="toy_card_tags_first bordered_tags_item body-s-bold">
                Бестселлер
              </div>
              <div class="toy_card_tags_second bordered_tags_item body-s-bold">
                Новинка
              </div>
            </div>
            <div class="toy_card_tags_age body-s-bold">8+</div>
          </div>
          <!--   у блока с картинкой position: relative, т.к. на top: 0 будет бешущая строка   -->
          <div class="toy_card_image item_card_image">
            <img
                    class="toy_card_img item_card_img"
                    src="../../img/cards_toy.svg"
                    alt=""
            />
          </div>
        </div>
        <div class="toy_card_info item_card_info">
          <div class="toy_card_name item_card_name">
            Арена для баттлов Инфинити Надо
          </div>
          <div class="toy_card_more item_card_more">
            <button class="toy_card_item_link item_card_link overline-button">
              Подробнее
            </button>
            <button class="item_card_add_to_favourite"> </button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="toy_card item_card">
        <div class="toy_card_heading">
          <div class="item_card_tags bordered_tags">
            <div class="item_card_tags_main bordered_tags_main">
              <div class="toy_card_tags_first bordered_tags_item body-s-bold">
                Бестселлер
              </div>
              <div class="toy_card_tags_second bordered_tags_item body-s-bold">
                Новинка
              </div>
            </div>
            <div class="toy_card_tags_age body-s-bold">8+</div>
          </div>
          <!--   у блока с картинкой position: relative, т.к. на top: 0 будет бешущая строка   -->
          <div class="toy_card_image item_card_image">
            <img
                    class="toy_card_img item_card_img"
                    src="../../img/cards_toy.svg"
                    alt=""
            />
          </div>
        </div>
        <div class="toy_card_info item_card_info">
          <div class="toy_card_name item_card_name">
            Арена для баттлов Инфинити Надо
          </div>
          <div class="toy_card_more item_card_more">
            <button class="toy_card_item_link item_card_link overline-button">
              Подробнее
            </button>
            <button class="item_card_add_to_favourite"> </button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="toy_card item_card">
        <div class="toy_card_heading">
          <div class="item_card_tags bordered_tags">
            <div class="item_card_tags_main bordered_tags_main">
              <div class="toy_card_tags_first bordered_tags_item body-s-bold">
                Бестселлер
              </div>
              <div class="toy_card_tags_second bordered_tags_item body-s-bold">
                Новинка
              </div>
            </div>
            <div class="toy_card_tags_age body-s-bold">8+</div>
          </div>
          <!--   у блока с картинкой position: relative, т.к. на top: 0 будет бешущая строка   -->
          <div class="toy_card_image item_card_image">
            <img
                    class="toy_card_img item_card_img"
                    src="../../img/cards_toy.svg"
                    alt=""
            />
          </div>
        </div>
        <div class="toy_card_info item_card_info">
          <div class="toy_card_name item_card_name">
            Арена для баттлов Инфинити Надо
          </div>
          <div class="toy_card_more item_card_more">
            <button class="toy_card_item_link item_card_link overline-button">
              Подробнее
            </button>
            <button class="item_card_add_to_favourite"> </button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="toy_card item_card">
        <div class="toy_card_heading">
          <div class="item_card_tags bordered_tags">
            <div class="item_card_tags_main bordered_tags_main">
              <div class="toy_card_tags_first bordered_tags_item body-s-bold">
                Бестселлер
              </div>
              <div class="toy_card_tags_second bordered_tags_item body-s-bold">
                Новинка
              </div>
            </div>
            <div class="toy_card_tags_age body-s-bold">8+</div>
          </div>
          <!--   у блока с картинкой position: relative, т.к. на top: 0 будет бешущая строка   -->
          <div class="toy_card_image item_card_image">
            <img
                    class="toy_card_img item_card_img"
                    src="../../img/cards_toy.svg"
                    alt=""
            />
          </div>
        </div>
        <div class="toy_card_info item_card_info">
          <div class="toy_card_name item_card_name">
            Арена для баттлов Инфинити Надо
          </div>
          <div class="toy_card_more item_card_more">
            <button class="toy_card_item_link item_card_link overline-button">
              Подробнее
            </button>
            <button class="item_card_add_to_favourite"> </button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="toy_card item_card">
        <div class="toy_card_heading">
          <div class="item_card_tags bordered_tags">
            <div class="item_card_tags_main bordered_tags_main">
              <div class="toy_card_tags_first bordered_tags_item body-s-bold">
                Бестселлер
              </div>
              <div class="toy_card_tags_second bordered_tags_item body-s-bold">
                Новинка
              </div>
            </div>
            <div class="toy_card_tags_age body-s-bold">8+</div>
          </div>
          <!--   у блока с картинкой position: relative, т.к. на top: 0 будет бешущая строка   -->
          <div class="toy_card_image item_card_image">
            <img
                    class="toy_card_img item_card_img"
                    src="../../img/cards_toy.svg"
                    alt=""
            />
          </div>
        </div>
        <div class="toy_card_info item_card_info">
          <div class="toy_card_name item_card_name">
            Арена для баттлов Инфинити Надо
          </div>
          <div class="toy_card_more item_card_more">
            <button class="toy_card_item_link item_card_link overline-button">
              Подробнее
            </button>
            <button class="item_card_add_to_favourite"> </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
