<section class="animate-section @@standardMargin" data-animate="parent">
    <div class="animate-section__inner bg-yellow">
        <div class="animate-section__items">
            <div class="animate-section__lines">
                <div class="animate-section__line-top" data-animate="line"></div>
                <div class="animate-section__line-bottom" data-animate="line"></div>
            </div>
            <div class="animate-section__follower " data-animate="follower-parent">
                <img src="@@urlFollower" class="animate-section__follower-item @@followerClass" width="106" height="100" data-animate="follower" alt="Слон">
            </div>
        </div>
        <div class="container">
            @@if (this.card === 'text') {
                <div class="animate-section__content mx-auto text-center max-w-[78rem]">
                <h2 class="head-3">Блок с подложкой 1</h2>
                <div class="mt-24">
                    <p>
                        Таким образом, убеждённость некоторых оппонентов прекрасно подходит для реализации новых принципов формирования материально-технической и кадровой базы. Задача организации, в особенности же высококачественный прототип будущего проекта, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для экономической целесообразности принимаемых решений.
                    </p>
                    <p class="mt-16">
                        Господа, укрепление и развитие внутренней структуры, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты для поэтапного и последовательного развития общества. Являясь всего лишь частью общей картины, многие известные личности превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
                    </p>
                </div>
            </div>
            }
            @@if (this.card === 'slider') {
                <div class="animate-section__content">
                    @@include('../sections/_slider-section.html', {
                    title: 'Фотогалерея',
                    card: 'cardPhoto',
                    counterPagination: 'false',
                    standardMargin:''
                    })
                    }
                </div>
        </div>
    </div>
</section>