<section class="slider-section @@standardMargin" data-slider-section>
    <div class="container">
        @@if (!this.paginationBottom) {
            <header class="slider-section__header">
                <h2 class="slider-section__title head-3">@@title</h2>
                @@if (this.counterPagination === 'true') {
                    <div class="swiper-counter -translate-y-1.5" data-slider-counter></div>
                }
                <div class="swiper-arrows" data-slider-arrows>
                    @@include("../components/_slider-arrows.html")
                </div>
            </header>
        }
        @@if (this.paginationBottom === 'true') {
            <h2 class="sr-only">@@title</h2>
        }
        @@if (this.card === 'cardInfographics') {
            <div class="swiper" data-slider data-slide-count='{"default":1.2, "sm":1.5, "md":2.2, "lg":3, "xl":3}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        @@include("../cards/_card-infographics.html", {
                        text:"Предварительно зарядить блэйд с помощью USB-провода.",
                        imgUrl:"../img/books-58x58.svg",
                        dopClass: 'min-h-[27rem]',
                        borderClass: 'card-infographics--border'
                        }, )
                    </div>
                    <div class="swiper-slide">
                        @@include("../cards/_card-infographics.html", {
                        text:"Предварительно зарядить блэйд с помощью USB-провода.",
                        imgUrl:"../img/books-58x58.svg",
                        dopClass: 'min-h-[27rem]',
                        borderClass: 'card-infographics--border'
                        }, )
                    </div>
                    <div class="swiper-slide">
                        @@include("../cards/_card-infographics.html", {
                        text:"Предварительно зарядить блэйд с помощью USB-провода.",
                        imgUrl:"../img/books-58x58.svg",
                        dopClass: 'min-h-[27rem]',
                        borderClass: 'card-infographics--border'
                        }, )
                    </div>
                    <div class="swiper-slide">
                        @@include("../cards/_card-infographics.html", {
                        text:"Предварительно зарядить блэйд с помощью USB-провода.",
                        imgUrl:"../img/books-58x58.svg",
                        dopClass: 'min-h-[27rem]',
                        borderClass: 'card-infographics--border'
                        }, )
                    </div>
                </div>
            </div>
        }
        @@if (this.card === 'cardLogo') {
            <div class="swiper" data-slider data-slide-count='{"default":2, "sm":2, "md":3, "lg":4, "xl":5}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        @@include("../cards/_card-logo.html", {
                        imgUrl:"../img/logos/main-logo-big.svg"
                        }, )
                    </div>
                </div>
            </div>
        }
        @@if (this.card === 'cardVideo') {
            <div class="swiper" data-slider data-slide-count='{"default":1, "sm":2, "md":3, "lg":4, "xl":4}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        @@include("../cards/_card-video.html", {
                        imgUrl:"../img/catalog-project/catalog-project-pr-1.png"
                        }, )
                    </div>
                    <div class="swiper-slide">
                        @@include("../cards/_card-video.html", {
                        imgUrl:"../img/catalog-project/catalog-project-2.png"
                        }, )
                    </div>
                </div>
            </div>
        }
        @@if (this.card === 'monoImage') {
            <div class="swiper" data-slider>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        @@include("../cards/_card-mono-image.html", {
                        imgUrl:"../img/catalog-project/catalog-project-pr-1.png",
                        imageAspectRatio: 'aspect-[1.85/1]'
                        }, )
                    </div>
                    <div class="swiper-slide">
                        @@include("../cards/_card-mono-image.html", {
                        imgUrl:"../img/catalog-project/catalog-project-2.png",
                        imageAspectRatio: 'aspect-[1.85/1]'
                        }, )
                    </div>
                </div>
            </div>
        }
        @@if (this.card === 'monoImageThin') {
            <div class="swiper" data-slider>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        @@include("../cards/_card-mono-image.html", {
                        imgUrl:"../img/dev-test/test-thin-banner.png",
                        imageAspectRatio: 'aspect-[3.43/1]'
                        }, )
                    </div>
                    <div class="swiper-slide">
                        @@include("../cards/_card-mono-image.html", {
                        imgUrl:"../img/dev-test/test-thin-banner.png",
                        imageAspectRatio: 'aspect-[3.43/1]'
                        }, )
                    </div>
                </div>
            </div>
        }
        @@if (this.card === 'cardOffer') {
            <div class="swiper" data-slider>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        @@include("../cards/_card-offer.html", {
                        imgUrl:"../img/catalog-project/catalog-project-pr-1.png"
                        }, )
                    </div>
                    <div class="swiper-slide">
                        @@include("../cards/_card-offer.html", {
                        imgUrl:"../img/catalog-project/catalog-project-2.png"
                        }, )
                    </div>
                </div>
            </div>
        }

        @@if (this.card === 'cardPhoto') {
        <div class="swiper" data-slider data-slide-count='{"default":1, "sm":2, "md":3, "lg":4, "xl":4}'>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    @@include("../cards/_card-photo.html", {
                    imgUrl:"../../img/catalog-vacancies/image-square.png"
                    }, )
                </div>
                <div class="swiper-slide">
                    @@include("../cards/_card-photo.html", {
                    imgUrl:"../../img/catalog-vacancies/image-square.png"
                    }, )
                </div>
                <div class="swiper-slide">
                    @@include("../cards/_card-photo.html", {
                    imgUrl:"../../img/catalog-vacancies/image-square.png"
                    }, )
                </div>
                <div class="swiper-slide">
                    @@include("../cards/_card-photo.html", {
                    imgUrl:"../../img/catalog-vacancies/image-square.png"
                    }, )
                </div>
                <div class="swiper-slide">
                    @@include("../cards/_card-photo.html", {
                    imgUrl:"../../img/catalog-vacancies/image-square.png"
                    }, )
                </div>
                <div class="swiper-slide">
                    @@include("../cards/_card-photo.html", {
                    imgUrl:"../../img/catalog-vacancies/image-square.png"
                    }, )
                </div>
            </div>
        </div>
        }

        @@if (this.paginationBottom === 'true') {
            <footer class="slider-section__footer">
                <div class="swiper-dots grow" data-slider-dots></div>
                <div class="swiper-arrows" data-slider-arrows>
                    @@include("../components/_slider-arrows.html")
                </div>
            </footer>
        }
    </div>
</section>