<div class="js_popup_all_filters_modal modal">
  <div class="popup_all_filters_content !gap-40 !p-0">
    <div class="popup_all_filters_heading bg-background px-24 py-16">
      <div class="popup_all_filters_header !items-center">
        <div class="flex flex-row flex-nowrap items-center gap-16">
          
          <div class="flex flex-row flex-nowrap items-center gap-8">
            <button class="p-0 h-20 w-20 block">
              <img class="h-10 w-10" src="../../img/card-fullpage/arrow-small-backward.svg" alt="">
            </button>
            <div class="text-s">
              Евгений Гаглоев. «Иллюзион» фрагмент
            </div>
          </div>
          
          <div class="button-black cursor-pointer">
            Купить полную версию
          </div>
        </div>
        
        <div
          class="js_popup_all_filters_close_button
           ui-popup-close-button"
        ></div>
      
      </div>
    
    
    </div>

    <div class="flex flex-row flex-nowrap items-center justify-end">
      <div class="pup-buttons flex flex-row flex-nowrap gap-16 pr-24">
        <div class="bg-prev-arrow bg-center h-20 w-20 block"></div>
        <div class="bg-next-arrow bg-center h-20 w-20 block"></div>
      </div>
    </div>

  </div>
</div>