<div id="js_popup_all_filters_modal" class="modal sm:!pt-[20rem]">
  <div
    class="popup_all_filters_content !gap-40 !p-0 !pb-60 md:mb-20 sm:bg-grey"
  >

    <!-- js_popup_all_filters_button swiper-slide-visible   -->
    <div
      class="popup_all_filters_heading !gap-16 bg-background px-24 py-16 sm:px-12"
    >
      <div class="popup_all_filters_header !items-center">
        <div class="flex flex-row flex-nowrap items-center gap-16">
          <div class="flex flex-row flex-nowrap items-center">
            <div class="block h-10 w-20 p-0">
              <img
                class="h-10 w-6"
                src="../../img/card-fullpage/arrow-small-backward.svg"
                alt=""
              />
            </div>
            <div class="text-s">Евгений Гаглоев. «Иллюзион» фрагмент</div>
          </div>

          <div
            class="button-black block cursor-pointer !px-16 !py-12 text-15.20 font-medium sm:hidden"
          >
            Купить полную версию
          </div>
        </div>

        <div
          class="js_popup_all_filters_close_button ui-popup-close-button"
        ></div>
      </div>

      <div
        class="flex hidden flex-row flex-nowrap items-center justify-between sm:flex"
      >
        <div class="link-s-bold">Купить полную версию</div>
        <div class="flex flex-row flex-nowrap text-s">
          Страница: &nbsp <span class="slider-page">5</span>&nbspиз&nbsp<span>
            456
          </span>
        </div>
      </div>
    </div>

    <!--  основное описание и часть текста книги  -->

    <div class="swiper-book-fragment overflow-hidden">
      <div
        class="mb-40 flex flex-row flex-nowrap items-center justify-end sm:hidden"
      >
        <div class="pup-buttons flex flex-row flex-nowrap gap-24 pr-24">
          <div
            class="button-prev block h-20 w-20 bg-prev-arrow bg-center"
          ></div>
          <div
            class="button-next block h-20 w-20 bg-next-arrow bg-center"
          ></div>
        </div>
      </div>
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper !items-end">
        <!-- Slides -->
        <div class="swiper-slide">
          @@include('../../ui-kit/popups/soderzh-pages/page-1.html', {})
        </div>
        <div class="swiper-slide">
          @@include('../../ui-kit/popups/soderzh-pages/page-2.html', {})
        </div>
        <div class="swiper-slide">
          @@include('../../ui-kit/popups/soderzh-pages/page-3.html', {})
        </div>
        <div class="swiper-slide">
          @@include('../../ui-kit/popups/soderzh-pages/page-1.html', {})
        </div>
        <div class="swiper-slide">
          @@include('../../ui-kit/popups/soderzh-pages/page-2.html', {})
        </div>
        <div class="swiper-slide">
          @@include('../../ui-kit/popups/soderzh-pages/page-3.html', {})
        </div>
      </div>
    </div>
    <!--  тут будет ползунок для  прокрутки -->
    <div
      class="relative block flex flex-col items-end gap-8 px-24 sm:hidden sm:px-12"
    >
      <div class="slide-main-cont w-full">
        <input
          type="range"
          min="1"
          max="456"
          value="1"
          id="my-range-main"
          class="slider-main w-full"
        />
      </div>
      <div class="flex flex-row flex-nowrap text-2.5xl text-text">
        Страница: &nbsp <span class="slider-page">5</span>&nbspиз&nbsp<span>
          456
        </span>
      </div>
    </div>
  </div>
</div>
