<div class="js_popup_wishlist_sort_modal modal !p-0">
  <div class="flex flex-col gap-16">
    <form id="filter-form-1" class="filters-block filter-form-brands-result !w-full bg-white">
      <div class="popup_all_filters_header !items-center bg-white !pr-12">
        <div class="popup_all_filters_header_text !p-12">Сортировка</div>
        <div class="js_popup_brand_filters_close_button ui-popup-close-button"></div>
      </div>
      <div class="more-down">
        <div class="p-12">
          <label class="checkbox-container">
            <input type="radio" name="sort-by" />
            <span class="checkmark"></span>
            Сначала новые
          </label>
          <label class="checkbox-container">
            <input type="radio" name="sort-by" />
            <span class="checkmark"></span>
            Сначала старые
          </label>
          <label class="checkbox-container">
            <input type="radio" name="sort-by" />
            <span class="checkmark"></span>
            А-Я
          </label>
          <label class="checkbox-container">
            <input type="radio" name="sort-by" />
            <span class="checkmark"></span>
            Я-А
          </label>
          <button class="button-black my-10 w-full text-15.20 font-medium">
            Применить
          </button>
          <input type="reset" class="button-white my-10 w-full text-15.20 font-medium" />
        </div>
      </div>
    </form>
  </div>
</div>