<div id="js_popup_wishlist_filters_modal" class="modal !p-0">
  <div class="flex flex-col gap-16">
    <form
      id="filter-form-1"
      class="filters-block filter-form-brands-result !w-full bg-white"
    >
      <div class="popup_all_filters_header !items-center bg-white p-12">
        <div class="popup_all_filters_header_text">Фильтры</div>
        <div
          class="js_popup_brand_filters_close_button ui-popup-close-button"
        ></div>
      </div>
      <div class="more-down">
        <div class="p-12">
          <h3 class="body-l my-14 font-semibold">Категории</h3>
          <label class="checkbox-container gap-8">
            <input type="radio" name="category" />
            <span class="checkmark"></span>
            Игрушки
          </label>
          <label class="checkbox-container gap-8">
            <input type="radio" name="category" />
            <span class="checkmark"></span>
            Книги
          </label>
          <label class="checkbox-container gap-8">
            <input type="radio" name="category" />
            <span class="checkmark"></span>
            Для школы
          </label>
          <label class="checkbox-container gap-8">
            <input type="radio" name="category" />
            <span class="checkmark"></span>
            Для творчества
          </label>
          <label class="checkbox-container gap-8">
            <input type="radio" name="category" />
            <span class="checkmark"></span>
            Для праздника
          </label>
        </div>

        <div class="p-12">
          <h3 class="body-l my-14 font-semibold">Наличие товаров</h3>
          <label class="checkbox-container gap-8">
            <input type="radio" name="exist" />
            <span class="checkmark"></span>
            Неважно
          </label>
          <label class="checkbox-container gap-8">
            <input type="radio" name="exist" />
            <span class="checkmark"></span>
            В наличие
          </label>
          <label class="checkbox-container gap-8">
            <input type="radio" name="exist" />
            <span class="checkmark"></span>
            Нет в наличие
          </label>
        </div>
        <div class="flex flex-col gap-10 px-12 pb-24">
          <button class="button-black w-full text-15.20 font-medium">
            Применить
          </button>
          <input
            type="reset"
            class="button-white w-full text-15.20 font-medium"
          />
        </div>
      </div>
    </form>
  </div>
</div>
