<button class="contact-us-ru-button-js">Связаться с нами РУ</button>

<div class="contact-us-ru-popup-js">
  <div class="content-contact-us-ru-popup-js">
    <div class="header_contact-us-ru-popup_js">
      <div class="text_contact-us-ru-popup_js">Свяжитесь с нами</div>
      <span class="close_contact-us-ru-popup_js"></span>
    </div>
    <div class="body_contact-us-ru-popup_js">
      <div class="item_contact-us-ru-popup_js">
        <div class="item_text">Письмо директору</div>
        <div class="popup-arrow">
          <img src="src/img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="item_contact-us-ru-popup_js">
        <div class="item_text">Заявка на партнерство</div>
        <div class="popup-arrow">
          <img src="src/img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="item_contact-us-ru-popup_js">
        <div class="item_text">Отправить резюме</div>
        <div class="popup-arrow">
          <img src="src/img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="item_contact-us-ru-popup_js">
        <div class="item_text">Подписаться на рассылку</div>
        <div class="popup-arrow">
          <img src="src/img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="item_contact-us-ru-popup_js">
        <div class="item_text">СМИ</div>
        <div class="popup-arrow">
          <img src="src/img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="item_contact-us-ru-popup_js">
        <div class="item_text">Блогерам</div>
        <div class="popup-arrow">
          <img src="src/img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="item_contact-us-ru-popup_js">
        <div class="item_text">Задать вопрос по игрушкам</div>
        <div class="popup-arrow">
          <img src="src/img/popup_arrow.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<button class="contact-us-ru-button-js">Contact us ENG</button>

<div class="contact-us-ru-popup-js">
  <div class="content-contact-us-ru-popup-js">
    <div class="header_contact-us-ru-popup_js">
      <div class="text_contact-us-ru-popup_js">Contact us</div>
      <span class="close_contact-us-ru-popup_js"></span>
    </div>
    <div class="body_contact-us-ru-popup_js">
      <div class="item_contact-us-ru-popup_js">
        <div class="item_text">Letter to the director</div>
        <div class="popup-arrow">
          <img src="src/img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="item_contact-us-ru-popup_js">
        <div class="item_text">Application for partnership</div>
        <div class="popup-arrow">
          <img src="src/img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="item_contact-us-ru-popup_js">
        <div class="item_text">Send resume</div>
        <div class="popup-arrow">
          <img src="src/img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="item_contact-us-ru-popup_js">
        <div class="item_text">Subscribe to the newsletter</div>
        <div class="popup-arrow">
          <img src="src/img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="item_contact-us-ru-popup_js">
        <div class="item_text">Media</div>
        <div class="popup-arrow">
          <img src="src/img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="item_contact-us-ru-popup_js">
        <div class="item_text">Bloggers</div>
        <div class="popup-arrow">
          <img src="src/img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="item_contact-us-ru-popup_js">
        <div class="item_text">Ask a question about toys</div>
        <div class="popup-arrow">
          <img src="src/img/popup_arrow.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
