<div class="js_popup_brand_choose_modal modal">
  <div class="popup_brand_choose_content">
    <div class="popup_brand_choose_header">
      <span
        class="js_popup_brand_choose_close_button ui-popup-close-button"
      ></span>
    </div>
    <div class="popup_brand_choose_search_selectors">
      <div
        class="search-container popup_brand_choose_search_line pup_brand_selector !border-black"
      >
        <img src="../../img/search_item.svg" alt="" />
        <input
          type="text"
          placeholder="Поиск по брендам"
          class="input pup_brand_input"
        />
      </div>
      <div
        class="more-down-filters no-padds no-after max-w-[20rem] border border-black surfaceduo:max-w-[100rem]"
      >
        <button class="more-down-button with-padds new">
          Сортировать по<span></span>
        </button>
        <!--  more-down -->
        <div class="more-down-content new">
          <label class="checkbox-container">
            <input type="radio" name="sort-by" />
            <span class="checkmark"></span>
            Сначала новые
          </label>
          <label class="checkbox-container">
            <input type="radio" name="sort-by" />
            <span class="checkmark"></span>
            Сначала старые
          </label>
          <label class="checkbox-container">
            <input type="radio" name="sort-by" />
            <span class="checkmark"></span>
            А-Я
          </label>
          <label class="checkbox-container">
            <input type="radio" name="sort-by" />
            <span class="checkmark"></span>
            Я-А
          </label>
        </div>
      </div>
    </div>

    <div class="popup_brand_choose_brands">
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb1" />
        <label for="check-ppb1" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb2" />
        <label for="check-ppb2" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb3" />
        <label for="check-ppb3" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb4" />
        <label for="check-ppb4" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb5" />
        <label for="check-ppb5" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb6" />
        <label for="check-ppb6" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb7" />
        <label for="check-ppb7" class="check-ppb-label"> </label>
      </div>

      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb8" />
        <label for="check-ppb8" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb9" />
        <label for="check-ppb9" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb10" />
        <label for="check-ppb10" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb11" />
        <label for="check-ppb11" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb12" />
        <label for="check-ppb12" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb13" />
        <label for="check-ppb13" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb14" />
        <label for="check-ppb14" class="check-ppb-label"> </label>
      </div>

      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb15" />
        <label for="check-ppb15" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb16" />
        <label for="check-ppb16" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb17" />
        <label for="check-ppb17" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb18" />
        <label for="check-ppb18" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb19" />
        <label for="check-ppb19" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb20" />
        <label for="check-ppb20" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb21" />
        <label for="check-ppb21" class="check-ppb-label"> </label>
      </div>

      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb22" />
        <label for="check-ppb22" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb23" />
        <label for="check-ppb23" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb24" />
        <label for="check-ppb24" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb25" />
        <label for="check-ppb25" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb26" />
        <label for="check-ppb26" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb27" />
        <label for="check-ppb27" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb28" />
        <label for="check-ppb28" class="check-ppb-label"> </label>
      </div>

      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb29" />
        <label for="check-ppb29" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb30" />
        <label for="check-ppb30" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb31" />
        <label for="check-ppb31" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb32" />
        <label for="check-ppb32" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb33" />
        <label for="check-ppb33" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb34" />
        <label for="check-ppb34" class="check-ppb-label"> </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt="" />
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppb35" />
        <label for="check-ppb35" class="check-ppb-label"> </label>
      </div>
    </div>
  </div>
</div>
