<div class="popup-blockchain js_popup_blockchain_eng_modal modal">
  <div class="popup_blockchain_content">
    <span class="js_popup_blockchain_close_button ui-popup-close-button"></span>
    <div class="popup_blockchain_body">
      <div class="popup_blockchain_text_fields">
        <div class="popup_blockchain_main_info">
          <div class="popup_blockchain_header">
            The document is registered in the Blockchain network
          </div>
          <div class="popup_blockchain_description">
            The links below confirm that this license was issued specifically
            for Rosman
          </div>
        </div>
        <div class="popup_blockchain_transaction_info">
          <div class="popup_blockchain_transaction_info_items">
            <div class="popup_blockchain_transaction_info_header">
              Transaction Hash:
            </div>
            <div class="popup_blockchain_transaction_info_images">
              <div class="popup_blockchain_transaction_info_question_img">
                <div class="popup_blockchain_transaction_hash hit_boxshadow">
                  TxHash или хэш транзакции - это уникальный 66-символьный
                  идентификатор, который генерируется каждый раз, когда
                  выполняется транзакция.
                </div>
              </div>
              <span class="popup_blockchain_transaction_info_cards"></span>
            </div>
          </div>
          <div class="popup_blockchain_transaction_info_number">
            0xd4088777b2c37c1e6fdd1ce48a5f96d89d6b0743de7a3e89040bb2c4ba081248
          </div>
        </div>
      </div>

      <div class="popup_blockchain_go_out_buttons popup_btns">
        <a
          href="#"
          class="popup_blockchain_etherscan_button button-black go-out-btn"
        >
          Etherscan <span class="go_out_black_img"></span>
        </a>
        <a
          href="#"
          class="popup_blockchain_opensea_button button-white go-out-btn"
        >
          Open Sea <span class="go_out_white_img"></span>
        </a>
      </div>
    </div>
  </div>
</div>
