<div class="js_popup_contact_us_ru_modal modal">
  <div class="popup_contact_us_content modal-content">
    <div class="popup_contact_us_header">
      <div class="popup_contact_us_text">Свяжитесь с нами</div>
      <span
        class="js_popup_contact_us_close_button ui-popup-close-button"
      ></span>
    </div>
    <div class="js_contact_us_popup_body">
      <div class="contact_us_popup_item">
        <a href="#" class="contact_us_popup_item_text">Письмо директору</a>
        <div class="contact_us_popup_item_arrow">
          <img src="../..//img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="contact_us_popup_item">
        <a href="#" class="contact_us_popup_item_text">Заявка на партнерство</a>
        <div class="contact_us_popup_item_arrow">
          <img src="../../img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="contact_us_popup_item">
        <a href="#" class="contact_us_popup_item_text">Отправить резюме</a>
        <div class="contact_us_popup_item_arrow">
          <img src="../../img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="contact_us_popup_item">
        <a href="#" class="contact_us_popup_item_text"
          >Подписаться на рассылку</a
        >
        <div class="contact_us_popup_item_arrow">
          <img src="../../img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="contact_us_popup_item">
        <a href="#" class="contact_us_popup_item_text">СМИ</a>
        <div class="contact_us_popup_item_arrow">
          <img src="../../img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="contact_us_popup_item">
        <a href="#" class="contact_us_popup_item_text">Блогерам</a>
        <div class="contact_us_popup_item_arrow">
          <img src="../../img/popup_arrow.svg" alt="" />
        </div>
      </div>
      <div class="contact_us_popup_item">
        <a href="#" class="contact_us_popup_item_text"
          >Задать вопрос по игрушкам</a
        >
        <div class="contact_us_popup_item_arrow">
          <img src="../../img/popup_arrow.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
