<div class="js_popup_collaboration_modal modal">
  <div class="popup_collaboration_content">
    <div class="popup_collaboration_heading">
      <div class="popup_collaboration_header">
        <div class="popup_collaboration_header_text">
          Заявка на сотрудничество
        </div>
        <div
          class="js_popup_collaboration_close_button ui-popup-close-button"
        ></div>
      </div>

      <div class="popup_collaboration_step">Шаг 1 из 4</div>
    </div>

    <div class="popup_collaboration_page_one_conditions">
      <div
        class="popup_collaboration_page_one_condition_one pup_coll_condition"
      >
        <span
          class="popup_collaboration_page_one_condition_one_img pup_coll_img"
        ></span>
        <div
          class="popup_collaboration_page_one_condition_one_text pup_coll_txt"
        >
          Минимальная сумма заказа - 30 000₽
        </div>
      </div>
      <div
        class="popup_collaboration_page_one_condition_two pup_coll_condition"
      >
        <span
          class="popup_collaboration_page_one_condition_two_img pup_coll_img"
        ></span>
        <div
          class="popup_collaboration_page_one_condition_two_text pup_coll_txt"
        >
          Бесплатная доставка по Москве и ближайшему Подмосковью
        </div>
      </div>
      <div
        class="popup_collaboration_page_one_condition_three pup_coll_condition"
      >
        <span
          class="popup_collaboration_page_one_condition_three_img pup_coll_img"
        ></span>
        <div
          class="popup_collaboration_page_one_condition_three_text pup_coll_txt"
        >
          Индивидуальная система скидок
        </div>
      </div>
    </div>

    <form
      class="popup_collaboration_page_one_form collab_form collab_form_step_one"
    >
      <input
        class="input popup_collaboration_page_one_input"
        placeholder="Организация*"
        type="text"
      />
      <input
        class="input popup_collaboration_page_one_input"
        placeholder="Страна*"
        type="text"
      />
      <input
        class="input popup_collaboration_page_one_input"
        placeholder="Регион и город*"
        type="text"
      />
      <button
        class="button-black popup_collaboration_page_one_cont_btn pup_btn"
      >
        Следующий шаг
      </button>
    </form>
  </div>

  <div class="popup_collaboration_content">
    <div class="popup_collaboration_heading">
      <div class="popup_collaboration_header">
        <div class="popup_collaboration_header_text">
          Заявка на сотрудничество
        </div>
        <div class="js_popup_survey_close_button ui-popup-close-button"></div>
      </div>

      <div class="popup_collaboration_step">Шаг 2 из 4</div>
    </div>
    <div class="popup_collaboration_page_two_form">
      <div class="popup_collaboration_page_two_format">
        <div
          class="popup_collaboration_page_two_format_header pup_format_header"
        >
          Формат торговли *
        </div>

        <div
          class="popup_collaboration_page_two_format_options pup_format_checkboxes"
        >
          <div class="pup_format_options_one">
            <div class="checkbox_container">
              <input type="checkbox" id="sort-opt" class="sort-checkbox"/>
              <label class="sort-label" for="sort-opt"
              >Опт<span class="cross"></span>
              </label>
            </div>

            <div class="checkbox_container">
              <input type="checkbox" id="sort-roznica" class="sort-checkbox"/>
              <label class="sort-label" for="sort-roznica"
              >Розница<span class="cross"></span>
              </label>
            </div>

            <div class="checkbox_container">
              <input
                type="checkbox"
                id="sort-inetstore"
                class="sort-checkbox"
              />
              <label class="sort-label" for="sort-inetstore"
              >Интернет-магазин<span class="cross"></span>
              </label>
            </div>
          </div>

          <div class="pup_format_options_two">
            <div class="checkbox_container">
              <input type="checkbox" id="sort-cobuy" class="sort-checkbox"/>
              <label class="sort-label" for="sort-cobuy"
              >Совместные закупки<span class="cross"></span>
              </label>
            </div>

            <div class="checkbox_container">
              <input type="checkbox" id="sort-cheapbuy" class="sort-checkbox"/>
              <label class="sort-label" for="sort-cheapbuy"
              >Бюджетные закупки<span class="cross"></span>
              </label>
            </div>

            <div class="checkbox_container">
              <input type="checkbox" id="sort-other" class="sort-checkbox"/>
              <label class="sort-label" for="sort-other"
              >Другое<span class="cross"></span>
              </label>
            </div>

            <input
              class="input pup_format_options_two_input"
              placeholder="Другое"
              type="text"
            />
          </div>
        </div>
      </div>

      <div class="popup_collaboration_page_two_category">
        <div
          class="popup_collaboration_page_two_category_header pup_format_header"
        >
          Ключевая товарная категория*
        </div>

        <div
          class="popup_collaboration_page_two_category_options pup_format_checkboxes"
        >
          <div class="pup_format_options_one">
            <div class="checkbox_container">
              <input type="checkbox" id="sort-books" class="sort-checkbox"/>
              <label class="sort-label" for="sort-books"
              >Книги<span class="cross"></span>
              </label>
            </div>

            <div class="checkbox_container">
              <input type="checkbox" id="sort-toys" class="sort-checkbox"/>
              <label class="sort-label" for="sort-toys"
              >Игрушки<span class="cross"></span>
              </label>
            </div>

            <div class="checkbox_container">
              <input type="checkbox" id="sort-kanz" class="sort-checkbox"/>
              <label class="sort-label" for="sort-kanz"
              >Канцелярские товары<span class="cross"></span>
              </label>
            </div>
          </div>

          <div class="pup_format_options_two">
            <div class="checkbox_container">
              <input
                type="checkbox"
                id="sort-for-children"
                class="sort-checkbox"
              />
              <label class="sort-label" for="sort-for-children"
              >Детские товары<span class="cross"></span>
              </label>
            </div>

            <div class="checkbox_container">
              <input
                type="checkbox"
                id="sort-cat-other"
                class="sort-checkbox"
              />
              <label class="sort-label" for="sort-cat-other"
              >Другое<span class="cross"></span>
              </label>
            </div>

            <input
              class="input pup_format_options_two_input"
              placeholder="Названия магазинов"
              type="text"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="popup_collaboration_page_four_buttons rowed-buttons">
      <button class="button-white collab_btn pup_btn">Назад</button>
      <button class="button-black collab_btn pup_btn">Следующий шаг</button>
    </div>
  </div>

  <div class="popup_collaboration_content">
    <div class="popup_collaboration_heading">
      <div class="popup_collaboration_header">
        <div class="popup_collaboration_header_text">
          Заявка на сотрудничество
        </div>
        <div class="js_popup_survey_close_button ui-popup-close-button"></div>
      </div>

      <div class="popup_collaboration_step">Шаг 3 из 4</div>
    </div>
    <div
      class="popup_collaboration_page_three_form collab_form collab_form_step_three"
    >
      <input
        class="input popup_collaboration_page_three_input"
        placeholder="Названия магазинов"
        type="text"
      />
      <input
        class="input popup_collaboration_page_three_input"
        placeholder="Количество магазинов"
        type="text"
      />
      <input
        class="input popup_collaboration_page_three_input"
        placeholder="Адрес сайта"
        type="url"
      />
    </div>
    <div class="popup_collaboration_page_four_buttons rowed-buttons">
      <button class="button-white collab_btn pup_btn">Назад</button>
      <button class="button-black collab_btn pup_btn">Следующий шаг</button>
    </div>
  </div>

  <div class="popup_collaboration_content">
    <div class="popup_collaboration_heading">
      <div class="popup_collaboration_header">
        <div class="popup_collaboration_header_text">
          Заявка на сотрудничество
        </div>
        <div class="js_popup_survey_close_button ui-popup-close-button"></div>
      </div>

      <div class="popup_collaboration_step">Шаг 4 из 4</div>
    </div>
    <div class="popup_collaboration_page_four_form">
      <form class="collab_form collab_form_step_four">
        <input
          class="input popup_collaboration_page_three_input"
          placeholder="ФИО*"
          type="text"
        />
        <input
          class="input popup_collaboration_page_three_input"
          name="phone"
          maxlength="16"
          id="phone"
          placeholder="+7___-___-__-__*"
          type="tel"
        />
        <input
          class="input popup_collaboration_page_three_input"
          placeholder="Электронная почта*"
          type="email"
        />
      </form>
    </div>

    <div class="popup_collaboration_page_four_description body-m-bold">
      При подаче заявки вы не сможете работать с маркетплейсами в случае
      подписания договора партнёрства
    </div>
    <div class="popup_collaboration_page_four_send_request">
      <div class="popup_collaboration_page_four_buttons">
        <button class="button-white collab_btn pup_btn">Назад</button>
        <button class="button-black collab_btn pup_btn">
          Отправить заявку
        </button>
      </div>
      <div class="js_popup_collaboration_submit_block">
        <div class="js_popup_collaboration_policy_agreement checkbox_main">
          <input
            class="js_popup_collaboration_checkbox checkbox__input_main"
            type="checkbox"
            id="popup_collaboration_checkbox"
          />
          <label
            for="popup_collaboration_checkbox"
            class="popup_collaboration_policy_agreement_text checkbox__label_main body-m"
          >
            Соглашаюсь с &nbsp<a
            href="#"
            class="popup_collaboration_policy_agreement_link link-m-bold"
          >
            политикой конфиденциальности</a
          >
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="popup_collaboration_content">
    <div class="popup_collaboration_heading">
      <div class="popup_collaboration_header">
        <div class="popup_collaboration_header_text popup_collab_final_text">
          Ваша заявка успешно отправлена
        </div>
        <div
          class="js_popup_collaboration_close_button ui-popup-close-button"
        ></div>
      </div>
    </div>
    <button class="button-black pup_btn">Спасибо!</button>
  </div>
</div>