<div class="js_popup_brand_choose_list_modal modal">
  <div class="popup_brand_choose_content">
    <div class="popup_brand_choose_header">
      <span
        class="js_popup_brand_choose_close_button ui-popup-close-button"
      ></span>
    </div>
    <div class="popup_brand_choose_search_selectors">
      <div
        class="search-container !border-black popup_brand_choose_search_line pup_brand_selector"
      >
        <img src="../../img/search_item.svg" alt=""/>
        <input
          type="text"
          placeholder="Поиск по брендам"
          class="input pup_brand_input"
        />
      </div>
      <div class="more-down-filters no-padds no-after border border-black">
        <button class="more-down-button with-padds new">
          Сначала новые<span></span>
        </button>
        <!--  more-down -->
        <div class="more-down-content new">
          <label class="checkbox-container">
            <input type="radio" name="sort-by"/>
            <span class="checkmark"></span>
            Сначала новые
          </label>
          <label class="checkbox-container">
            <input type="radio" name="sort-by"/>
            <span class="checkmark"></span>
            Сначала старые
          </label>
          <label class="checkbox-container">
            <input type="radio" name="sort-by"/>
            <span class="checkmark"></span>
            А-Я
          </label>
          <label class="checkbox-container">
            <input type="radio" name="sort-by"/>
            <span class="checkmark"></span>
            Я-А
          </label>
        </div>
      </div>

    </div>

    <div class="popup_brand_choose_brands">
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba1">
        <label for="check-ppba1" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba2">
        <label for="check-ppba2" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba3">
        <label for="check-ppba3" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba4">
        <label for="check-ppba4" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba5">
        <label for="check-ppba5" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba6">
        <label for="check-ppba6" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba7">
        <label for="check-ppba7" class="check-ppb-label">
        </label>
      </div>

      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba8">
        <label for="check-ppba8" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba9">
        <label for="check-ppba9" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba10">
        <label for="check-ppba10" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba11">
        <label for="check-ppba11" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba12">
        <label for="check-ppba12" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba13">
        <label for="check-ppba13" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba14">
        <label for="check-ppba14" class="check-ppb-label">
        </label>
      </div>

      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba15">
        <label for="check-ppba15" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba16">
        <label for="check-ppba16" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba17">
        <label for="check-ppba17" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba18">
        <label for="check-ppba18" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba19">
        <label for="check-ppba19" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba20">
        <label for="check-ppba20" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba21">
        <label for="check-ppba21" class="check-ppb-label">
        </label>
      </div>

      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba22">
        <label for="check-ppba22" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba23">
        <label for="check-ppba23" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba24">
        <label for="check-ppba24" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba25">
        <label for="check-ppba25" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba26">
        <label for="check-ppba26" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba27">
        <label for="check-ppba27" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba28">
        <label for="check-ppba28" class="check-ppb-label">
        </label>
      </div>

      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba29">
        <label for="check-ppba29" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba30">
        <label for="check-ppba30" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba31">
        <label for="check-ppba31" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba32">
        <label for="check-ppba32" class="check-ppb-label">
        </label
        ></div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba33">
        <label for="check-ppba33" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba34">
        <label for="check-ppba34" class="check-ppb-label">
        </label>
      </div>
      <div class="image_container">
        <a href="#" class="popup_brand_choose_brand_image">
          <img src="../../img/brand_nado.svg" alt=""/>
        </a>
        <input type="checkbox" class="checkbox_overlay" id="check-ppba35">
        <label for="check-ppba35" class="check-ppb-label"></label>
      </div>
    </div>
  </div>
</div>