<div class="card_video_item w-full bg-white" itemscope itemtype="http://schema.org/VideoObject">
  <!-- card_video_preview - класс оболочки айфрейма -->
  <div class="w-full aspect-video">
    <iframe id="rick" width="100%" height="100%" src="https://www.youtube.com/embed/dQw4w9WgXcQ"
            frameborder="0"
            allowfullscreen></iframe>
    <!--    <button class="card_video_play_button circle-button"></button>-->
  </div>
  <div class="card_video_info">
    <span class="card_video_title" itemprop="name">
      Как правильно выбрать книгу: наши советы для любителей книг
    </span>
  </div>
</div>
