<!-- КАРТОЧКА ФОТОГАЛЕРЕИ -->
<div>
  <div
    class="card_photogallery_item popup-trigger !aspect-auto"
    itemscope
    itemtype="http://schema.org/ImageObject"
    data-popup-target="#imagePopup"
    data-popup-image="../../img/cards_photogallery_item.svg"
  >
    <img src="../../img/cards_photogallery_item.svg" alt="" itemprop="image"/>
    <div class="cards_photogallery_eye_image" itemprop="url">
      <img
        class="cards_photogallery_eye_img"
        src="../../img/cards_photogallery_eye.svg"
        alt=""
      />
    </div>
  </div>

  <div class="image-popup" id="imagePopup">
    <div class="popup-content">
      <img src="" alt="" id="popupImage">
    </div>
  </div>
</div>