<!-- карточка ПОДБОРКИ -->
<div class="card_selection js_traceable_item">
  <a href="#" class="card_selection_image item_card_image">
    <img
      src="../../img/cards_selection.svg"
      alt=""
      class="selection_card_img item_card_img"
    />
  </a>
  <div class="card_selection_description js-bg-changeable">
    <div class="card_selection_tags dotted_tags">
      <a href="#" class="card_selection_category dotted_tags_category">
        ПОДБОРКИ
      </a>
      <div class="card_selection_separator dotted_tags_separator">•</div>
      <a href="#" class="card_selection_date dotted_tags_date">30.11.2022</a>
    </div>
    <a href="#" class="card_selection_info card_sel_info">
      <div class="card_selection_name card_sel_name">
        Новая книга Джона Смита стала бестселлером за первую неделю продаж!
      </div>
      <div class="card_selection_text card_sel_text">
        Также как сплочённость команды профессионалов представляет собой
        интересный эксперимент проверки системы массового участия. Безусловно,
        внедрение современных методик требует определения и уточнения системы
        массового участия.
      </div>
    </a>
  </div>
</div>