<!-- КАРТОЧКА ФОТОГАЛЕРЕИ -->
<div>
  <div
    class="card_photogallery_item popup-trigger !aspect-auto"
    itemscope
    itemtype="http://schema.org/ImageObject"
    data-popup-target="#imagePopup"
    data-popup-image="../../img/cards_photogallery_item.svg"
  >
    <img src="../../img/cards_photogallery_item.svg" alt="" itemprop="image"/>
    <div class="cards_photogallery_eye_image" itemprop="url">
      <img
        class="cards_photogallery_eye_img"
        src="../../img/cards_photogallery_eye.svg"
        alt=""
      />
    </div>
  </div>

  <div class="image-popup" id="imagePopup">
    <div class="popup-content relative">
      <img src="" alt="" id="popupImage">
      <figure class="absolute top-[0.8rem] right-[0.8rem] cursor-pointer close-button">
        <img src="../../img/catalog-vacancies/black-close-20px.svg" alt="">
      </figure>
    </div>
  </div>
</div>