<!--  Карточка с НАГРАДАМИ  -->
<div class="card_awards">
  <div class="card_awards_content js_traceable_item">
    <div class="card_awards_image">
      <!-- <img src="" alt="" /> -->
    </div>
    <div class="card_awards_info">
      <div class="card_awards_year">2016</div>
      <div class="card_awards_title">РОСМЭН – «лучшее издательство России»</div>
      <div class="card_awards_description">
        <!-- Победа в профессиональном конкурсе книжной индустрии «Ревизор» -->
      </div>
    </div>
  </div>
</div>
