<!--  Карточка с НАГРАДАМИ  -->
<div class="card_awards">
  <div class="card_awards_content js_traceable_item bgc-bgc">
    <div class="card_awards_image">
      <img src="../../img/cards_awards_img.svg" alt="" />
    </div>
    <div class="card_awards_info">
      <div class="card_awards_year">2016</div>
      <div class="card_awards_title">РОСМЭН – «лучшее издательство России»</div>
      <div class="card_awards_description">
        Победа в профессиональном конкурсе книжной индустрии «Ревизор»
      </div>
    </div>
  </div>
</div>
