<!--  Карточка БРЕНДА С ВСПЛЫВАЮЩЕЙ КНОПКОЙ и страницами в СС -->
<div class="card_brand_with_socs">
  <img src="../../img/cards_brand_socials.svg" alt="" class="card_brand_img"/>
  <div class="card_brand_with_socs_links">
    <a href="#" class="card_brand_with_socs_link_image">

      <img
        src="../../img/socials_black_vk.svg"
        alt=""
        class="brand_soc_link_img"
      />
    </a>
    <a href="#" class="card_brand_with_socs_link_image">
      <img
        src="../../img/socials_black_fb.svg"
        alt=""
        class="brand_soc_link_img"
      />
    </a>
    <a href="#" class="card_brand_with_socs_link_image">
      <img
        src="../../img/socials_black_tiktok.svg"
        alt=""
        class="brand_soc_link_img"
      />
    </a>
    <a href="#" class="card_brand_with_socs_link_image">
      <img
        src="../../img/socials_black_heart.svg"
        alt=""
        class="brand_soc_link_img"
      />
    </a>
  </div>

  <a href="#" class="card_brand_with_socs_item_page">Дикие скричеры</a>
</div>