<!-- карточка КНИГИ -->
<div
  class="book_card js_item_card item_card"
  itemscope
  itemtype="https://schema.org/Book"
>
  <div class="book_card_heading">
    <div class="item_card_tags bordered_tags">
      <div class="item_card_tags_main bordered_tags_main">
        <a
          itemprop="url"
          href="#"
          class="book_card_tags_first bordered_tags_item"
          >Бестселлер</a
        >
        <a
          itemprop="url"
          href="#"
          class="book_card_tags_second bordered_tags_item"
          >Новинка</a
        >
      </div>
      <a itemprop="url" href="#" class="book_card_tags_age body-s-bold">8+</a>
    </div>

    <div class="book_card_image item_card_image">
      <img
        itemprop="image"
        class="book_card_img item_card_img"
        src="../../img/brand_nado.svg"
        alt=""
      />
    </div>
  </div>
  <div class="book_card_info item_card_info" itemprop="description">
    <div itemprop="name" class="book_card_name item_card_name">
      Чародол. Весь цикл в одном томе
    </div>
    <div itemprop="author" class="book_card_author">Щерба Н. В.</div>
    <div class="book_card_more item_card_more">
      <button
        class="book_card_item_link item_card_link overline-button"
        itemprop="url"
      >
        Подробнее
      </button>
      <button class="item_card_add_to_favourite"></button>
    </div>
  </div>
</div>
