<div
  class="book_card js_item_card item_card !flex-row !gap-48 !pb-0 md:!flex-col md:!gap-16"
  itemscope
  itemtype="https://schema.org/Book"
>
  <div class="book_card_heading md:mx-auto md:max-w-[36rem] msm:w-full">
    <div class="item_card_tags bordered_tags gap-16 msm:gap-2">
      <div class="item_card_tags_main bordered_tags_main">
        <a
          itemprop="url"
          href="#"
          class="book_card_tags_first bordered_tags_item"
          >Бестселлер</a
        >
        <a
          itemprop="url"
          href="#"
          class="book_card_tags_second bordered_tags_item"
          >Новинка</a
        >
      </div>
      <a itemprop="url" href="#" class="book_card_tags_age body-s-bold">8+</a>
    </div>

    <div class="book_card_image item_card_image">
      <img
        itemprop="image"
        class="book_card_img item_card_img"
        src="../../img/book-charodol1.png"
        alt=""
      />
    </div>
  </div>
  <div
    class="book_card_info item_card_info max-w-[47rem] bs:max-w-[40rem] md:max-w-[200rem]"
    itemprop="description"
  >
    <h4 itemprop="name" class="head-4">Дорога</h4>
    <!--    <div itemprop="author" class="book_card_author">Щерба Н. В.</div>-->
    <span class="text-15.20 sm:text-s">
      Книга, вдохновившая создателей авторов знаменитой игры и сериала HBO «Одни
      из нас».Отец и сын идут по обезображенному катастрофой континенту, пытаясь
      выжить в новом мире, где каждый сам за себя. За этот роман Кормак Маккарти
      получил Пулитцеровскую премию.
    </span>
    <div class="book_card_more item_card_more">
      <button
        class="book_card_item_link item_card_link overline-button"
        itemprop="url"
      >
        Подробнее
      </button>
      <div class="flex flex-row flex-nowrap gap-8">
        <button class="item_card_add_to_favourite"></button>
        <div class="item_card-external-link group relative">
          <div
            class="breadcrumbs-path-hidden-text !left-[-13rem] !top-[-19rem] flex w-max flex-col !gap-16 !p-8 group-hover:flex"
          >
            <div
              class="breadcrumbs-arrow left-[12.4rem] top-[18rem] rotate-[180deg] group-hover:block"
            ></div>
            <button class="flex cursor-pointer flex-row flex-nowrap gap-8 p-0">
              <div class="block h-20 w-20">
                <img src="../../img/copy-link.svg" alt="" />
              </div>
              <span class="body-s whitespace-nowrap p-0">
                Скопировать ссылку
              </span>
            </button>
            <a href="#" class="flex flex-row flex-nowrap gap-8">
              <div class="block h-20 w-20">
                <img src="../../img/vkcom.svg" alt="" />
              </div>
              <span class="body-s">ВКонтакте</span>
            </a>
            <a href="#" class="flex flex-row flex-nowrap gap-8">
              <div class="block h-20 w-20">
                <img src="../../img/tiktok.svg" alt="" />
              </div>
              <span class="body-s">TikTok</span>
            </a>
            <a href="#" class="flex flex-row flex-nowrap gap-8">
              <div class="block h-20 w-20">
                <img src="../../img/facebook.svg" alt="" />
              </div>
              <span class="body-s" href="#">Facebook</span>
            </a>
            <a href="#" class="flex flex-row flex-nowrap gap-8">
              <div class="block h-20 w-20">
                <img src="../../img/likee.svg" alt="" />
              </div>
              <span class="body-s">Likee</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
