<!--  Карточка сотрудника  -->
<div class="card_employee">
  <div class="card_employee_image">
    <img src="../../img/cards_employee.svg" alt=""/>
    <div class="card_employee_socials">
      <a href="#" class="card_employee_social_item emp_soc_fb"></a>
      <a href="#" class="card_employee_social_item emp_soc_twit"></a>
      <a href="#" class="card_employee_social_item emp_soc_pint"></a>
      <a href="#" class="card_employee_social_item emp_soc_inst"></a>
    </div>
  </div>

  <div class="card_employee_info">
    <div class="card_employee_name">Иван Иванов</div>
    <div class="card_employee_occupation">Писатель</div>
    <div class="card_employee_text">
      Картельные сговоры не допускают ситуации, при которой представители
      современных социальных резервов лишь добавляют.
    </div>
  </div>
</div>