<!-- КАРТОЧКА ФОТОГАЛЕРЕИ -->
<div
  class="card_photogallery_item"
  itemscope
  itemtype="http://schema.org/ImageObject"
>
  <img src="../../img/cards_photogallery_item.svg" alt="" itemprop="image"/>
  <div class="cards_photogallery_eye_image" itemprop="url">
    <img
      class="cards_photogallery_eye_img popup-trigger"
      src="../../img/cards_photogallery_eye.svg"
      alt=""
      data-popup-target="#imagePopup"
      data-popup-image="../../img/cards_photogallery_item.svg"
    />
  </div>
</div>

<div class="image-popup" id="imagePopup">
  <div class="popup-content">
    <img src="" alt="" id="popupImage">
  </div>
</div>