<!-- js_traceable_item будет применяться к всей карточке целиком -->
<!-- а js-hovered только к элементам с изменяющимся фоном с классом js-bg-changeable-->
<div class="partners-stroke">
  <div class="running-stroke">
    <div class="marquee further">
      <span>KARUSEL</span><img src="../../img/marquee-elephant.png">
      <span>animaccord</span><img src="../../img/marquee-elephant-2.png">
      <span>alfa group</span><img src="../../img/marquee-elephant-3.png">
      <span>wildberries</span><img src="../../img/marquee-elephant-4.png">
      <span>ozon</span><img src="../../img/marquee-elephant-5.png">
      <span>BUKVOED</span><img src="../../img/marquee-elephant-6.png">
      <span>detskiy mir</span><img src="../../img/marquee-elephant-7.png">
      <span>wildberries</span><img src="../../img/marquee-elephant-8.png">
      <span>MOOSE</span><img src="../../img/marquee-elephant-9.png">
      <span>zapf creation</span><img src="../../img/marquee-elephant.png">
      <span>chitay gorod</span><img src="../../img/marquee-elephant-2.png">
      <span>mga</span><img src="../../img/marquee-elephant-2.png">
      <span>KARUSEL</span><img src="../../img/marquee-elephant.png">
      <span>animaccord</span><img src="../../img/marquee-elephant-2.png">
      <span>alfa group</span><img src="../../img/marquee-elephant-3.png">
      <span>wildberries</span><img src="../../img/marquee-elephant-4.png">
      <span>ozon</span><img src="../../img/marquee-elephant-5.png">
      <span>BUKVOED</span><img src="../../img/marquee-elephant-6.png">
      <span>detskiy mir</span><img src="../../img/marquee-elephant-7.png">
      <span>wildberries</span><img src="../../img/marquee-elephant-8.png">
      <span>MOOSE</span><img src="../../img/marquee-elephant-9.png">
      <span>zapf creation</span><img src="../../img/marquee-elephant.png">
      <span>chitay gorod</span><img src="../../img/marquee-elephant-2.png">
      <span>mga</span><img src="../../img/marquee-elephant-2.png">
    </div>
  </div>
</div>
<div class="partners-stroke">
  <div class="running-stroke">
    <div class="marquee reverse">
      <span>KARUSEL</span><img src="../../img/marquee-elephant.png">
      <span>animaccord</span><img src="../../img/marquee-elephant-2.png">
      <span>alfa group</span><img src="../../img/marquee-elephant-3.png">
      <span>wildberries</span><img src="../../img/marquee-elephant-4.png">
      <span>ozon</span><img src="../../img/marquee-elephant-5.png">
      <span>BUKVOED</span><img src="../../img/marquee-elephant-6.png">
      <span>detskiy mir</span><img src="../../img/marquee-elephant-7.png">
      <span>wildberries</span><img src="../../img/marquee-elephant-8.png">
      <span>MOOSE</span><img src="../../img/marquee-elephant-9.png">
      <span>zapf creation</span><img src="../../img/marquee-elephant.png">
      <span>chitay gorod</span><img src="../../img/marquee-elephant-2.png">
      <span>mga</span><img src="../../img/marquee-elephant-2.png">
      <span>KARUSEL</span><img src="../../img/marquee-elephant.png">
      <span>animaccord</span><img src="../../img/marquee-elephant-2.png">
      <span>alfa group</span><img src="../../img/marquee-elephant-3.png">
      <span>wildberries</span><img src="../../img/marquee-elephant-4.png">
      <span>ozon</span><img src="../../img/marquee-elephant-5.png">
      <span>BUKVOED</span><img src="../../img/marquee-elephant-6.png">
      <span>detskiy mir</span><img src="../../img/marquee-elephant-7.png">
      <span>wildberries</span><img src="../../img/marquee-elephant-8.png">
      <span>MOOSE</span><img src="../../img/marquee-elephant-9.png">
      <span>zapf creation</span><img src="../../img/marquee-elephant.png">
      <span>chitay gorod</span><img src="../../img/marquee-elephant-2.png">
      <span>mga</span><img src="../../img/marquee-elephant-2.png">
    </div>
  </div>
</div>
<div class="partners-stroke">
  <div class="running-stroke">
    <div class="marquee further">
      <span>KARUSEL</span><img src="../../img/marquee-elephant.png">
      <span>animaccord</span><img src="../../img/marquee-elephant-2.png">
      <span>alfa group</span><img src="../../img/marquee-elephant-3.png">
      <span>wildberries</span><img src="../../img/marquee-elephant-4.png">
      <span>ozon</span><img src="../../img/marquee-elephant-5.png">
      <span>BUKVOED</span><img src="../../img/marquee-elephant-6.png">
      <span>detskiy mir</span><img src="../../img/marquee-elephant-7.png">
      <span>wildberries</span><img src="../../img/marquee-elephant-8.png">
      <span>MOOSE</span><img src="../../img/marquee-elephant-9.png">
      <span>zapf creation</span><img src="../../img/marquee-elephant.png">
      <span>chitay gorod</span><img src="../../img/marquee-elephant-2.png">
      <span>mga</span><img src="../../img/marquee-elephant-2.png">
      <span>KARUSEL</span><img src="../../img/marquee-elephant.png">
      <span>animaccord</span><img src="../../img/marquee-elephant-2.png">
      <span>alfa group</span><img src="../../img/marquee-elephant-3.png">
      <span>wildberries</span><img src="../../img/marquee-elephant-4.png">
      <span>ozon</span><img src="../../img/marquee-elephant-5.png">
      <span>BUKVOED</span><img src="../../img/marquee-elephant-6.png">
      <span>detskiy mir</span><img src="../../img/marquee-elephant-7.png">
      <span>wildberries</span><img src="../../img/marquee-elephant-8.png">
      <span>MOOSE</span><img src="../../img/marquee-elephant-9.png">
      <span>zapf creation</span><img src="../../img/marquee-elephant.png">
      <span>chitay gorod</span><img src="../../img/marquee-elephant-2.png">
      <span>mga</span><img src="../../img/marquee-elephant-2.png">
    </div>
  </div>
</div>

<div class="cards_wrapper">
  <!-- карточка ИГРУШКИ -->
  <div class="toy_card item_card">
    <div class="toy_card_heading">
      <div class="item_card_tags bordered_tags">
        <div class="item_card_tags_main bordered_tags_main">
          <a href="#" class="toy_card_tags_first bordered_tags_item body-s-bold">
            Бестселлер
          </a>
          <a href="#" class="toy_card_tags_second bordered_tags_item body-s-bold">
            Новинка
          </a>
        </div>
        <div class="toy_card_tags_age body-s-bold">8+</div>
      </div>
      <!--   у блока с картинкой position: relative, т.к. на top: 0 будет бешущая строка   -->
      <div class="running-stroke">
        <div class="marquee">
          <span>скидка 15%</span>
          <span>скидка 15%</span>
          <span>скидка 15%</span>
          <span>скидка 15%</span>
          <span>скидка 15%</span>
          <span>скидка 15%</span>
          <span>скидка 15%</span>
          <span>скидка 15%</span>
          <span>скидка 15%</span>
          <span>скидка 15%</span>
          <span>скидка 15%</span>
          <span>скидка 15%</span>
        </div>
      </div>
      <div class="toy_card_image item_card_image">
        <img class="toy_card_img item_card_img" src="../../img/cards_toy.svg" alt="" />
      </div>
    </div>
    <div class="toy_card_info item_card_info">
      <div class="toy_card_name item_card_name">
        Арена для баттлов Инфинити Надо
      </div>
      <div class="toy_card_more item_card_more">
        <button class="toy_card_item_link item_card_link overline-button">
          Подробнее
        </button>
        <button class="item_card_add_to_favourite"> </button>
      </div>
    </div>
  </div>

  <!-- карточка КНИГИ -->
  <div class="book_card js_item_card item_card">
    <div class="book_card_heading">
      <div class="item_card_tags bordered_tags">
        <div class="item_card_tags_main bordered_tags_main">
          <a href="#" class="book_card_tags_first bordered_tags_item body-s-bold">
            Бестселлер
          </a>
          <a href="#" class="book_card_tags_second bordered_tags_item body-s-bold">
            Новинка
          </a>
        </div>
        <div class="book_card_tags_age body-s-bold">8+</div>
      </div>

      <div class="book_card_image item_card_image">
        <img class="book_card_img item_card_img" src="../../img/cards_book.svg" alt="" />
      </div>
    </div>
    <div class="book_card_info item_card_info">
      <div class="book_card_name item_card_name">
        Чародол. Весь цикл в одном томе
      </div>
      <div class="book_card_author">Щерба Н. В.</div>
      <div class="book_card_more item_card_more">
        <button class="book_card_item_link item_card_link overline-button">
          Подробнее
        </button>
        <button class="item_card_add_to_favourite"> </button>
      </div>
    </div>
  </div>

</div>