<!--  карточки БРЕНДЫ  -->
<div class="card_brand" itemscope itemtype="https://schema.org/Brand">
  <div class="card_brand_content" itemprop="description">
    <div class="card_brand_info">
      <a itemprop="url" href="#" class="card_brand_all_items">Все товары бренда</a>
      <div itemprop="name" class="card_brand_name">Дикие Скричеры</div>
    </div>
    <a itemprop="url" href="#" class="card_brand_image">
      <img itemprop="logo" src="../../img/brand_image.svg" alt=""/>
    </a>
  </div>
</div>
