<!--  карточки СТАТЬИ маленький размер текста  -->
<div class="card_articles js_traceable_item">
  <a href="#" class="card_articles_image item_card_image">
    <img
      src="../../img/cards_article_small_fs.svg"
      alt=""
      class="articles_card_img item_card_img"
    />
  </a>

  <div class="card_articles_description js-bg-changeable">
    <div class="card_articles_tags dotted_tags">
      <a href="#" class="card_articles_category dotted_tags_category">
        СТАТЬИ
      </a>
      <div class="card_articles_separator dotted_tags_separator">•</div>
      <a href="#" class="card_articles_date dotted_tags_date">
        30.11.2022
      </a>
    </div>
    <a href="#" class="card_articles_info card_sel_info">
      <div class="card_articles_name_sfs card_sel_name">
        Новый закон накладывает вето на полуночный
      </div>
      <div class="card_articles_text_sfs card_sel_text">
        Противоположная точка зрения подразумевает, что явные признаки победы
        институционализации лишь добавляют фракционных разногласий и объявлены
        нарушающими общечеловеческие нормы этики и морали.
      </div>
    </a>
  </div>
</div>