<!--  КАРТОЧКА КАРЬЕРА  -->
<div class="card_career" itemscope itemtype="https://schema.org/JobPosting">
  <div class="card_career_heading">
    <div class="card_career_title" itemprop="title">Бренд-менеджер</div>
    <div class="card_career_tags">
      <div class="card_career_tag">Маркетинг</div>
      <div class="card_career_tag">IT</div>
      <div class="card_career_tag">+3</div>
    </div>
  </div>
  <div class="card_career_conditions" itemprop="description">
    <div class="card_career_cond_item car_cond_item car_cond_location">
      <div class="card_career_cond_item_image">
        <img
          itemprop="image"
          src="../../img/card_career_location.svg"
          alt=""
          class="card_career_cond_item_img"
        />
      </div>
      <div class="card_career_cond_item_text" itemprop="jobLocation">
        Москва
      </div>
    </div>

    <div class="card_career_cond_item car_cond_item car_cond_shift_length">
      <div class="card_career_cond_item_image">
        <img
          itemprop="image"
          src="../../img/card_career_watch.svg"
          alt=""
          class="card_career_cond_item_img"
        />
      </div>
      <div class="card_career_cond_item_text">Полный рабочий день</div>
    </div>
  </div>
  <div class="card_career_description" itemprop="description">
    Вы активный, драйвовый менеджер, которому одинаково интересно следить за
    коммерческим результатом своей работы и генерировать креативные, смелые идеи
  </div>
  <a href="#" itemprop="url" class="card_career_more_info">
    <span class="card_career_text">Подробнее</span>
    <span class="card_career_img"></span>
  </a>
</div>
