<section class="slider-2 overflow-hidden">
  <div class="container">
    <div class="slider__flex">
      <div class="slider__col">

        <div class="slider__prev">Prev</div> <!-- Кнопка для переключения на предыдущий слайд -->

        <div class="slider__thumbs">
          <div class="swiper-container-3"> <!-- Слайдер с превью -->
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slider__image"><img src="https://picsum.photos/1920/1080" alt=""/></div>
              </div>
              <div class="swiper-slide">
                <div class="slider__image"><img src="https://picsum.photos/1920/1081" alt=""/></div>
              </div>
              <div class="swiper-slide">
                <div class="slider__image"><img src="https://picsum.photos/1920/1082" alt=""/></div>
              </div>
              <div class="swiper-slide">
                <div class="slider__image"><img src="https://picsum.photos/1920/1083" alt=""/></div>
              </div>
              <div class="swiper-slide">
                <div class="slider__image"><img src="https://picsum.photos/1920/1084" alt=""/></div>
              </div>
            </div>
          </div>
        </div>

        <div class="slider__next">Next</div> <!-- Кнопка для переключения на следующий слайд -->

      </div>

      <div class="slider__images">
        <div class="swiper-container-3"> <!-- Слайдер с изображениями -->
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider__image"><img src="https://picsum.photos/1920/1080" alt=""/></div>
            </div>
            <div class="swiper-slide">
              <div class="slider__image"><img src="https://picsum.photos/1920/1081" alt=""/></div>
            </div>
            <div class="swiper-slide">
              <div class="slider__image"><img src="https://picsum.photos/1920/1082" alt=""/></div>
            </div>
            <div class="swiper-slide">
              <div class="slider__image"><img src="https://picsum.photos/1920/1083" alt=""/></div>
            </div>
            <div class="swiper-slide">
              <div class="slider__image"><img src="https://picsum.photos/1920/1084" alt=""/></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>