<section class="slider-2 overflow-hidden">
  <div class="container">
    <div class="slider__flex">
      <div class="slider__col relative block ipadmini:hidden">
        <div class="slider__thumbs ">
          <div class="swiper-container-3 "> <!-- Слайдер с превью -->
            <div class="swiper-wrapper book-slider-wrapper">

              <div class="swiper-slide !h-max cursor-pointer">
                <div class="slider__image-book js-thumb-chosen p-4">
                  <img src="../../img/card-fullpage/book-charodol.png" alt=""/>
                </div>
              </div>

              <div class="swiper-slide  cursor-pointer">
                <div class="slider__image-book"><img src="../../img/card-fullpage/book-dino.png" alt=""/></div>
              </div>

              <div class="swiper-slide relative cursor-pointer">
                <div class="slider__image-book"><img src="../../img/card-fullpage/book-dog.png" alt=""/></div>
              </div>

              <div class="swiper-slide relative cursor-pointer">
                <div class="slider__image-book"><img src="../../img/card-fullpage/book-hp.png" alt=""/></div>
              </div>

              <div class="swiper-slide js_popup_all_filters_button cursor-pointer">
                <div class="slider__image-book"><img src="../../img/card-fullpage/look-desc-2.svg" alt=""/></div>
              </div>


            </div>
          </div>
        </div>

      </div>

      <div class="slider__images overflow-hidden relative ipadmini:!hidden">
        <div class="flex flex-row !bg-transparent flex-nowrap gap-8 absolute top-0 left-0 bg-white z-10">
          <a href="#" class="bordered_tags_item-2">Хит</a>
          <a href="#" class="bordered_tags_item-2">Новинка</a>
          <a href="#" class="bordered_tags_item-2 bordered_tags_item-hidden">5+</a>
        </div>
        <div class="swiper-container-4"> <!-- Слайдер с изображениями -->
          <div class="swiper-pagination !absolute"></div>
          <div class="swiper-wrapper">
            <div class="swiper-slide cursor-pointer">
              <div class="swiper-slide_big-book"><img src="../../img/card-fullpage/book-charodol.png" alt=""/></div>
            </div>
            <div class="swiper-slide cursor-pointer">
              <div class="swiper-slide_big-book"><img src="../../img/card-fullpage/book-dino.png" alt=""/></div>
            </div>
            <div class="swiper-slide cursor-pointer">
              <div class="swiper-slide_big-book"><img src="../../img/card-fullpage/book-dog.png" alt=""/></div>
            </div>
            <div class="swiper-slide cursor-pointer">
              <div class="swiper-slide_big-book"><img src="../../img/card-fullpage/book-hp.png" alt=""/></div>
            </div>
            <div class="swiper-slide cursor-pointer">
              <div class="swiper-slide_big-book"><img src="../../img/card-fullpage/book-dino.png" alt=""/></div>
            </div>
          </div>
        </div>
      </div>

      <div class="h-full w-full overflow-hidden relative hidden ipadmini:block">

        <div class="flex flex-row flex-nowrap !bg-transparent gap-8 absolute top-0 left-0 bg-white z-10">
          <a href="#" class="bg-white bordered_tags_item-2 !px-12">Хит</a>
          <a href="#" class="bg-white bordered_tags_item-2 !px-12">Новинка</a>
          <a href="#" class="bg-white bordered_tags_item-2 !px-12 bordered_tags_item-hidden">5+</a>
        </div>


        <div class="swiper-container-5 image-slider"> <!-- Слайдер с изображениями -->
          <div class="swiper-wrapper image-slider__wrapper mb-16">
            <div class="swiper-slide cursor-pointer image-slider__slide">
              <div class="swiper-slide_big-book"><img src="../../img/card-fullpage/book-charodol.png" alt=""/></div>
            </div>
            <div class="swiper-slide cursor-pointer image-slider__slide">
              <div class="swiper-slide_big-book"><img src="../../img/card-fullpage/book-dino.png" alt=""/></div>
            </div>
            <div class="swiper-slide cursor-pointer image-slider__slide">
              <div class="swiper-slide_big-book"><img src="../../img/card-fullpage/book-dog.png" alt=""/></div>
            </div>
            <div class="swiper-slide cursor-pointer image-slider__slide">
              <div class="swiper-slide_big-book"><img src="../../img/card-fullpage/book-hp.png" alt=""/></div>
            </div>
            <div class="swiper-slide cursor-pointer image-slider__slide">
              <div class="swiper-slide_big-book"><img src="../../img/card-fullpage/book-dino.png" alt=""/></div>
            </div>
          </div>
          <div class="swiper-pagination-2 text-center"></div>
        </div>


      </div>
    </div>
  </div>
</section>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>