<section class="slider-2 overflow-hidden">
  <!--  <div class="container">-->
  <div class="slider__flex ">
    <div class="slider__col relative block ipadmini:hidden">
      <div
        class="slider__prev absolute left-[20%] top-[-2%] z-100 cursor-pointer"
      >
        <img
          class="rotate-180 p-4"
          src="../../img/arrow-down-20.svg"
          alt=""
        />
      </div>
      <div class="slider__thumbs">
        <div class="swiper-container-3">
          <!-- Слайдер с превью -->
          <div class="swiper-wrapper book-slider-wrapper">
            <div class="swiper-slide !h-max cursor-pointer">
              <div class="slider__image-book js-thumb-chosen p-4">
                <img src="../../img/card-fullpage/book-charodol.png" alt=""/>
              </div>
            </div>
            <div class="swiper-slide cursor-pointer">
              <div class="slider__image-book">
                <img src="../../img/card-fullpage/book-dino.png" alt=""/>
              </div>
            </div>
            <div class="swiper-slide relative cursor-pointer">
              <div class="slider__image-book">
                <img src="../../img/card-fullpage/book-dog.png" alt=""/>
              </div>
            </div>
            <div class="swiper-slide relative cursor-pointer">
              <div class="slider__image-book">
                <img src="../../img/card-fullpage/book-hp.png" alt=""/>
              </div>
            </div>
            <div class="swiper-slide cursor-pointer">
              <div class="slider__image-book">
                <img src="../../img/card-fullpage/book-dino.png" alt=""/>
              </div>
            </div>
            <div class="swiper-slide relative cursor-pointer">
              <div class="slider__image-book">
                <img src="../../img/card-fullpage/book-dog.png" alt=""/>
              </div>
            </div>
            <div
              class="swiper-slide js_popup_all_filters_button cursor-pointer"
            >
              <div class="slider__image-book">
                <img src="../../img/card-fullpage/look-desc-2.svg" alt=""/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="slider__next absolute bottom-[-2%] left-[20%] z-10 cursor-pointer"
      >
        <img class="p-4" src="../../img/arrow-down-20.svg" alt=""/>
      </div>
    </div>

    <div class="slider__images relative ipadmini:!hidden">
      <div
        class="absolute left-0 top-0 z-10 flex flex-row flex-nowrap gap-8 !bg-transparent bg-white"
      >
        <a href="#" class="bordered_tags_item-2">Хит</a>
        <a href="#" class="bordered_tags_item-2">Новинка</a>
        <a href="#" class="bordered_tags_item-2 bordered_tags_item-hidden"
        >5+</a
        >
      </div>
      <div class="swiper-container-4">
        <!-- Слайдер с изображениями с большой картинкой -->
        <div class="swiper-pagination !absolute"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide cursor-zoom-in">
            <div class="swiper-slide_big-book">
              <a data-caption="1342" data-fancybox="gallery-big" class="w-full h-full object-cover cursor-zoom-in"
                 href="../../img/card-fullpage/book-charodol.png">
                <img src="../../img/card-fullpage/book-charodol.png" alt=""/>
              </a>
            </div>
          </div>
          <div class="swiper-slide cursor-zoom-in">
            <div class="swiper-slide_big-book">
              <a data-caption="1342" data-fancybox="gallery-big" class="w-full h-full object-cover cursor-zoom-in"
                 href="../../img/card-fullpage/book-dino.png">
                <img src="../../img/card-fullpage/book-dino.png" alt=""/>
              </a>

            </div>
          </div>
          <div class="swiper-slide cursor-zoom-in">
            <div class="swiper-slide_big-book">
              <a data-caption="1342" data-fancybox="gallery-big" class="w-full h-full object-cover cursor-zoom-in"
                 href="../../img/card-fullpage/book-dog.png">
                <img src="../../img/card-fullpage/book-dog.png" alt=""/>
              </a>

            </div>
          </div>
          <div class="swiper-slide cursor-zoom-in">
            <div class="swiper-slide_big-book">
              <a data-caption="1342" data-fancybox="gallery-big" class="w-full h-full object-cover cursor-zoom-in"
                 href="../../img/card-fullpage/book-hp.png">
                <img src="../../img/card-fullpage/book-hp.png" alt=""/>
              </a>

            </div>
          </div>
          <div class="swiper-slide cursor-zoom-in">
            <div class="swiper-slide_big-book">
              <a data-caption="1342" data-fancybox="gallery-big" class="w-full h-full object-cover cursor-zoom-in"
                 href="../../img/card-fullpage/book-dino.png">
                <img src="../../img/card-fullpage/book-dino.png" alt=""/>
              </a>

            </div>
          </div>
          <div class="swiper-slide cursor-zoom-in">
            <div class="swiper-slide_big-book">-big-small
              <a data-caption="1342" data-fancybox="gallery-big" class="w-full h-full object-cover cursor-zoom-in"
                 href="../../img/card-fullpage/book-dog.png">
                <img src="../../img/card-fullpage/book-dog.png" alt=""/>
              </a>

            </div>
          </div>
          <div class="swiper-slide cursor-zoom-in">
            <div class="swiper-slide_big-book">
              <a data-caption="1342" data-fancybox="gallery-big" class="w-full h-full object-cover cursor-zoom-in"
                 href="../../img/card-fullpage/book-dino.png">
                <img src="../../img/card-fullpage/book-dino.png" alt=""/>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="relative hidden h-full w-full overflow-hidden ipadmini:block">
      <div
        class="absolute left-0 top-0 z-10 flex flex-row flex-nowrap gap-8 !bg-transparent bg-white"
      >
        <a href="#" class="bordered_tags_item-2 bg-white !px-12">Хит</a>
        <a href="#" class="bordered_tags_item-2 bg-white !px-12">Новинка</a>
        <a
          href="#"
          class="bordered_tags_item-2 bordered_tags_item-hidden bg-white !px-12"
        >5+</a
        >
      </div>

      <div class="swiper-container-5 image-slider">
        <!-- Слайдер с изображениями -->
        <div class="swiper-wrapper image-slider__wrapper mb-16">
          <div class="swiper-slide image-slider__slide cursor-pointer">
            <div class="swiper-slide_big-book">
              <a data-caption="1342" data-fancybox="gallery-small" class="w-full h-full object-cover cursor-zoom-in"
                 href="../../img/card-fullpage/book-charodol.png">
                <img src="../../img/card-fullpage/book-charodol.png" alt=""/>
              </a>

            </div>
          </div>
          <div class="swiper-slide image-slider__slide cursor-pointer">
            <div class="swiper-slide_big-book">
              <a data-caption="1342" data-fancybox="gallery-small" class="w-full h-full object-cover cursor-zoom-in"
                 href="../../img/card-fullpage/book-dino.png">
                <img src="../../img/card-fullpage/book-dino.png" alt=""/>
              </a>

            </div>
          </div>
          <div class="swiper-slide image-slider__slide cursor-pointer">
            <div class="swiper-slide_big-book">
              <a data-caption="1342" data-fancybox="gallery-small" class="w-full h-full object-cover cursor-zoom-in"
                 href="../../img/card-fullpage/book-dog.png">
                <img src="../../img/card-fullpage/book-dog.png" alt=""/>
              </a>
            </div>
          </div>
          <div class="swiper-slide image-slider__slide cursor-pointer">
            <div class="swiper-slide_big-book">
              <a data-caption="1342" data-fancybox="gallery-small" class="w-full h-full object-cover cursor-zoom-in"
                 href="../../img/card-fullpage/book-hp.png">
                <img src="../../img/card-fullpage/book-hp.png" alt=""/>
              </a>
            </div>
          </div>
          <div class="swiper-slide image-slider__slide cursor-pointer">
            <div class="swiper-slide_big-book">
              <a data-caption="1342" data-fancybox="gallery-small" class="w-full h-full object-cover cursor-zoom-in"
                 href="../../img/card-fullpage/book-dino.png">
                <img src="../../img/card-fullpage/book-dino.png" alt=""/>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-pagination-2 text-center"></div>
      </div>
    </div>
  </div>
  <!--  </div>-->
</section>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
