<section class="slider-2 overflow-hidden">
  <div class="container">
    <div class="slider__flex">
      <div class="slider__col relative !block ipadmini:!hidden">

        <!--        <div class="slider__prev absolute top-[-2%] z-100 left-[20%] cursor-pointer">-->
        <!--          <img class="p-4 rotate-180" src="../../img/arrow-down-20.svg" alt="">-->
        <!--        </div>-->
        <!-- Кнопка для переключения на предыдущий слайд -->
        <div class="slider__thumbs ">
          <div class="swiper-pagination"></div>
          <div class="swiper-container-3 "> <!-- Слайдер с превью -->
            <div class="swiper-wrapper">

              <div class="swiper-slide !h-auto cursor-pointer">
                <div class="slider__image "><img src="../../img/card-fullpage/img1.svg" alt=""/></div>
              </div>

              <div class="swiper-slide  cursor-pointer">
                <div class="slider__image"><img src="../../img/card-fullpage/img2.svg" alt=""/></div>
              </div>

              <div class="swiper-slide relative  cursor-pointer">
                <div class="slider__image"><img src="../../img/card-fullpage/img3.svg" alt=""/></div>
                <button class="circle-button absolute !opacity-50 !inset-0 !m-auto !m-0 !h-40 !w-40"></button>
              </div>

              <div class="swiper-slide relative cursor-pointer">
                <div class="slider__image"><img src="../../img/card-fullpage/img4.svg" alt=""/></div>
                <button class="rounded-arrow-button absolute !opacity-50 !inset-0 !m-auto !m-0 !h-40 !w-40"></button>
              </div>

              <div class="swiper-slide js_popup_all_filters_button cursor-pointer">
                <div class="slider__image"><img src="../../img/card-fullpage/look-desc-2.svg" alt=""/></div>
              </div>


            </div>
          </div>
        </div>

        <!--        <div class="slider__next absolute bottom-[4%] left-[20%] z-100 cursor-pointer">-->
        <!--          <img class="p-4" src="../../img/arrow-down-20.svg" alt="">-->
        <!--        </div>-->
      </div>

      <div class="slider__images overflow-hidden relative">
        <div class="card-fullpage-tags bordered_tags_main z-100">
          <a href="#" class="bordered_tags_item ">Хит</a>
          <a href="#" class="bordered_tags_item ">Новинка</a>
          <a href="#" class="bordered_tags_item bordered_tags_item-hidden">5+</a>
        </div>
        <div class="swiper-container-4"> <!-- Слайдер с изображениями -->
          <div class="swiper-pagination !absolute"></div>
          <div class="swiper-wrapper">
            <div class="swiper-slide cursor-pointer">
              <div class="slider__image_big"><img src="../../img/card-fullpage/img1.svg" alt=""/></div>
            </div>
            <div class="swiper-slide cursor-pointer">
              <div class="swiper-slide_big"><img src="../../img/card-fullpage/img2.svg" alt=""/></div>
            </div>
            <div class="swiper-slide cursor-pointer">
              <div class="swiper-slide_big"><img src="../../img/card-fullpage/img3.svg" alt=""/></div>
            </div>
            <div class="swiper-slide cursor-pointer">
              <div class="swiper-slide_big"><img src="../../img/card-fullpage/img4.svg" alt=""/></div>
            </div>
            <div class="swiper-slide cursor-pointer">
              <div class="swiper-slide_big"><img src="../../img/card-fullpage/img5.svg" alt=""/></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>