@media (max-width: 660px) {
  .brands-search-result-items {
    width: 100%;
  }
}

@media (min-width: 661px) and (max-width: 768px) {
  .brands-search-result-items {
    width: 48%;
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  .brands-search-result-items {
    width: 100% !important;
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  .filter-form-brands-result {
    min-width: 45% !important;
  }
}

@media (min-width: 901px) {
  .brands-search-result-items {
    width: 48%;
  }
}

.filter-form-brands-result {
  min-width: 25%;
}
