<div id="open-filter" class="mobile-filter"> </div>
<div class="flex justify-around p-12 filter" id="filter">
    <div class="flex w-full flex-row items-center justify-center">
        <form id="filter-form-1" class="filters-block">
            <p class="mobile-p">Фильтры</p> <span id="close-filter"> </span>
            <div class="more-down">
                <div class="more-down-button">Жанр<span></span></div>
                <div class="more-down-content">
                    <div class="back-filter cursor-pointer"><span></span>Все Книги</div>
                    <div class="back-filter cursor-pointer"><span></span>Художественная литература</div>
                    <input type="checkbox" id="sort-5" class="sort-checkbox" />
                    <label class="sort-label my-14" for="sort-5">Русские народные сказки</label>
                    <input type="checkbox" id="sort-6" class="sort-checkbox" />
                    <label class="sort-label my-14" for="sort-6">Художественная литература</label>
                    <input type="checkbox" id="sort-7" class="sort-checkbox" />
                    <label class="sort-label my-14" for="sort-7">Книги для молодёжи</label>
                    <input type="checkbox" id="sort-8" class="sort-checkbox" />
                    <label class="sort-label my-14" for="sort-8">Научпоп</label>
                    <button class="button-yellow-full">Показать ещё</button>
                </div>
                <hr class="my-14 text-grey" />
                <div class="more-down-button">Авторы<span></span></div>
                <div class="more-down-content">
                    <input class="input search w-full" type="text" placeholder="Поиск" />
                    <div class="scroll-block">
                        <input type="checkbox" id="sort-9" class="sort-checkbox" />
                        <label class="sort-label my-14" for="sort-9"
                        >Мадс Миккельсен<span class="cross"></span
                        ></label>
                        <input type="checkbox" id="sort-10" class="sort-checkbox" />
                        <label class="sort-label my-14" for="sort-10"
                        >Джеймс МакЭвой<span class="cross"></span
                        ></label>
                        <input type="checkbox" id="sort-11" class="sort-checkbox" />
                        <label class="sort-label my-14" for="sort-11"
                        >Джонни Депп<span class="cross"></span
                        ></label>
                        <input type="checkbox" id="sort-12" class="sort-checkbox" />
                        <label class="sort-label my-14" for="sort-12"
                        >Джонни Депп<span class="cross"></span
                        ></label>
                        <input type="checkbox" id="sort-13" class="sort-checkbox" />
                        <label class="sort-label my-14" for="sort-13"
                        >Джек Николсон<span class="cross"></span
                        ></label>
                        <input type="checkbox" id="sort-14" class="sort-checkbox" />
                        <label class="sort-label my-14" for="sort-14"
                        >Марк Твен<span class="cross"></span
                        ></label>
                    </div>
                </div>
                <hr class="my-14 text-grey" />
                <div class="more-down-button">Популярное<span></span></div>
                <div class="more-down-content">
                    <input type="checkbox" id="filter-4" class="filter-checkbox" />
                    <label class="filter-label" for="filter-4"
                    >Хиты<span class="count">1</span> <span class="cross"></span>
                    </label>
                    <input type="checkbox" id="filter-5" class="filter-checkbox" />
                    <label class="filter-label" for="filter-5"
                    >Новинки<span class="count">233</span> <span class="cross"></span>
                    </label>
                    <input type="checkbox" id="filter-6" class="filter-checkbox" />
                    <label class="filter-label" for="filter-6"
                    >Поэма<span class="count">156</span> <span class="cross"></span>
                    </label>
                    <input type="checkbox" id="filter-7" class="filter-checkbox" />
                    <label class="filter-label" for="filter-7"
                    >Для Мальчиков<span class="count">86</span>
                        <span class="cross"></span>
                    </label>
                    <input type="checkbox" id="filter-8" class="filter-checkbox" />
                    <label class="filter-label" for="filter-8"
                    >Для девочек<span class="count">56</span>
                        <span class="cross"></span>
                    </label>
                    <input type="checkbox" id="filter-9" class="filter-checkbox" />
                    <label class="filter-label" for="filter-9"
                    >Комиксы<span class="count">4</span> <span class="cross"></span>
                    </label>
                    <input type="checkbox" id="filter-10" class="filter-checkbox" />
                    <label class="filter-label" for="filter-10"
                    >Ода<span class="count">22</span> <span class="cross"></span>
                    </label>
                    <input type="checkbox" id="filter-11" class="filter-checkbox" />
                    <label class="filter-label" for="filter-11"
                    >Эллегия<span class="count">88</span> <span class="cross"></span>
                    </label>
                </div>
                <hr class="my-14 text-grey" />
                <div class="more-down-button">Возраст<span></span></div>
                <div class="more-down-content">
                    <input type="checkbox" id="filter-12" class="filter-checkbox" />
                    <label class="filter-label age" for="filter-12">0+ </label>
                    <input type="checkbox" id="filter-13" class="filter-checkbox" />
                    <label class="filter-label age" for="filter-13">3+ </label>
                    <input type="checkbox" id="filter-14" class="filter-checkbox" />
                    <label class="filter-label age" for="filter-14">5+ </label>
                    <input type="checkbox" id="filter-15" class="filter-checkbox" />
                    <label class="filter-label age" for="filter-15">7+ </label>
                    <input type="checkbox" id="filter-16" class="filter-checkbox" />
                    <label class="filter-label age" for="filter-16">10+ </label>
                    <input type="checkbox" id="filter-17" class="filter-checkbox" />
                    <label class="filter-label age" for="filter-17">15+ </label>
                    <input type="checkbox" id="filter-18" class="filter-checkbox" />
                    <label class="filter-label age" for="filter-18">5+</label>
                    <input type="checkbox" id="filter-19" class="filter-checkbox" />
                    <label class="filter-label age" for="filter-19">7+ </label>
                    <button class="button-yellow-full my-14">Показать ещё</button>
                </div>
                <div class="py-10">
                    <h3 class="body-l my-14 font-semibold">Категории</h3>
                    <label class="checkbox-container">
                        <input type="radio" name="category" />
                        <span class="checkmark"></span>
                        Игрушки
                    </label>
                    <label class="checkbox-container">
                        <input type="radio" name="category" />
                        <span class="checkmark"></span>
                        Книги
                    </label>
                    <label class="checkbox-container">
                        <input type="radio" name="category" />
                        <span class="checkmark"></span>
                        Для школы
                    </label>
                    <label class="checkbox-container">
                        <input type="radio" name="category" />
                        <span class="checkmark"></span>
                        Для творчества
                    </label>
                    <label class="checkbox-container">
                        <input type="radio" name="category" />
                        <span class="checkmark"></span>
                        Для праздника
                    </label>
                </div>

                <div class="py-10">
                    <h3 class="body-l my-14 font-semibold">Наличие товаров</h3>
                    <label class="checkbox-container">
                        <input type="radio" name="exist" />
                        <span class="checkmark"></span>
                        Неважно
                    </label>
                    <label class="checkbox-container">
                        <input type="radio" name="exist" />
                        <span class="checkmark"></span>
                        В наличие
                    </label>
                    <label class="checkbox-container">
                        <input type="radio" name="exist" />
                        <span class="checkmark"></span>
                        Нет в наличие
                    </label>
                    <button class="button-black my-10 w-full">Показать ещё</button>
                    <input type="reset" class="button-white my-10 w-full cursor-pointer" />
                </div>
            </div>
        </form>
    </div>
</div>