<div class="main-block filter-2 flex justify-around" id="filter-2">
  <div class="flex w-full flex-row justify-center">
    <form id="filter-form-2" class="filters-block overflow-y-scroll">
      <p class="mobile-p">Фильтры</p>
      <span id="close-filter"> </span>
      <div class="more-down">
        <div class="more-down-button active-js">Жанр<span></span></div>
        <div class="more-down-content active-js">
          <input type="checkbox" id="sort-5" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-5"
          >Русские народные сказки</label
          >
          <input type="checkbox" id="sort-6" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-6"
          >Художественная литература</label
          >
          <input type="checkbox" id="sort-7" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-7"
          >Книги для молодёжи</label
          >
          <input type="checkbox" id="sort-8" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-8">Научпоп</label>
          <button class="button-yellow-full">Показать ещё</button>
        </div>
        <hr class="my-14 text-grey" />
        <div class="more-down-button active-js">Авторы<span></span></div>
        <div class="more-down-content active-js">
          <input class="input search w-full" type="text" id="searcAuthor" placeholder="Поиск" />
          <div class="scroll-block" id="searchBlock">
            <input type="checkbox" id="sort-9" class="sort-checkbox" />
            <label class="sort-label my-14" for="sort-9" data-name="мадсмиккельсен"
            >Мадс Миккельсен<span class="cross"></span
            ></label>
            <input type="checkbox" id="sort-10" class="sort-checkbox" />
            <label class="sort-label my-14" for="sort-10" data-name="джеймсмакэвой"
            >Джеймс МакЭвой<span class="cross"></span
            ></label>
            <input type="checkbox" id="sort-11" class="sort-checkbox" />
            <label class="sort-label my-14" for="sort-11" data-name="джоннидэпп"
            >Джонни Депп<span class="cross"></span
            ></label>
            <input type="checkbox" id="sort-12" class="sort-checkbox" />
            <label class="sort-label my-14" for="sort-12" data-name="джоннидэпп"
            >Джонни Депп<span class="cross"></span
            ></label>
            <input type="checkbox" id="sort-13" class="sort-checkbox" />
            <label class="sort-label my-14" for="sort-13" data-name="джекниколсон"
            >Джек Николсон<span class="cross"></span
            ></label>
            <input type="checkbox" id="sort-14" class="sort-checkbox" />
            <label class="sort-label my-14" for="sort-14" data-name="марктвен"
            >Марк Твен<span class="cross"></span
            ></label>
          </div>
        </div>
        <hr class="my-14 text-grey" />
        <div class="more-down-button active-js">Популярное<span></span></div>
        <div class="more-down-content active-js">
          <input type="checkbox" id="filter-4" class="filter-checkbox" />
          <label class="filter-label" for="filter-4"
          >Хиты<span class="count">1</span> <span class="cross"></span>
          </label>
          <input type="checkbox" id="filter-5" class="filter-checkbox" />
          <label class="filter-label" for="filter-5"
          >Новинки<span class="count">233</span> <span class="cross"></span>
          </label>
          <input type="checkbox" id="filter-6" class="filter-checkbox" />
          <label class="filter-label" for="filter-6"
          >Поэма<span class="count">156</span> <span class="cross"></span>
          </label>
          <input type="checkbox" id="filter-7" class="filter-checkbox" />
          <label class="filter-label" for="filter-7"
          >Для Мальчиков<span class="count">86</span>
            <span class="cross"></span>
          </label>
          <input type="checkbox" id="filter-8" class="filter-checkbox" />
          <label class="filter-label" for="filter-8"
          >Для девочек<span class="count">56</span>
            <span class="cross"></span>
          </label>
          <input type="checkbox" id="filter-9" class="filter-checkbox" />
          <label class="filter-label" for="filter-9"
          >Комиксы<span class="count">4</span> <span class="cross"></span>
          </label>
          <input type="checkbox" id="filter-10" class="filter-checkbox" />
          <label class="filter-label" for="filter-10"
          >Ода<span class="count">22</span> <span class="cross"></span>
          </label>
          <input type="checkbox" id="filter-11" class="filter-checkbox" />
          <label class="filter-label" for="filter-11"
          >Эллегия<span class="count">88</span> <span class="cross"></span>
          </label>
        </div>
        <hr class="my-14 text-grey" />
        <div class="more-down-button active-js">Возраст<span></span></div>
        <div class="more-down-content active-js">
          <input type="checkbox" id="filter-12" class="filter-checkbox" />
          <label class="filter-label age" for="filter-12">0+ </label>
          <input type="checkbox" id="filter-13" class="filter-checkbox" />
          <label class="filter-label age" for="filter-13">3+ </label>
          <input type="checkbox" id="filter-14" class="filter-checkbox" />
          <label class="filter-label age" for="filter-14">5+ </label>
          <input type="checkbox" id="filter-15" class="filter-checkbox" />
          <label class="filter-label age" for="filter-15">7+ </label>
          <input type="checkbox" id="filter-16" class="filter-checkbox" />
          <label class="filter-label age" for="filter-16">10+ </label>
          <input type="checkbox" id="filter-17" class="filter-checkbox" />
          <label class="filter-label age" for="filter-17">15+ </label>
          <input type="checkbox" id="filter-18" class="filter-checkbox" />
          <label class="filter-label age" for="filter-18">5+</label>
          <input type="checkbox" id="filter-19" class="filter-checkbox" />
          <label class="filter-label age" for="filter-19">7+ </label>
          <button class="button-yellow-full my-14">Показать ещё</button>
        </div>
        <div class="py-10">
          <h3 class="body-l my-14 font-semibold">Категории</h3>
          <label class="checkbox-container">
            <input type="radio" name="category" />
            <span class="checkmark"></span>
            Игрушки
          </label>
          <label class="checkbox-container">
            <input type="radio" name="category" />
            <span class="checkmark"></span>
            Книги
          </label>
          <label class="checkbox-container">
            <input type="radio" name="category" />
            <span class="checkmark"></span>
            Для школы
          </label>
          <label class="checkbox-container">
            <input type="radio" name="category" />
            <span class="checkmark"></span>
            Для творчества
          </label>
          <label class="checkbox-container">
            <input type="radio" name="category" />
            <span class="checkmark"></span>
            Для праздника
          </label>
        </div>

        <div class="py-10">
          <h3 class="body-l my-14 font-semibold">Наличие товаров</h3>
          <label class="checkbox-container">
            <input type="radio" name="exist" />
            <span class="checkmark"></span>
            Неважно
          </label>
          <label class="checkbox-container">
            <input type="radio" name="exist" />
            <span class="checkmark"></span>
            В наличие
          </label>
          <label class="checkbox-container">
            <input type="radio" name="exist" />
            <span class="checkmark"></span>
            Нет в наличие
          </label>
        </div>
      </div>
      <div class="py-10 md:h-[30rem] sticky bottom-0 min-h-[10rem] bg-white">
        <input
                type="reset"
                class="button-white my-10 w-full cursor-pointer"
                value="Сбросить"
        />
        <button class="button-black my-10 w-full">Применить</button>
        <button type="button"  class="button-black my-10 w-full js_popup_all_filters_button cursor-pointer text-m" onclick="closeFilter();">Все фильтры</button>
      </div>
    </form>
  </div>
</div>

<div class="js_popup_all_filters_modal modal">
  <div class="popup_all_filters_content">
    <div class="popup_all_filters_heading">
      <div class="popup_all_filters_header">
        <div class="popup_all_filters_header_text">Все фильтры</div>
        <div
                class="js_popup_all_filters_close_button ui-popup-close-button"
        ></div>
      </div>

      <div class="popup_all_filters_filters  md:px-12">
        <div class="popup_all_filters_filter">
          <input type="checkbox" id="novelty" class="sort-checkbox" />
          <label class="sort-label active-js" for="novelty"
          >Для мальчиков<span class="count">12</span>
            <span class="cross"></span>
          </label>
        </div>
        <div class="popup_all_filters_filter" >
          <input
                  type="checkbox"
                  id="interactive_features"
                  class="sort-checkbox"
          />
          <label class="sort-label active-js" for="interactive_features"
          >Новинка<span class="count">12</span>
            <span class="cross"></span>
          </label>
        </div>
        <div class="popup_all_filters_filter">
          <input
                  type="checkbox"
                  id="sound_effects"
                  class="sort-checkbox"
          />
          <label class="sort-label active-js" for="sound_effects"
          >Игровой набор<span class="count">12</span>
            <span class="cross"></span>
          </label>
        </div>
        <div class="popup_all_filters_filter">
          <input
                  type="checkbox"
                  id="erase_all_filters"
                  class="sort-checkbox_erase"
          />
          <label class="sort-label active-js_erase" for="erase_all_filters"
          >Сбросить все
            <span class="cross"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="popup_all_filters_block_filter">
      <div class="popup_all_filters_block_filter_clmn">
        <div class="more-down">
          <div class="more-down-button active-js justify-btwn">Бренды<span></span></div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_1"
              />
              <label
                      for="popup_brands_checkbox_1_1"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_2"
              />
              <label
                      for="popup_brands_checkbox_1_2"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="my-4 flex flex h-40 justify-between px-10">
            <span class="my-auto text-15.20">Новинка</span>

            <label class="toggle-switch">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </div>
          <hr class="my-14 text-grey" />
          <div class="my-4 flex flex h-40 justify-between px-10">
            <span class="my-auto text-15.20">Скоро в продаже</span>
            <label class="toggle-switch">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </div>
          <hr class="my-14 text-grey" />

          <div class="more-down-button active-js justify-btwn">Для кого<span></span></div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_3_5"
              />
              <label
                      for="popup_brands_checkbox_3_5"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_3_6"
              />
              <label
                      for="popup_brands_checkbox_3_6"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn">Возраст<span></span></div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_3"
              />
              <label
                      for="popup_brands_checkbox_1_3"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_4"
              />
              <label
                      for="popup_brands_checkbox_1_4"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn">Рост<span></span></div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_5"
              />
              <label
                      for="popup_brands_checkbox_1_5"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_6"
              />
              <label
                      for="popup_brands_checkbox_1_6"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn null-margin">
            Интерактивные функции<label class="toggle-switch">
            <input type="checkbox" class="dropdown_checkbox" />
            <p class="slider"></p>
          </label>
          </div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_7"
              />
              <label
                      for="popup_brands_checkbox_1_7"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_8"
              />
              <label
                      for="popup_brands_checkbox_1_8"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn null-margin">
            Звуковые эффекты<label class="toggle-switch">
            <input type="checkbox" class="dropdown_checkbox" />
            <p class="slider"></p>
          </label>
          </div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_9"
              />
              <label
                      for="popup_brands_checkbox_1_9"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_10"
              />
              <label
                      for="popup_brands_checkbox_1_10"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="my-4 flex flex justify-between px-10">
            <span class="my-auto text-15.20">Подарок мечты</span>
            <label class="toggle-switch">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </div>
          <div class="more-down-content active-js">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_11"
              />
              <label
                      for="popup_brands_checkbox_1_12"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_13"
              />
              <label
                      for="popup_brands_checkbox_1_13"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
        </div>
      </div>
      <div class="popup_all_filters_block_filter_clmn">
        <div class="more-down">
          <div class="more-down-button active-js justify-btwn">Тип<span></span></div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_41"
              />
              <label
                      for="popup_brands_checkbox_1_41"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_40"
              />
              <label
                      for="popup_brands_checkbox_1_40"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn">Упаковка<span></span></div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_14"
              />
              <label
                      for="popup_brands_checkbox_1_14"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_15"
              />
              <label
                      for="popup_brands_checkbox_1_15"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn">
            Оcобенности<span></span>
          </div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_16"
              />
              <label
                      for="popup_brands_checkbox_1_16"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_17"
              />
              <label
                      for="popup_brands_checkbox_1_17"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn">
            Назначение<span></span>
          </div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_18"
              />
              <label
                      for="popup_brands_checkbox_1_18"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_19"
              />
              <label
                      for="popup_brands_checkbox_1_19"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn">Материал<span></span></div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_20"
              />
              <label
                      for="popup_brands_checkbox_1_20"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_21"
              />
              <label
                      for="popup_brands_checkbox_1_21"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="my-4 flex flex h-36 justify-between px-10">
            <span class="my-auto text-15.20">Электронные функции</span>
            <label class="toggle-switch">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn">Механизм<span></span></div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_42"
              />
              <label
                      for="popup_brands_checkbox_1_42"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_43"
              />
              <label
                      for="popup_brands_checkbox_1_43"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="my-4 flex flex h-40 justify-between px-10">
            <span class="my-auto text-15.20">Влагозащита</span>
            <label class="toggle-switch">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn">Масштаб<span></span></div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_22"
              />
              <label
                      for="popup_brands_checkbox_1_22"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_23"
              />
              <label
                      for="popup_brands_checkbox_1_23"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
        </div>
      </div>
      <div class="popup_all_filters_block_filter_clmn">
        <div class="more-down">
          <div class="more-down-button active-js justify-btwn">Тематика<span></span></div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_24"
              />
              <label
                      for="popup_brands_checkbox_1_24"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_25"
              />
              <label
                      for="popup_brands_checkbox_1_25"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn">
            Любимые сюжеты<span></span>
          </div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_26"
              />
              <label
                      for="popup_brands_checkbox_1_26"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_27"
              />
              <label
                      for="popup_brands_checkbox_1_27"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn">
            Любимые герои<span></span>
          </div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_28"
              />
              <label
                      for="popup_brands_checkbox_1_28"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_29"
              />
              <label
                      for="popup_brands_checkbox_1_29"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn">
            Навыки и развитие ребенка<span></span>
          </div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_30"
              />
              <label
                      for="popup_brands_checkbox_1_30"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_31"
              />
              <label
                      for="popup_brands_checkbox_1_31"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn">
            Размер пользовательский<span></span>
          </div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_32"
              />
              <label
                      for="popup_brands_checkbox_1_32"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_33"
              />
              <label
                      for="popup_brands_checkbox_1_33"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="my-4 flex flex justify-between px-10">
            <span class="my-auto text-15.20">Световые эффекты</span>
            <label class="toggle-switch">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn">
            Тип питания<span></span>
          </div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_34"
              />
              <label
                      for="popup_brands_checkbox_1_34"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_35"
              />
              <label
                      for="popup_brands_checkbox_1_35"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn">Цвет<span></span></div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_37"
              />
              <label
                      for="popup_brands_checkbox_1_37"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_39"
              />
              <label
                      for="popup_brands_checkbox_1_39"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
          <div class="more-down-button active-js justify-btwn null-margin">
            Назначение аксессуара<label class="toggle-switch">
            <input type="checkbox" class="dropdown_checkbox" />
            <p class="slider"></p>
          </label>
          </div>
          <div class="more-down-content active-js pad-left">
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_36"
              />
              <label
                      for="popup_brands_checkbox_1_36"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 1
              </label>
            </div>
            <div class="js_popup_filter_item checkbox_main">
              <input
                      class="js_popup_all_filters_checkbox checkbox__input_main"
                      type="checkbox"
                      id="popup_brands_checkbox_1_38"
              />
              <label
                      for="popup_brands_checkbox_1_38"
                      class="popup_brands_checkbox_text checkbox__label_main body-m"
              >
                Brand 2
              </label>
            </div>
          </div>
          <hr class="my-14 text-grey" />
        </div>
      </div>
    </div>

    <div class="popup_all_filters_footer">
      <div class="popup_all_filters_buttons">
        <div class="popup_collaboration_page_four_buttons">
          <button class="button-white collab_btn pup_btn">Назад</button>
          <button class="button-black collab_btn pup_btn">
            Применить
          </button>
        </div>
      </div>
    </div>
    <div class='mx-auto items-center w-1/4 mb-24'>
      <a href="#" class="popup_all_filters_filter_not_found link-m">
        Не нашли нужный фильтр?
      </a>
    </div>

  </div>
</div>


