<div class="flex justify-around p-12">
  <div class="flex w-full flex-row items-center justify-center">
    <div class="more-down-filters">
      <button class="more-down-button new">Сначала новые<span></span></button>
      <!--  more-down -->
      <!--  more-down -->
      <div class="more-down-content new">
        <label class="checkbox-container">
          <input type="radio" name="sort-by" />
          <span class="checkmark"></span>
          Сначала новые
        </label>
        <label class="checkbox-container">
          <input type="radio" name="sort-by" />
          <span class="checkmark"></span>
          Сначала старые
        </label>
        <label class="checkbox-container">
          <input type="radio" name="sort-by" />
          <span class="checkmark"></span>
          А-Я
        </label>
        <label class="checkbox-container">
          <input type="radio" name="sort-by" />
          <span class="checkmark"></span>
          Я-А
        </label>
      </div>
    </div>
  </div>
</div>
