<div class="flex justify-around p-12">
  <div class="flex w-full flex-row  justify-center">
    <div class="more-down-filters">
      <button class="more-down-button new">Сначала новые<span></span></button>
      <!--  more-down -->
      <div class="more-down-content">
        <form id="filter-form-4" class="filters-block">
          <div class="more-down">
            <div class="more-down-button">Категории<span></span></div>
            <div class="more-down-content">
              <input type="checkbox" id="sort-new-15" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-15"
              >Трансформеры</label
              >
              <input type="checkbox" id="sort-new-16" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-16"
              >Волчки и наборы</label
              >
              <input type="checkbox" id="sort-new-17" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-17"
              >Игровые набор и фигурки</label
              >
              <button class="button-yellow-full">Показать ещё</button>
            </div>
            <hr class="my-14 text-grey" />
            <div class="my-4 flex flex justify-between px-10">
              <span class="my-auto mr-12 w-68 w-full text-l font-semibold"
              >Новинка</span
              >
              <label class="toggle-switch">
                <input type="checkbox" />
                <span class="slider"></span>
              </label>
            </div>
            <div class="my-4 flex flex justify-between px-10">
              <span class="my-auto mr-12 w-68 w-full text-l font-semibold"
              >Скоро в продаже</span
              >
              <label class="toggle-switch">
                <input type="checkbox" />
                <span class="slider"></span>
              </label>
            </div>
            <hr class="my-14 text-grey" />
            <div class="more-down-button">Для кого<span></span></div>
            <div class="more-down-content">
              <input type="checkbox" id="sort-new-33" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-33"
              >Для Мальчиков</label
              >
              <input type="checkbox" id="sort-new-34" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-34"
              >Для девочек</label
              >
              <input type="checkbox" id="sort-new-35" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-35">Для всех</label>
            </div>
            <hr class="my-14 text-grey" />
            <div class="more-down-button">Возраст<span></span></div>
            <div class="more-down-content">
              <input
                      type="checkbox"
                      id="filter-new-36"
                      class="filter-checkbox"
              />
              <label class="filter-label age" for="filter-new-36">0+ </label>
              <input
                      type="checkbox"
                      id="filter-new-37"
                      class="filter-checkbox"
              />
              <label class="filter-label age" for="filter-new-37">3+ </label>
              <input
                      type="checkbox"
                      id="filter-new-38"
                      class="filter-checkbox"
              />
              <label class="filter-label age" for="filter-new-38">5+ </label>
              <input
                      type="checkbox"
                      id="filter-new-39"
                      class="filter-checkbox"
              />
              <label class="filter-label age" for="filter-new-39">7+ </label>
              <input
                      type="checkbox"
                      id="filter-new-40"
                      class="filter-checkbox"
              />
              <label class="filter-label age" for="filter-new-40">10+ </label>
              <input
                      type="checkbox"
                      id="filter-new-41"
                      class="filter-checkbox"
              />
              <label class="filter-label age" for="filter-new-41">15+ </label>
              <input
                      type="checkbox"
                      id="filter-new-42"
                      class="filter-checkbox"
              />
              <label class="filter-label age" for="filter-new-42">5+</label>
              <input
                      type="checkbox"
                      id="filter-new-43"
                      class="filter-checkbox"
              />
              <label class="filter-label age" for="filter-new-43">7+ </label>
              <button class="button-yellow-full my-14">Показать ещё</button>
            </div>
            <hr class="my-14 text-grey" />
            <div class="more-down-button">Тип<span></span></div>
            <div class="more-down-content">
              <input type="checkbox" id="sort-new-36" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-36"
              >Пластиковый конструктор <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-new-37" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-37"
              >Мягкая игрушка <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-new-38" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-38"
              >Машинка <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <button class="button-yellow-full">Посмотреть все</button>
            </div>
            <hr class="my-14 text-grey" />
            <div class="more-down-button">Особенности<span></span></div>
            <div class="more-down-content">
              <input type="checkbox" id="sort-new-39" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-39"
              >Три диска <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-new-40" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-40"
              >Из мультфильма <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-new-41" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-41"
              >Две трансформации <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <button class="button-yellow-full">Посмотреть все</button>
            </div>
            <hr class="my-14 text-grey" />
            <div class="more-down-button">Упаковка<span></span></div>
            <div class="more-down-content">
              <input type="checkbox" id="sort-new-42" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-42"
              >Карточная упаковка <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-new-43" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-43"
              >Пластиковый контейнер <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-new-44" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-44"
              >Фольгированные пакеты <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <button class="button-yellow-full">Посмотреть все</button>
            </div>
            <hr class="my-14 text-grey" />
            <div class="more-down-button">Назначение<span></span></div>
            <div class="more-down-content">
              <input type="checkbox" id="sort-new-45" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-45"
              >Развитие моторики <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-new-46" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-46"
              >Развитие интеллекта <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-new-47" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-new-47"
              >Развитеи социальных навыков <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <button class="button-yellow-full">Посмотреть все</button>
            </div>
            <hr class="my-14 text-grey" />
            <div class="more-down-button">Популярное<span></span></div>
            <div class="more-down-content">
              <input
                      type="checkbox"
                      id="filter-new-44"
                      class="filter-checkbox"
              />
              <label class="filter-label" for="filter-new-44"
              >Хиты<span class="count">1</span> <span class="cross"></span>
              </label>
              <input
                      type="checkbox"
                      id="filter-new-45"
                      class="filter-checkbox"
              />
              <label class="filter-label" for="filter-new-45"
              >Новинки<span class="count">233</span>
                <span class="cross"></span>
              </label>
              <input
                      type="checkbox"
                      id="filter-new-46"
                      class="filter-checkbox"
              />
              <label class="filter-label" for="filter-new-46"
              >Поэма<span class="count">156</span> <span class="cross"></span>
              </label>
              <input
                      type="checkbox"
                      id="filter-new-47"
                      class="filter-checkbox"
              />
              <label class="filter-label" for="filter-new-47"
              >Для Мальчиков<span class="count">86</span>
                <span class="cross"></span>
              </label>
              <input
                      type="checkbox"
                      id="filter-new-48"
                      class="filter-checkbox"
              />
              <label class="filter-label" for="filter-new-48"
              >Для девочек<span class="count">56</span>
                <span class="cross"></span>
              </label>
              <input
                      type="checkbox"
                      id="filter-new-49"
                      class="filter-checkbox"
              />
              <label class="filter-label" for="filter-new-49"
              >Комиксы<span class="count">4</span> <span class="cross"></span>
              </label>
              <input
                      type="checkbox"
                      id="filter-new-50"
                      class="filter-checkbox"
              />
              <label class="filter-label" for="filter-new-50"
              >Ода<span class="count">22</span> <span class="cross"></span>
              </label>
              <input
                      type="checkbox"
                      id="filter-new-51"
                      class="filter-checkbox"
              />
              <label class="filter-label" for="filter-new-51"
              >Эллегия<span class="count">88</span>
                <span class="cross"></span>
              </label>
            </div>
            <hr class="my-14 text-grey" />

            <div class="p-10">
              <button class="button-black my-10 w-full">Показать ещё</button>
              <input type="reset" class="button-white my-10 w-full" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
