<div class="flex justify-around p-12">
  <div class="flex w-full flex-row items-center justify-center">
    <div class="more-down-filters">
      <button class="more-down-button filters">Фильтр<span></span></button>
      <!--  more-down -->
      <div class="more-down-content">
        <form id="filter-form-3" class="filters-block">
          <div class="more-down">
            <div class="more-down-button">Категории<span></span></div>
            <div class="more-down-content">
              <input type="checkbox" id="sort-15" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-15">Трансформеры</label>
              <input type="checkbox" id="sort-16" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-16"
              >Волчки и наборы</label
              >
              <input type="checkbox" id="sort-17" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-17"
              >Игровые набор и фигурки</label
              >
              <button class="button-yellow-full">Показать ещё</button>
            </div>
            <hr class="my-14 text-grey" />
            <div class="my-4 flex flex justify-between px-10">
              <span class="my-auto mr-12 w-68 w-full text-l font-semibold"
              >Новинка</span
              >
              <label class="toggle-switch">
                <input type="checkbox" />
                <span class="slider"></span>
              </label>
            </div>
            <div class="my-4 flex flex justify-between px-10">
              <span class="my-auto mr-12 w-68 w-full text-l font-semibold"
              >Скоро в продаже</span
              >
              <label class="toggle-switch">
                <input type="checkbox" />
                <span class="slider"></span>
              </label>
            </div>
            <hr class="my-14 text-grey" />
            <div class="more-down-button">Для кого<span></span></div>
            <div class="more-down-content">
              <input type="checkbox" id="sort-33" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-33"
              >Для Мальчиков</label
              >
              <input type="checkbox" id="sort-34" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-34">Для девочек</label>
              <input type="checkbox" id="sort-35" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-35">Для всех</label>
            </div>
            <hr class="my-14 text-grey" />
            <div class="more-down-button">Возраст<span></span></div>
            <div class="more-down-content">
              <input type="checkbox" id="filter-36" class="filter-checkbox" />
              <label class="filter-label age" for="filter-36">0+ </label>
              <input type="checkbox" id="filter-37" class="filter-checkbox" />
              <label class="filter-label age" for="filter-37">3+ </label>
              <input type="checkbox" id="filter-38" class="filter-checkbox" />
              <label class="filter-label age" for="filter-38">5+ </label>
              <input type="checkbox" id="filter-39" class="filter-checkbox" />
              <label class="filter-label age" for="filter-39">7+ </label>
              <input type="checkbox" id="filter-40" class="filter-checkbox" />
              <label class="filter-label age" for="filter-40">10+ </label>
              <input type="checkbox" id="filter-41" class="filter-checkbox" />
              <label class="filter-label age" for="filter-41">15+ </label>
              <input type="checkbox" id="filter-42" class="filter-checkbox" />
              <label class="filter-label age" for="filter-42">5+</label>
              <input type="checkbox" id="filter-43" class="filter-checkbox" />
              <label class="filter-label age" for="filter-43">7+ </label>
              <button class="button-yellow-full my-14">Показать ещё</button>
            </div>
            <hr class="my-14 text-grey" />
            <div class="more-down-button">Тип<span></span></div>
            <div class="more-down-content">
              <input type="checkbox" id="sort-36" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-36"
              >Пластиковый конструктор <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-37" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-37"
              >Мягкая игрушка <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-38" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-38"
              >Машинка <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <button class="button-yellow-full">Посмотреть все</button>
            </div>
            <hr class="my-14 text-grey" />
            <div class="more-down-button">Особенности<span></span></div>
            <div class="more-down-content">
              <input type="checkbox" id="sort-39" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-39"
              >Три диска <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-40" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-40"
              >Из мультфильма <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-41" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-41"
              >Две трансформации <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <button class="button-yellow-full">Посмотреть все</button>
            </div>
            <hr class="my-14 text-grey" />
            <div class="more-down-button">Упаковка<span></span></div>
            <div class="more-down-content">
              <input type="checkbox" id="sort-42" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-42"
              >Карточная упаковка <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-43" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-43"
              >Пластиковый контейнер <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-44" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-44"
              >Фольгированные пакеты <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <button class="button-yellow-full">Посмотреть все</button>
            </div>
            <hr class="my-14 text-grey" />
            <div class="more-down-button">Назначение<span></span></div>
            <div class="more-down-content">
              <input type="checkbox" id="sort-45" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-45"
              >Развитие моторики <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-46" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-46"
              >Развитие интеллекта <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <input type="checkbox" id="sort-47" class="sort-checkbox" />
              <label class="sort-label my-14" for="sort-47"
              >Развитеи социальных навыков <span class="count">156</span>
                <span class="cross"></span
                ></label>
              <button class="button-yellow-full">Посмотреть все</button>
            </div>
            <hr class="my-14 text-grey" />
            <div class="more-down-button">Популярное<span></span></div>
            <div class="more-down-content">
              <input type="checkbox" id="filter-44" class="filter-checkbox" />
              <label class="filter-label" for="filter-44"
              >Хиты<span class="count">1</span> <span class="cross"></span>
              </label>
              <input type="checkbox" id="filter-45" class="filter-checkbox" />
              <label class="filter-label" for="filter-45"
              >Новинки<span class="count">233</span>
                <span class="cross"></span>
              </label>
              <input type="checkbox" id="filter-46" class="filter-checkbox" />
              <label class="filter-label" for="filter-46"
              >Поэма<span class="count">156</span> <span class="cross"></span>
              </label>
              <input type="checkbox" id="filter-47" class="filter-checkbox" />
              <label class="filter-label" for="filter-47"
              >Для Мальчиков<span class="count">86</span>
                <span class="cross"></span>
              </label>
              <input type="checkbox" id="filter-48" class="filter-checkbox" />
              <label class="filter-label" for="filter-48"
              >Для девочек<span class="count">56</span>
                <span class="cross"></span>
              </label>
              <input type="checkbox" id="filter-49" class="filter-checkbox" />
              <label class="filter-label" for="filter-49"
              >Комиксы<span class="count">4</span> <span class="cross"></span>
              </label>
              <input type="checkbox" id="filter-50" class="filter-checkbox" />
              <label class="filter-label" for="filter-50"
              >Ода<span class="count">22</span> <span class="cross"></span>
              </label>
              <input type="checkbox" id="filter-51" class="filter-checkbox" />
              <label class="filter-label" for="filter-51"
              >Эллегия<span class="count">88</span>
                <span class="cross"></span>
              </label>
            </div>
            <hr class="my-14 text-grey" />

            <div class="p-10">
              <button class="button-black my-10 w-full">Показать ещё</button>
              <input type="reset" class="button-white my-10 w-full" />
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>