<div class="flex justify-around main-block">
  <div class="flex w-full flex-row  justify-center">
    <form id="filter-form-2" class="filters-block">
      <div class="more-down">
        <div class="more-down-button">Категории<span></span></div>
        <div class="more-down-content">
          <input type="checkbox" id="sort-15" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-15">Трансформеры</label>
          <input type="checkbox" id="sort-16" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-16">Волчки и наборы</label>
          <input type="checkbox" id="sort-17" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-17"
          >Игровые набор и фигурки</label
          >
          <button class="button-yellow-full">Показать ещё</button>
        </div>
        <hr class="my-14 text-grey" />
        <div class="my-4 flex flex justify-between px-10">
          <span class="my-auto mr-12 w-68 w-full text-l font-semibold"
          >Новинка</span
          >
          <label class="toggle-switch">
            <input type="checkbox" />
            <span class="slider"></span>
          </label>
        </div>
        <div class="my-4 flex flex justify-between px-10">
          <span class="my-auto mr-12 w-68 w-full text-l font-semibold"
          >Скоро в продаже</span
          >
          <label class="toggle-switch">
            <input type="checkbox" />
            <span class="slider"></span>
          </label>
        </div>
        <hr class="my-14 text-grey" />
        <div class="more-down-button">Для кого<span></span></div>
        <div class="more-down-content">
          <input type="checkbox" id="sort-18" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-18">Для Мальчиков</label>
          <input type="checkbox" id="sort-19" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-19">Для девочек</label>
          <input type="checkbox" id="sort-20" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-20">Для всех</label>
        </div>
        <hr class="my-14 text-grey" />
        <div class="more-down-button">Возраст<span></span></div>
        <div class="more-down-content">
          <input type="checkbox" id="filter-20" class="filter-checkbox" />
          <label class="filter-label age" for="filter-20">0+ </label>
          <input type="checkbox" id="filter-21" class="filter-checkbox" />
          <label class="filter-label age" for="filter-21">3+ </label>
          <input type="checkbox" id="filter-22" class="filter-checkbox" />
          <label class="filter-label age" for="filter-22">5+ </label>
          <input type="checkbox" id="filter-23" class="filter-checkbox" />
          <label class="filter-label age" for="filter-23">7+ </label>
          <input type="checkbox" id="filter-24" class="filter-checkbox" />
          <label class="filter-label age" for="filter-24">10+ </label>
          <input type="checkbox" id="filter-25" class="filter-checkbox" />
          <label class="filter-label age" for="filter-25">15+ </label>
          <input type="checkbox" id="filter-26" class="filter-checkbox" />
          <label class="filter-label age" for="filter-26">5+</label>
          <input type="checkbox" id="filter-27" class="filter-checkbox" />
          <label class="filter-label age" for="filter-27">7+ </label>
          <button class="button-yellow-full my-14">Показать ещё</button>
        </div>
        <hr class="my-14 text-grey" />
        <div class="more-down-button">Тип<span></span></div>
        <div class="more-down-content">
          <input type="checkbox" id="sort-21" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-21"
          >Пластиковый конструктор <span class="count">156</span>
            <span class="cross"></span
            ></label>
          <input type="checkbox" id="sort-22" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-22"
          >Мягкая игрушка <span class="count">156</span>
            <span class="cross"></span
            ></label>
          <input type="checkbox" id="sort-23" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-23"
          >Машинка <span class="count">156</span> <span class="cross"></span
          ></label>
          <button class="button-yellow-full">Посмотреть все</button>
        </div>
        <hr class="my-14 text-grey" />
        <div class="more-down-button">Особенности<span></span></div>
        <div class="more-down-content">
          <input type="checkbox" id="sort-24" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-24"
          >Три диска <span class="count">156</span> <span class="cross"></span
          ></label>
          <input type="checkbox" id="sort-25" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-25"
          >Из мультфильма <span class="count">156</span>
            <span class="cross"></span
            ></label>
          <input type="checkbox" id="sort-26" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-26"
          >Две трансформации <span class="count">156</span>
            <span class="cross"></span
            ></label>
          <button class="button-yellow-full">Посмотреть все</button>
        </div>
        <hr class="my-14 text-grey" />
        <div class="more-down-button">Упаковка<span></span></div>
        <div class="more-down-content">
          <input type="checkbox" id="sort-27" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-27"
          >Карточная упаковка <span class="count">156</span>
            <span class="cross"></span
            ></label>
          <input type="checkbox" id="sort-28" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-28"
          >Пластиковый контейнер <span class="count">156</span>
            <span class="cross"></span
            ></label>
          <input type="checkbox" id="sort-29" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-29"
          >Фольгированные пакеты <span class="count">156</span>
            <span class="cross"></span
            ></label>
          <button class="button-yellow-full">Посмотреть все</button>
        </div>
        <hr class="my-14 text-grey" />
        <div class="more-down-button">Назначение<span></span></div>
        <div class="more-down-content">
          <input type="checkbox" id="sort-30" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-30"
          >Развитие моторики <span class="count">156</span>
            <span class="cross"></span
            ></label>
          <input type="checkbox" id="sort-31" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-31"
          >Развитие интеллекта <span class="count">156</span>
            <span class="cross"></span
            ></label>
          <input type="checkbox" id="sort-32" class="sort-checkbox" />
          <label class="sort-label my-14" for="sort-32"
          >Развитеи социальных навыков <span class="count">156</span>
            <span class="cross"></span
            ></label>
          <button class="button-yellow-full">Посмотреть все</button>
        </div>
        <hr class="my-14 text-grey" />
        <div class="more-down-button">Популярное<span></span></div>
        <div class="more-down-content">
          <input type="checkbox" id="filter-28" class="filter-checkbox" />
          <label class="filter-label" for="filter-28"
          >Хиты<span class="count">1</span> <span class="cross"></span>
          </label>
          <input type="checkbox" id="filter-29" class="filter-checkbox" />
          <label class="filter-label" for="filter-29"
          >Новинки<span class="count">233</span> <span class="cross"></span>
          </label>
          <input type="checkbox" id="filter-30" class="filter-checkbox" />
          <label class="filter-label" for="filter-30"
          >Поэма<span class="count">156</span> <span class="cross"></span>
          </label>
          <input type="checkbox" id="filter-31" class="filter-checkbox" />
          <label class="filter-label" for="filter-31"
          >Для Мальчиков<span class="count">86</span>
            <span class="cross"></span>
          </label>
          <input type="checkbox" id="filter-32" class="filter-checkbox" />
          <label class="filter-label" for="filter-32"
          >Для девочек<span class="count">56</span>
            <span class="cross"></span>
          </label>
          <input type="checkbox" id="filter-33" class="filter-checkbox" />
          <label class="filter-label" for="filter-33"
          >Комиксы<span class="count">4</span> <span class="cross"></span>
          </label>
          <input type="checkbox" id="filter-34" class="filter-checkbox" />
          <label class="filter-label" for="filter-34"
          >Ода<span class="count">22</span> <span class="cross"></span>
          </label>
          <input type="checkbox" id="filter-35" class="filter-checkbox" />
          <label class="filter-label" for="filter-35"
          >Эллегия<span class="count">88</span> <span class="cross"></span>
          </label>
        </div>
        <hr class="my-14 text-grey" />

        <div class="p-10">
          <button class="button-black my-10 w-full">Показать ещё</button>
          <input type="reset" class="button-white my-10 w-full" />
        </div>
      </div>
    </form>
  </div>
</div>