<div class="flex justify-between px-24 pb-24 pt-21 sm:px-12 sm:pb-16 sm:pt-16">
  <p class="breadcrumbs">
    <a href="#">Главная </a><span>/</span>
    <a class="active-js" href="#">Игрушки</a>
  </p>

  <div class="breadcrumbs-small-screen px-24">
    <div class="breadcrumbs-small-screen-image"></div>
    <div class="breadcrumbs-small-screen-dots">
      ...
      <div class="breadcrumbs-arrow"></div>
      <div class="breadcrumbs-path-hidden"></div>
    </div>
    <div class="breadcrumbs-small-screen-path">Игрушки</div>
  </div>

  <div class="breadcrumbs-icons">
    <a href="#" class="item_card-external-link"></a>
    <button class="item_card_add_to_favourite"></button>
  </div>
</div>
