.accordion{
    $root: &;
    &__item{
        &:not(:first-child) {
            @apply mt-8;
        }
    }
    &__button{
        @apply flex w-full cursor-pointer items-center justify-between border-none bg-background p-24 md:p-16 text-left text-l font-medium;
        &.active {
            @apply bg-yellow;
        }
        &-text{
            max-width: calc(100% - 12px);
            padding-right: 20px;
        }
        &-icon{
            @apply w-12 h-8;
            background: url('../../../../img/arrow-down.svg') 0 0 no-repeat;
            background-size: contain;
            transition: transform .35s ease-in-out;
            #{$root}__button.active &{
                @apply rotate-180;
            }
        }
    }
    &__content {
        @apply max-h-0 overflow-hidden bg-white text-m;
        transition: max-height .35s ease-in-out;
    }
    &__text{
        @apply py-18 md:px-8  px-24 md:px-16
    }
}