.swiper{
    &-wrapper{
        @apply flex items-stretch;
    }
    &-slide{
        @apply h-auto;
    }
    &-button-lock{
        display: none;
    }
    &-arrows{
        @apply grid gap-16 grid-cols-[40px_40px] md:grid-cols-[28px_28px];
        &__prev,
        &__next{
            @apply p-0 h-40 sm:h-[28px];
            &:not([aria-disabled="false"]){
                @apply text-text
            }

            [aria-disabled="false"]{
                @apply opacity-40
            }
            svg{
                max-width: 80%;
                max-height: 80%;
            }
        }
    }

    &-counter{
        @apply body-m text-text;
    }

    &-dots{
        @apply flex gap-16 justify-center items-center;
    }
    &-pagination-bullet {
        @apply w-[9px] h-[9px] rounded-full bg-white border border-black;
        &-active{
            @apply bg-black;
        }
    }
}