.about-company-page-moons-container {
  display: grid;
  grid-template-columns: repeat(19, minmax(0, calc((100vw - 1.2rem) / 20)));
  grid-template-rows: repeat(10, minmax(0, calc((100vw - 1.2rem) / 20)));
  position: relative;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }
}

.about-company-page-text {
  grid-area: 3/9/6/19;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  @media (max-width: 999px) {
    grid-area: 1/9/4/19;
  }
  @media (max-width: 768px) {
    grid-area: unset;
  }
}

.about-company-page-big-moon-container {
  grid-area: 3 / 1 / 11 / 9;
  @media (max-width: 768px) {
    grid-area: unset;
  }
}

.about-company-page-big-moon {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}

.about-company-page-elephant {
  grid-area: 1/4/2/6;
  transform: scale(1.7);
  position: relative;
  left: 2rem;
  bottom: -0.2rem;
  @media (max-width: 768px) {
    grid-area: unset;
    grid-row-start: 2;
    width: 10rem;
    margin: 0 auto;
  }
}

.about-company-page-small-moon {
  grid-area: 7/9/11/13;
  position: relative;
  left: -2rem;
  -webkit-animation: rotating-reverse 4s linear infinite;
  -moz-animation: rotating-reverse 4s linear infinite;
  -ms-animation: rotating-reverse 4s linear infinite;
  -o-animation: rotating-reverse 4s linear infinite;
  animation: rotating-reverse 4s linear infinite;
  @media (max-width: 768px) {
    grid-area: unset;
    left: unset;
    width: 80%;
    margin: 0 auto;
  }
}

.about-company-page-statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #33c15b;
  grid-area: 6/14/11/19;
  padding: 3rem 2.8rem;
  border-radius: 4rem;
  @media (max-width: 768px) {
    grid-area: unset;
    width: 80%;
    margin: 0 auto;
    margin-top: 2.3rem;
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating-reverse {
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotating-reverse {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
