<div class="card-fullpage-characteristics">
  <div class="card-fp-char-items">
    <div class="card-fp-char-item pb-8 flex flex-row flex-nowrap justify-between relative">
      <div class="body-m text-text">Автор</div>
      <a href="#" class="body-m link-m">Сильви Мишле</a>
    </div>

    <div class="card-fp-char-item pb-8 flex flex-row flex-nowrap justify-between relative">
      <div class="body-m text-text">Издательство</div>
      <a href="#" class="body-m link-m">Росмэн</a>
    </div>

    <div class="card-fp-char-item pb-8 flex flex-row flex-nowrap justify-between relative">
      <div class="body-m text-text">Серия</div>
      <a href="#" class="body-m link-m">Big Book</a>
    </div>

    <div class="card-fp-char-item pb-8 flex flex-row flex-nowrap justify-between relative">
      <div class="body-m text-text">Возраст</div>
      <a href="#" class="body-m link-m">6+</a>
    </div>

    <div class="card-fp-char-item pb-8 flex flex-row flex-nowrap justify-between relative">
      <div class="body-m text-text">Год выпуска</div>
      <a href="#" class="body-m link-m">2022</a>
    </div>

    <div class="card-fp-char-item pb-8 flex flex-row flex-nowrap justify-between relative">
      <div class="body-m text-text">Автор на обложке</div>
      <div class="body-m">Сильви Мишле</div>
    </div>

    <div class="card-fp-char-item pb-8 flex flex-row flex-nowrap justify-between relative">
      <div class="body-m text-text">ISBN</div>
      <div class="body-m">978–5-389–06656–4</div>
    </div>

    <div class="card-fp-char-item pb-8 flex flex-row flex-nowrap justify-between relative">
      <div class="body-m text-text">Тип книги</div>
      <div class="body-m">Букинистика</div>
    </div>
  </div>

  <!--second page-->
  <div class="card-fp-char-items">
    <div class="card-fp-char-item pb-8 flex flex-row flex-nowrap justify-between relative">
      <div class="body-m text-text">Переводчик</div>
      <a href="#" class="body-m link-m">Ксения Тименчик</a>
    </div>

    <div class="card-fp-char-item pb-8 flex flex-row flex-nowrap justify-between relative">
      <div class="body-m text-text">Язык издания</div>
      <div class="body-m">Русский</div>
    </div>

    <div class="card-fp-char-item pb-8 flex flex-row flex-nowrap justify-between relative">
      <div class="body-m text-text">Количество страниц, шт</div>
      <div class="body-m">320</div>
    </div>

    <div class="card-fp-char-item pb-8 flex flex-row flex-nowrap justify-between relative">
      <div class="body-m text-text">Количество иллюстраций, шт</div>
      <div class="body-m">98</div>
    </div>

    <div class="card-fp-char-item pb-8 flex flex-row flex-nowrap justify-between relative">
      <div class="body-m text-text">Формат издания, мм</div>
      <a href="#" class="body-m link-m">75x100/32</a>
    </div>

    <div class="card-fp-char-item pb-8 flex flex-row flex-nowrap justify-between relative">
      <div class="body-m text-text">Тип идания</div>
      <div class="body-m">Отдельное издание</div>
    </div>

    <div class="card-fp-char-item pb-8 flex flex-row flex-nowrap justify-between relative">
      <div class="body-m text-text">Вес с упаковкой, г</div>
      <div class="body-m">80</div>
    </div>

  </div>
</div>