@function calc-between-width(
  $width-start,
  $value-start,
  $width-end,
  $value-end
) {
  @return calc(
    #{$value-start} * 1px + (#{$value-end} - #{$value-start}) * (
        100vw - #{$width-start} * 1px
      ) / (#{$width-end} - #{$width-start})
  );
}

html {
  font-size: 65.2%;
  @media (min-width: 1280px) and (max-width: 1920px) {
    font-size: calc-between-width(1280, 10.4, 1980, 17.2);
  }
  @media (min-width: 1920px) {
    font-size: 107.9%;
  }
}
