@tailwind components;
@tailwind utilities;
@tailwind base;

@font-face {
  font-weight: 500;
  font-family: "TT Hoves Pro";
  src: url("../fonts/TT Hoves Pro/TTF/TT Hoves Pro Medium.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "TT Hoves Pro";
  src: url("../fonts/TT Hoves Pro/TTF/TT Hoves Pro Regular.ttf");
}

@font-face {
  font-style: italic;
  font-family: "TT Hoves Pro";
  src: url("../fonts/TT Hoves Pro/TTF/TT Hoves Pro Italic.ttf");
}
// @layer components {
//   .bg-tiles {
//     background-size: 73px 73px;
//     background-image: linear-gradient(currentColor 1px, transparent 1px),
//       linear-gradient(to right, currentColor 1px, transparent 1px);
//     @apply -m-0.5;
//   }
// }