<div class="choice-brand">
    <div class="choice-brand__selectors">
        <div class="search-container popup_brand_choose_search_line pup_brand_selector !border-black">
            <img src="../../img/search_item.svg" alt=""/>
            <input type="text" placeholder="Поиск по брендам" class="input pup_brand_input"
            />
        </div>
        <div class="more-down-filters no-padds no-after max-w-[20rem] border border-black surfaceduo:max-w-[100rem]">
            <button class="more-down-button with-padds new">Сначала новые<span></span> </button>
            <!--  more-down -->
            <div class="more-down-content new merged-class-name !p-10">
                <label class="checkbox-container close-button-new pl-4">
                    <input type="radio" name="sort-by" value="date" checked/>
                    <span class="checkmark"></span>
                    <span>Сначала новые</span>
                </label>
                <label class="checkbox-container close-button-new pl-4">
                    <input type="radio" name="sort-by" value="date_reverse"/>
                    <span class="checkmark"></span>
                    <span>Сначала старые</span>
                </label>
                <label class="checkbox-container close-button-new pl-4">
                    <input type="radio" name="sort-by" value="name"/>
                    <span class="checkmark"></span>
                    <span>А-Я</span>
                </label>
                <label class="checkbox-container close-button-new pl-4">
                    <input type="radio" name="sort-by" value="name_reverse"/>
                    <span class="checkmark"></span>
                    <span>Я-А</span>
                </label>
            </div>
        </div>
    </div>

    <div class="choice-brand__list">
        <button class="choice-brand__item" data-select-shop="button" data-link-ozon="https://www.ozon.ru/" data-link-wildberries="https://seller.wildberries.ru/login/ru/?redirect_url=/" data-link-yandex="ya.ru">
            @@include("../cards/_card-brand-small.html", {
            imgUrl: '../../img/brand_test.png'
            })
        </button>
        <button class="choice-brand__item" data-select-shop="button" data-link-ozon="https://www.ozon.ru/" data-link-wildberries="https://seller.wildberries.ru/login/ru/?redirect_url=/" data-link-yandex="ya.ru">
            @@include("../cards/_card-brand-small.html", {
                imgUrl: '../../img/brand_test_2.png'
            })
        </button>
        <button class="choice-brand__item" data-select-shop="button" data-link-wildberries="https://seller.wildberries.ru/login/ru/?redirect_url=/" data-link-yandex="ya.ru">
            @@include("../cards/_card-brand-small.html", {
                imgUrl: '../../img/brand_nado.svg'
            })
        </button>
        <button class="choice-brand__item" data-select-shop="button" data-link-ozon="https://www.ozon.ru/" data-link-wildberries="https://seller.wildberries.ru/login/ru/?redirect_url=/" data-link-yandex="ya.ru">
            @@include("../cards/_card-brand-small.html", {
            imgUrl: '../../img/brand_test.png'
            })
        </button>
        <button class="choice-brand__item" data-select-shop="button" data-link-ozon="https://www.ozon.ru/" data-link-wildberries="https://seller.wildberries.ru/login/ru/?redirect_url=/" data-link-yandex="ya.ru">
            @@include("../cards/_card-brand-small.html", {
                imgUrl: '../../img/brand_test_2.png'
            })
        </button>
        <button class="choice-brand__item" data-select-shop="button" data-link-ozon="https://www.ozon.ru/" data-link-wildberries="https://seller.wildberries.ru/login/ru/?redirect_url=/" data-link-yandex="ya.ru">
            @@include("../cards/_card-brand-small.html", {
                imgUrl: '../../img/brand_nado.svg'
            })
        </button>
        <button class="choice-brand__item" data-select-shop="button" data-link-ozon="https://www.ozon.ru/" data-link-wildberries="https://seller.wildberries.ru/login/ru/?redirect_url=/" data-link-yandex="ya.ru">
            @@include("../cards/_card-brand-small.html", {
            imgUrl: '../../img/brand_test.png'
            })
        </button>
        <button class="choice-brand__item" data-select-shop="button" data-link-ozon="https://www.ozon.ru/" data-link-wildberries="https://seller.wildberries.ru/login/ru/?redirect_url=/" data-link-yandex="ya.ru">
            @@include("../cards/_card-brand-small.html", {
                imgUrl: '../../img/brand_test_2.png'
            })
        </button>
        <button class="choice-brand__item" data-select-shop="button" data-link-ozon="https://www.ozon.ru/" data-link-wildberries="https://seller.wildberries.ru/login/ru/?redirect_url=/" data-link-yandex="ya.ru">
            @@include("../cards/_card-brand-small.html", {
                imgUrl: '../../img/brand_nado.svg'
            })
        </button>
    </div>
</div>