<div class="countdown @@dopClass" data-countdown-date="'03/03/2024'">
    <div class="countdown__item">
        <div class="countdown__title" data-countdown-day>0</div>
        <div class="countdown__text" data-countdown-day-text>дней</div>
    </div>
    <div class="countdown__item">
        <div class="countdown__title">:</div>
    </div>
    <div class="countdown__item">
        <div class="countdown__title" data-countdown-hour>0</div>
        <div class="countdown__text" data-countdown-hour-text>часов</div>
    </div>
    <div class="countdown__item">
        <div class="countdown__title">:</div>
    </div>
    <div class="countdown__item">
        <div class="countdown__title" data-countdown-min>0</div>
        <div class="countdown__text" data-countdown-min-text>минут</div>
    </div>
    <div class="countdown__item">
        <div class="countdown__title">:</div>
    </div>
    <div class="countdown__item">
        <div class="countdown__title" data-countdown-sec>0</div>
        <div class="countdown__text" data-countdown-sec-text>секунд</div>
    </div>
</div>