<div class="socials @@dopClass">
    <a href="#" class="socials__item">
        <svg class="socials__icon" width="16" height="10">
            <use href="../img/sprite.svg#vk"></use>
        </svg>
    </a>
    <a href="#" class="socials__item">
        <svg class="socials__icon" width="13" height="14">
            <use href="../img/sprite.svg#ticktok"></use>
        </svg>
    </a>
    <a href="#" class="socials__item">
        <svg class="socials__icon"  width="7" height="15">
            <use href="../img/sprite.svg#fb"></use>
        </svg>
    </a>
    <a href="#" class="socials__item">
        <svg class="socials__icon" width="13" height="12">
            <use href="../img/sprite.svg#likee"></use>
        </svg>
    </a>
    <a href="#" class="socials__item">
        <svg class="socials__icon" width="13" height="12">
            <use href="../img/sprite.svg#youtube"></use>
        </svg>
    </a>
    <a href="#" class="socials__item" >
        <svg class="socials__icon" width="12" height="12">
            <use href="../img/sprite.svg#linkedin"></use>
        </svg>
    </a>
    <a href="#" class="socials__item">
        <svg class="socials__icon" width="14" height="12">
            <use href="../img/sprite.svg#twitter"></use>
        </svg>
    </a>
</div>