.animate-section{
    @apply py-32 -my-32 overflow-hidden;
    &__inner{
        @apply pt-94 pb-160 md:pt-55 md:pb-150 relative;
    }
    &__follower{
        @apply h-full m-auto absolute bottom-0 w-[99%] z-20;
        &-item{
            @apply absolute z-20;
            transition: transform 2s ease;
        }
    }
    &__lines{
        @apply w-full h-full;
    }
    &__line-top,
    &__line-bottom{
        @apply absolute bg-white z-10 h-60 md:h-30;
        width: 100%;
    }
    &__line-top{
        bottom: calc(100% - 30px);
        box-shadow: 0 6px 8px 0 #BDAD0080;
    }
    &__line-bottom{
        top: calc(100% - 30px);
        box-shadow: 0 -6px 8px 0 #BDAD0080;
    }
    &__content{
        @apply body-l relative z-30;
    }
}