@media (max-width: 600px) {
  .test-items {
    flex-wrap: wrap;
  }
  .card_articles.test-item {
    min-width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .test-items {
    flex-wrap: wrap;
  }
  .card_articles.test-item {
    width: 48.5%;
  }
}

@media (min-width: 901px) {
  .test-items {
    flex-wrap: wrap;
  }
  .card_articles.test-item {
    width: 32%;
  }
}