<div class="container-elephant-on-planets">
  <div class="relative">
    <div class="pl-wrapper relative z-10">
      <div class="wrapper wrapper-first relative">
        <div class="planet planet-secondary-left elephant-planet-left relative">
          <img
            class="planet-img-all"
            src="../../img/elephant-planet/planet-left.svg"
            alt="Planet 1"
          />
        </div>

        <div class="static-text">
          <div class="text-center text-3xl">Для авторов</div>
          <a href="#" class="link-m-bold text-center"> Перейти</a>
        </div>
      </div>

      <div class="wrapper wrapper-central relative">
        <div class="planet elephant-planet-central">
          <img
            class="elephant-planet-cantral-img planet-img-all relative"
            src="../../img/elephant-planet/planet-central.svg"
            alt="Planet 1"
          />
        </div>
        <div class="static-text">
          <div class="text-center text-3xl">Вакансии</div>
          <a href="#" class="link-m-bold text-center">Все вакансии</a>
        </div>
      </div>

      <div class="wrapper wrapper-second relative">
        <div
          class="planet planet-secondary-right elephant-planet-right relative"
        >
          <img
            class="planet-img-all"
            src="../../img/elephant-planet/planet-right.svg"
            alt="Planet 2"
          />
        </div>
        <div class="static-text">
          <div class="text-center text-3xl">Для оптовых продаж</div>
          <a href="#" class="link-m-bold text-center">Оставить заявку</a>
        </div>
      </div>
    </div>

    <div class="pl-wrapper absolute top-0 z-0">
      <div class="wrapper wrapper-first relative">
        <div class="planet planet-secondary-left elephant-planet-left relative">
          <img
            class="planet-img-all"
            src="../../img/elephant-planet/planet-left.svg"
            alt="Planet 1"
          />
          <div class="el-img elephant-planet-left-img elephant-secondary-img">
            <img src="../../img/elephant-planet/el-standing.svg" alt="" />
          </div>
        </div>
      </div>

      <div class="wrapper wrapper-central relative">
        <div class="planet elephant-planet-central">
          <img
            class="elephant-planet-cantral-img planet-img-all relative"
            src="../../img/elephant-planet/planet-central.svg"
            alt="Planet 1"
          />
          <div class="el-img elephant-planet-central-img elephant-central-img">
            <img src="../../img/elephant-planet/el-standing.svg" alt="" />
          </div>
        </div>
        <div class="static-text">
          <div class="text-center text-3xl">Вакансии</div>
          <a href="#" class="link-m-bold text-center">Все вакансии</a>
        </div>
      </div>

      <div class="wrapper wrapper-second relative">
        <div
          class="planet planet-secondary-right elephant-planet-right relative"
        >
          <img
            class="planet-img-all"
            src="../../img/elephant-planet/planet-right.svg"
            alt="Planet 2"
          />

          <div class="el-img elephant-planet-right-img elephant-secondary-img">
            <img src="../../img/elephant-planet/el-standing.svg" alt="" />
          </div>
        </div>
        <div class="static-text">
          <div class="text-center text-3xl">Для оптовых продаж</div>
          <a href="#" class="link-m-bold text-center">Оставить заявку</a>
        </div>
      </div>
    </div>
  </div>
</div>
