<div class="container-elephant-on-planets">
  <div class="relative ipadmini:hidden">
    <div class="pl-wrapper relative z-10">
      <div class="wrapper wrapper-first relative">
        <div class="planet planet-secondary-left elephant-planet-left relative">
          <img
            class="planet-img-all"
            src="../../img/elephant-planet/planet-left.svg"
            alt="Planet 1"
          />
        </div>

        <div class="static-text">
          <div class="text-center text-3xl">Для авторов</div>
          <div class="mx-auto flex items-center">
            <a href="#" class="link-m-bold mx-auto text-center"> Перейти</a>
          </div>
        </div>
      </div>

      <div class="wrapper wrapper-central relative">
        <div class="planet elephant-planet-central">
          <img
            class="elephant-planet-cantral-img planet-img-all relative"
            src="../../img/elephant-planet/planet-central.svg"
            alt="Planet 1"
          />
        </div>
        <div class="static-text">
          <div class="text-center text-3xl">Вакансии</div>
          <div class="mx-auto flex items-center">
            <a href="#" class="link-m-bold mx-auto text-center">Все вакансии</a>
          </div>
        </div>
      </div>

      <div class="wrapper wrapper-second relative">
        <div
          class="planet planet-secondary-right elephant-planet-right relative"
        >
          <img
            class="planet-img-all"
            src="../../img/elephant-planet/planet-right.svg"
            alt="Planet 2"
          />
        </div>
        <div class="static-text">
          <div class="text-center text-3xl">Для оптовых продаж</div>
          <div class="mx-auto flex items-center">
            <a href="#" class="link-m-bold mx-auto text-center"
            >Оставить заявку</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="pl-wrapper absolute top-0 z-0">
      <div class="wrapper wrapper-first relative">
        <div class="planet planet-secondary-left elephant-planet-left relative">
          <img
            class="planet-img-all"
            src="../../img/elephant-planet/planet-left.svg"
            alt="Planet 1"
          />
          <div class="el-img elephant-planet-left-img elephant-secondary-img">
            <img src="../../img/elephant-planet/el-standing.svg" alt=""/>
          </div>
        </div>
      </div>

      <div class="wrapper wrapper-central relative">
        <div class="planet elephant-planet-central">
          <img
            class="elephant-planet-cantral-img planet-img-all relative"
            src="../../img/elephant-planet/planet-central.svg"
            alt="Planet 1"
          />
          <div class="el-img elephant-planet-central-img elephant-central-img">
            <img src="../../img/elephant-planet/el-standing.svg" alt=""/>
          </div>
        </div>
        <div class="static-text">
          <div class="text-center text-3xl">Вакансии</div>
          <a href="#" class="link-m-bold text-center">Все вакансии</a>
        </div>
      </div>

      <div class="wrapper wrapper-second relative">
        <div
          class="planet planet-secondary-right elephant-planet-right relative"
        >
          <img
            class="planet-img-all"
            src="../../img/elephant-planet/planet-right.svg"
            alt="Planet 2"
          />

          <div class="el-img elephant-planet-right-img elephant-secondary-img">
            <img src="../../img/elephant-planet/el-standing.svg" alt=""/>
          </div>
        </div>
        <div class="static-text">
          <div class="text-center text-3xl">Для оптовых продаж</div>
          <a href="#" class="link-m-bold text-center">Оставить заявку</a>
        </div>
      </div>
    </div>
  </div>
  <div class="h-[10rem]"></div>
  <!-- второй блок -->
  <div class="relative">
    <div class="flex flex-col items-center justify-center relative z-10">
      <div class="wrapper wrapper-first !top-[0.5rem] !left-0 aspect-square relative">
        <div class="planet planet-secondary-left-2 elephant-planet-left relative">
          <img
            class="planet-img-all"
            src="../../img/elephant-planet/planet-left.svg"
            alt="Planet 1"
          />
        </div>

        <div class="static-text">
          <div class="text-center text-3xl">Для авторов</div>
          <div class="mx-auto flex items-center">
            <a href="#" class="link-m-bold mx-auto text-center"> Перейти</a>
          </div>
        </div>
      </div>

      <div class="wrapper wrapper-central !top-0 !left-0 aspect-square relative">
        <div class="planet elephant-planet-central-2">
          <img
            class="elephant-planet-cantral-img planet-img-all relative"
            src="../../img/elephant-planet/planet-central.svg"
            alt="Planet 1"
          />
        </div>
        <div class="static-text">
          <div class="text-center text-3xl">Вакансии</div>
          <div class="mx-auto flex items-center">
            <a href="#" class="link-m-bold mx-auto text-center">Все вакансии</a>
          </div>
        </div>
      </div>

      <div class="wrapper wrapper-second !top-[-0.5rem] !left-0 aspect-square relative">
        <div
          class="planet planet-secondary-right-2 elephant-planet-right relative"
        >
          <img
            class="planet-img-all"
            src="../../img/elephant-planet/planet-right.svg"
            alt="Planet 2"
          />
        </div>
        <div class="static-text">
          <div class="text-center text-3xl">Для оптовых продаж</div>
          <div class="mx-auto flex items-center">
            <a href="#" class="link-m-bold mx-auto text-center"
            >Оставить заявку</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center absolute top-0 z-0">
      <div class="wrapper wrapper-first rotate-[90deg] !top-[0.5rem] !left-0 aspect-square relative">
        <div class="planet planet-secondary-left-2 elephant-planet-left relative">
          <img
            class="planet-img-all"
            src="../../img/elephant-planet/planet-left.svg"
            alt="Planet 1"
          />
          <div class="el-img elephant-planet-left-img-small elephant-secondary-img-2">
            <img src="../../img/elephant-planet/el-standing.svg" alt=""/>
          </div>
        </div>
      </div>

      <div class="wrapper wrapper-central rotate-[50deg] !top-0 !left-0 aspect-square relative">
        <div class="planet elephant-planet-central-2">
          <img
            class="elephant-planet-cantral-img planet-img-all relative"
            src="../../img/elephant-planet/planet-central.svg"
            alt="Planet 1"
          />
          <div class="el-img elephant-planet-central-img-small elephant-central-img-2">
            <img src="../../img/elephant-planet/el-standing.svg" alt=""/>
          </div>
        </div>
        <div class="static-text">
          <div class="text-center text-3xl">Вакансии</div>
          <a href="#" class="link-m-bold text-center">Все вакансии</a>
        </div>
      </div>

      <div class="wrapper wrapper-second rotate-[-200deg] !top-[-0.5rem] !left-0 aspect-square relative">
        <div
          class="planet planet-secondary-right-2 elephant-planet-right relative"
        >
          <img
            class="planet-img-all"
            src="../../img/elephant-planet/planet-right.svg"
            alt="Planet 2"
          />

          <div class="el-img elephant-planet-right-img elephant-secondary-img-2">
            <img src="../../img/elephant-planet/el-standing.svg" alt=""/>
          </div>
        </div>
        <div class="static-text">
          <div class="text-center text-3xl">Для оптовых продаж</div>
          <a href="#" class="link-m-bold text-center">Оставить заявку</a>
        </div>
      </div>
    </div>
  </div>
</div>
