<div class="container-elephant-on-planets">
  <div class="pl-wrapper">
    <div class="planet planet-secondary-left elephant-planet-left">
      <img class="planet-img-all" src="../../img/elephant-planet/planet-left.svg" alt="Planet 1" />

      <div class="el-img elephant-planet-left-img elephant-secondary-img">
        <img src="../../img/elephant-planet/el-standing.svg" alt="" />
      </div>
    </div>


    <div class="planet elephant-planet-central">
      <img
        class="elephant-planet-cantral-img planet-img-all"
        src="../../img/elephant-planet/planet-central.svg"
        alt="Planet 1"
      />
      <div class="el-img elephant-planet-central-img elephant-central-img">
        <img src="../../img/elephant-planet/el-standing.svg" alt="" />
      </div>
    </div>

    <div class="planet planet-secondary-right elephant-planet-right ">
      <img class="planet-img-all" src="../../img/elephant-planet/planet-right.svg" alt="Planet 2" />

      <div class="el-img elephant-planet-right-img elephant-secondary-img">
        <img src="../../img/elephant-planet/el-standing.svg" alt="" />
      </div>
    </div>
  </div>
</div>
