<div class="p-12 flex justify-around">
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <span class="w-68  mr-12 head-6">Default</span>
      <button class="button-black">Показать ещё</button>  <!--  button-black -->
    </div>

    <div class="my-4 flex justify-between">
      <span class="w-68 mr-12 head-6">Hover</span>
      <button class="button-yellow">Показать ещё</button>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <span class="w-68  mr-12 head-6">Default</span>
      <button class="button-white">Показать ещё</button> <!--  button-white -->
    </div>

    <div class="my-4 flex justify-between">
      <span class="w-68 mr-12 head-6">Hover</span>
      <button class="button-yellow">Показать ещё</button>
    </div>
  </div>
</div>

<div class="p-12 flex justify-around">
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <span class="w-68  mr-12 head-6">Default</span>
      <button class="button-yellow">Показать ещё</button> <!--  button-yellow -->
    </div>

    <div class="my-4 flex justify-between">
      <span class="w-68 mr-12 head-6">Hover</span>
      <button class="button-black">Показать ещё</button>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <span class="w-68  mr-12 head-6">Default</span>
      <button class="button-purple">Показать ещё</button> <!--  button-purple -->
    </div>

    <div class="my-4 flex justify-between">
      <span class="w-68 mr-12 head-6">Hover</span>
      <button class="button-purple-hover">Показать ещё</button>
    </div>
  </div>
</div>

<div class="p-12 flex justify-around">
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <span class="w-68  mr-12 head-6">Default</span>
      <button class="button-yellow-full">Показать ещё</button> <!--  button-yellow-full -->
    </div>

    <div class="my-4 flex justify-between">
      <span class="w-68 mr-12 head-6">Hover</span>
      <button class="button-yellow-full-hover">Показать ещё</button>
    </div>
  </div>
</div>
<div class="p-12 flex justify-around">
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <span class="w-68 mr-12 my-auto head-6">Default</span>
      <button class="circle-button"></button> <!--  circle-button -->
    </div>

    <div class="my-4 flex justify-between">
      <span class="w-68 mr-12 my-auto head-6">Hover</span>
      <button class="circle-button-hover"></button>
    </div>
  </div>
</div>

<!-- <div class="p-12">
  <h3></h3>
  <div class="flex flex-direction-column flex-gap-8">
    <a class="ui-button --black">Показать ещё</a>
    <a class="ui-button --transparent">Показать ещё</a>
    <a class="ui-button --yellow">Смотреть</a>
    <a class="ui-button --violet">Смотреть</a>
  </div>
  <h3>Full w Button</h3>
  <a class="ui-button --light-yellow --full-w">Показать еще</a>
</div>

<div class="p-12">
  <h3>Breadcrumbs</h3>
  <div class="flex flex-direction-column flex-gap-8">
    <a class="ui-button --black">Показать ещё</a>
    <a class="ui-button --transparent">Показать ещё</a>
    <a class="ui-button --yellow">Смотреть</a>
    <a class="ui-button --violet">Смотреть</a>
  </div>
  <h3>Full w Button</h3>
  <a class="ui-button --light-yellow --full-w">Показать еще</a>
</div> -->
