<div class="p-12 flex justify-around">
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <span class="w-68  mr-12 head-6">Default</span>
      <button class="button-black">Показать ещё</button>
      <!--  button-black -->
    </div>

  </div>
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <span class="w-68  mr-12 head-6">Default</span>
      <button class="button-white">Показать ещё</button>
      <!--  button-white -->
    </div>
  </div>
</div>

<div class="p-12 flex justify-around">
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <span class="w-68  mr-12 head-6">Default</span>
      <button class="button-yellow">Показать ещё</button>
      <!--  button-yellow -->
    </div>
  </div>
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <span class="w-68  mr-12 head-6">Default</span>
      <button class="button-purple">Показать ещё</button>
      <!--  button-purple -->
    </div>
  </div>
</div>

<div class="p-12 flex justify-around">
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <span class="w-68  mr-12 head-6">Default</span>
      <button class="button-yellow-full">Показать ещё</button>
      <!--  button-yellow-full -->
    </div>
  </div>
</div>
<div class="p-12 flex justify-around">
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <span class="w-68 mr-12 my-auto head-6">Default</span>
      <button class="circle-button"></button>
      <!--  circle-button -->
    </div>
  </div>
</div>
<div class="p-12 flex justify-around">
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <span class="w-68 mr-12 my-auto head-6">Default</span>
      <button class="overline-button">Подробнее</button>
      <!--  overline-button -->
    </div>
  </div>
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <span class="w-68 mr-12 my-auto head-6">Default</span>
      <div class="more-down">
        <button class="more-down-button out">Подробное описание характеристики<span></span></button>
        <!--  more-down -->
        <div class="more-down-content out">
          <p>Содержимое 1</p>
        </div>
        <button class="more-down-button out">Подробное описание характеристики<span></span></button>
        <!--  more-down -->
        <div class="more-down-content out">
          <p>Содержимое 2</p>
        </div>
      </div>
      <div class="more-down">
        <button class="more-down-button">Подробное описание характеристики<span></span></button>
        <!--  more-down -->
        <div class="more-down-content">
          <p>Содержимое 1</p>
        </div>
        <button class="more-down-button">Подробное описание характеристики<span></span></button>
        <!--  more-down -->
        <div class="more-down-content">
          <p>Содержимое 2</p>
        </div>
      </div>
      <div class="more-down-filters">
        <button class="more-down-button filters">Фильтр<span></span></button>
        <!--  more-down -->
        <div class="more-down-content">
          <p>Содержимое 1</p>
        </div>
        <button class="more-down-button new">Сначала новые<span></span></button>
        <!--  more-down -->
        <div class="more-down-content">
          <p>Содержимое 2</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-12 flex justify-around">
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <span class="w-68 mr-12 my-auto head-6">Default</span>
      <input type="checkbox" id="sort-1" class="sort-checkbox">
      <label class="sort-label" for="sort-1">Художественная литература</label>
      <!--  sort-btn -->
    </div>
    <div class="my-4 flex justify-between">
      <span class="w-68 mr-12 my-auto head-6">Active</span>
      <input type="checkbox" id="sort-2" class="sort-checkbox">
      <label class="sort-label" for="sort-2">Художественная литература<span class="cross"></span>
      </label>
    </div>
    <div class="my-4 flex justify-between">
      <span class="w-68 mr-12 my-auto head-6">Active</span>
      <input type="checkbox" id="sort-3" class="sort-checkbox">
      <label class="sort-label" for="sort-3">Художественная литература
        <div><span class="count">12</span> <span class="cross"></span></div>
      </label>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex flex justify-between">
      <span class="w-68 mr-12 my-auto head-6">Default</span>
      <input type="checkbox" id="filter-1" class="filter-checkbox">
      <label class="filter-label" for="filter-1">
        <p class="text-s ">0-3</p>
      </label>
    </div>
    <div class="my-4 flex flex justify-between">
      <span class="w-68 mr-12 my-auto head-6">Default</span>
      <input type="checkbox" id="filter-2" class="filter-checkbox">
      <label class="filter-label" for="filter-2">
        <p class="text-s ">0-3</p><span class="cross"></span>
      </label>
    </div>
    <div class="my-4 flex flex justify-between">
      <span class="w-68 mr-12 my-auto head-6">Default</span>
      <input type="checkbox" id="filter-3" class="filter-checkbox">
      <label class="filter-label" for="filter-3">
        <p class="text-s ">0-3</p>
        <div><span class="count">156</span> <span class="cross"></span></div>
      </label>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex flex justify-between">
      <span class="w-68 mr-12 my-auto head-6">Default</span>
      <label class="checkbox-container">
        <input type="radio">
        <span class="checkmark"></span>
        Текст чекбокса
      </label>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex flex justify-between">
      <span class="w-68 mr-12 my-auto head-6">Default</span>
      <label class="toggle-switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>
<h3 class="head-3">Breadcrumbs</h3>
<div class="p-12 flex justify-around">
  <div class="flex flex-col items-center justify-center">
    <div class="my-4 flex justify-between">
      <p class="breadcrumbs">
        <a href="#">Главная </a><span>/</span>
        <a href="#">Страница </a><span>/</span>
        <a href="#">Страница </a><span>/</span>
        <a href="#">Страница </a><span>/</span>
        <a class="active-js" href="#">Страница</a>
      </p>
    </div>
    <div class="my-4 flex justify-between">
      <p class="breadcrumbs">
        <a href="#">Главная </a><span>/</span>
        <a href="#">Страница </a><span>/</span>
        <a href="#">Страница </a><span>/</span>
        <a href="#">Страница </a><span>/</span>
        <a href="#">Страница</a>
      </p>
    </div>
  </div>
  <div class="dropdown">
    <button>
      <div class="icon"></div>
      Каталог
    </button>
    <div class="content">
      <a href="#">
        <div class="menu-icon-book"></div>
        Книги
      </a>
      <a href="#">
        <div class="menu-icon-toys"></div>
        Игрушки
      </a>
    </div>
  </div>
  <div class="dropdown">
    <button>
      <div class="icon"></div>
      Каталог
    </button>
    <div class="content-open-js">
      <a href="#">
        <div class="menu-icon-book"></div>
        Книги
      </a>
      <a href="#">
        <div class="menu-icon-toys"></div>
        Игрушки
      </a>
    </div>
  </div>
</div>
<div class="p-12 flex justify-around">
  <div class="navigation">
    <ul class="nav-list">
      <li>
        <p class="other">Общее</p>
      </li>
      <li>
        <p class="news">Новости</p>
      </li>
      <li>
        <p class="state">Статьи</p>
      </li>
      <li>
        <p class="interview">Интервью</p>
      </li>
      <li>
        <p class="collection">Подборки</p>
      </li>
    </ul>
    <div class="navigation-content hide" id="collection">
      <div class="cross" onclick="closeBar()"></div>
      <div class="content-layer">
        <img class="picture" src="../../img/cards_book.svg">
        <p class="name">Книжка коллекция</p>
      </div>
    </div>
    <div class="navigation-content hide" id="interview">
      <div class="cross" onclick="closeBar()"></div>
      <div class="content-layer">
        <img class="picture" src="../../img/cards_book.svg">
        <p class="name">Книжка Интервью</p>
      </div>
    </div>
    <div class="navigation-content hide" id="state">
      <div class="cross"></div>
      <div class="content-layer">
        <img class="picture" src="../../img/cards_book.svg">
        <p class="name">Книжка Статья</p>
      </div>
    </div>
    <div class="navigation-content hide" id="news">
      <div class="cross" onclick="closeBar()"></div>
      <div class="content-layer">
        <img class="picture" src="../../img/cards_book.svg">
        <p class="name">Книжка Новости</p>
      </div>
    </div>
    <div class="navigation-content hide" id="other">
      <div class="cross" onclick="closeBar()"></div>
      <div class="content-layer">
        <img class="picture" src="../../img/cards_book.svg">
        <p class="name">Книжка Общее</p>
      </div>
    </div>

  </div>
</div>
<div class="collapse-q">
  <div class="collapse-button">С какими волчками можно объединить волчок серии Классик? <span></span></div>
  <div class="collapse-content">
    <p>Содержимое 1</p>
  </div>
  <div class="collapse-button">Чем отличается Стандарт от остальных серий Инфинити Надо? <span></span></div>
  <div class="collapse-content">
    <p>Пусковая установка Infinity Nado Стандарт позволяет запускать блейды в левую и правую стороны!</p>
  </div>
  <div class="collapse-button">В какие наборы Инфинити Надо входят мечи? <span></span></div>
  <div class="collapse-content">
    <p>Содержимое 3</p>
  </div>
  <div class="collapse-button">С какими волчками можно объединить волчок серии Классик? <span></span></div>
  <div class="collapse-content">
    <p>Содержимое 3</p>
  </div>
</div>
