<div class="footer rosman_footer_ru">
  <div class="footer_container">
    <div class="footer_heading">
      <div class="footer_heading_main">
        <span class="footer_heading_image"></span>
        <div class="footer_heading_subscription">
          <div class="footer_heading_subs_title">
            Подпишитесь на рассылку РОСМЭН и получайте наши лучшие материалы 1
            раз в неделю. Бесплатно, по делу
          </div>
          <div class="footer_heading_subs_inputs">
            <div class="footer_heading_subs_inputs_main">
              <div class="footer_heading_subs_input input"></div>
              <button class="footer_heading_subs_button button-yellow">
                Подписаться
              </button>
            </div>
            <div class="js_footer_heading_policy_agreement checkbox_main">
              <input
                class="js_footer_heading_checkbox checkbox__input_main"
                type="checkbox"
                id="footer_heading_checkbox"
              />
              <label
                for="footer_heading_checkbox"
                class="footer_heading_policy_agreement_text checkbox__label_main body-m"
              >
                Соглашаюсь с &nbsp
                <a class="footer_heading__policy_agreement_link link-m-bold">
                  политикой конфиденциальности</a
                >
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_heading_discover_rosman">
        <div class="footer_heading_about footer_heading__disc_block">
          <div class="footer_section_header head-6">Компания</div>
          <div class="footer_section_items">
            <a href="#" class="footer_section_item body-s">О компании</a>
            <a href="#" class="footer_section_item body-s">Партнёрам</a>
            <a href="#" class="footer_section_item body-s">Карьера в РОСМЭН</a>
            <a href="#" class="footer_section_item body-s">Контакты</a>
          </div>
        </div>
        <div class="footer_heading_books footer_heading__disc_block">
          <div class="footer_section_header head-6">Книги</div>
          <div class="footer_section_items">
            <a href="#" class="footer_section_item body-s">Каталог книг</a>
            <a href="#" class="footer_section_item body-s">Авторы РОСМЭН</a>
            <a href="#" class="footer_section_item body-s">Об издательстве</a>
            <a href="#" class="footer_section_item body-s">НДК</a>
            <a href="#" class="footer_section_item body-s"
              >Писательская школа</a
            >
            <a href="#" class="footer_section_item body-s">Проект раз</a>
            <a href="#" class="footer_section_item body-s">Проект два</a>
          </div>
        </div>
        <div class="footer_heading_toys footer_heading__disc_block">
          <div class="footer_section_header head-6">Игрушки</div>
          <div class="footer_section_items">
            <a href="#" class="footer_section_item body-s">Каталог игрушек</a>
            <a href="#" class="footer_section_item body-s">Бренды</a>
            <a href="#" class="footer_section_item body-s">Новости игрушек</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_info">
      <div class="footer_info_main">
        <div class="footer_info_rss">RSS рассылка</div>
        <div class="footer_info_contacts">
          <div class="footer_info_address">
            17465, ул. Генерала Тюленева, дом 29, корпус 1, комнаты 3,2,1,
            помещ. II, 1 этаж
          </div>
          <div class="footer_info_directs">
            <div class="footer_info_tel">+7 495 933-71-30</div>
            <div class="footer_info_email">rosman@rosman.ru</div>
          </div>
          <div class="footer_info_address">
            127521, г. Москва, ул. Шереметьевская, д. 47,м. Бутырская, Марьина
            Роща
          </div>
        </div>
      </div>
      <div class="footer_extras">
        <div class="footer_extras_creators">
          <div class="footer_extras_idea">
            © 1992–2023 ООО РОСМЭН. Все права защищены.
          </div>
          <div class="footer_extras_creators">Разработка сайта: Осьминожка</div>
        </div>
        <div class="footer_extras_links">
          <div class="footer_extras_link link-m-bold">
            Политика конфиденциальности
          </div>
          <div class="footer_extras_link link-m-bold">
            Пользовательское соглашение
          </div>
          <div class="footer_extras_link link-m-bold">Cookies</div>
        </div>
      </div>
    </div>
  </div>
</div>
