<div class="quest-eleph ">
    <div class="images-block pt-90 ">
        <img src="../../img/four.png">
        <div class="zero">
            <video id="el" preload="auto"  loop="loop" autoplay muted>
                <source src="../../img/elephant/404(2).mp4" type="video/mp4" />
            </video>
        </div>
        <img src="../../img/four.png">
    </div>
    <h3 class="head-1 mx-auto text-center mt-46 my-12 md:my-2 md:pt-32 md:head-4"> Ошибки случаются...</h3>
    <h3 class="head-1 mx-auto text-center md:pb-10 md:head-4">Страницы теряются...</h3>
    <p class="text-l mx-auto text-center w-5/12 my-12 md:pb-24 md:text-m md:my-2 md:w-11/12" >Страница не найдена! Мы обязательно разберемся куда она пропала. А пока бегом на главную, там много всего интересного!</p>
    <button class="button-black mx-auto text-center my-12 md:my-2 arrow-span">Перейти на главную <span></span></button>
    <br>
    <br>
</div>