<header id="header3" class="bottom">
    <div class="logo"><img src="../../img/logo.png"></div>
    <div class="dropdown">
        <button><div class="icon"></div>Каталог</button>
        <div class="content">
            <a href="#"><div class="menu-icon-book"></div>Книги</a>
            <a href="#"><div class="menu-icon-toys"></div>Игрушки</a>
        </div>
    </div>
    <nav class="header-nav ">
        <ul>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Издательство</a></li>
            <li><a href="#">Игрушки</a></li>
            <li><a href="#">Карьера</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Партнерам</a></li>
        </ul>
    </nav>
    <div class="search-input hide">
        <span class="search-icon"></span>
        <span class="micro-icon"></span>
        <input type="text"  placeholder="Введите поисковый запрос">
        <span class="cross-icon" onclick="toggleSearch()"></span>
    </div>
    <div class="header-btn">
        <span class="search-button" onclick="toggleSearch()"></span>
        <span class="micro-button"></span>
        <span class="heart-button"></span>
        <div class="language">
            <span class="rus-lang">RU</span>/
            <span class="eng-lang">ENG</span>
        </div>
    </div>
</header>
<div class="quest-eleph">
<div class="images-block">
    <p>4</p>

    <p>4</p>
</div>
</div>