<header id="header3" class="bottom">
    <div class="logo"><img src="../../img/logo.png"></div>
    <div class="dropdown">
        <button><div class="icon"></div>Каталог</button>
        <div class="content">
            <a href="#"><div class="menu-icon-book"></div>Книги</a>
            <a href="#"><div class="menu-icon-toys"></div>Игрушки</a>
        </div>
    </div>
    <nav class="header-nav ">
        <ul>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Издательство</a></li>
            <li><a href="#">Игрушки</a></li>
            <li><a href="#">Карьера</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Партнерам</a></li>
        </ul>
    </nav>
    <div class="search-input hide">
        <span class="search-icon"></span>
        <span class="micro-icon"></span>
        <input type="text"  placeholder="Введите поисковый запрос">
        <span class="cross-icon" onclick="toggleSearch()"></span>
    </div>
    <div class="header-btn">
        <span class="search-button" onclick="toggleSearch()"></span>
        <span class="micro-button"></span>
        <span class="heart-button"></span>
        <div class="language">
            <span class="rus-lang">RU</span>/
            <span class="eng-lang">ENG</span>
        </div>
    </div>
</header>
<div class="quest-eleph">
    <div class="images-block pt-90 ">
        <img src="../../img/four.png">
        <div class="zero">
            <img src="../../img/zero.png">
            <video id="el" preload="auto" autoplay="autoplay" loop="loop">
                <source src="../../img/elephant/404.webm" type='video/webm; codecs="vp8, vorbis"' />
            </video>
        </div>
        <img src="../../img/four.png">
    </div>
    <h3 class="head-1 mx-auto text-center mt-46 my-12"> Ошибки случаются...</h3>
    <h3 class="head-1 mx-auto text-center">Страницы теряются...</h3>
    <p class="text-l mx-auto text-center w-5/12 my-12" >Страница не найдена! Мы обязательно разберемся куда она пропала. А пока бегом на главную, там много всего интересного!</p>
    <button class="button-black mx-auto text-center my-12">Перейти на главную ></button>
</div>