<div class="eleph-run-moon">
  <video id="movie" preload="auto" loop="loop" autoplay muted>
    <source
      src="../../img/running-elephant/running-elephant.mp4"
      type="video/mp4"
    />
  </video>
  <img class="spinning-moon" src="../../img/running-elephant/moon.png" />
  <div class="text-on-moon">
    <p class="text-7xl sm:text-3xl">>300 млн</p>
    <p class="text-m">
      Книг за 30 лет выпустило<br />
      издательство
    </p>
  </div>
</div>
<div id="white-background">
  <div class="yellow-moving-block">
    <svg
    class="absolute"
    style="height: 100%; width: 100%"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line
      class="yellow-moving-block-top-line"
      x1="0"
      y1="-1%"
      x2="100%"
      y2="-1%"
      stroke="white"
      stroke-width="1rem"
    />

    <line
      class="yellow-moving-block-bottom-line"
      x1="0"
      y1="101%"
      x2="100%"
      y2="101%"
      stroke="white"
      stroke-width="1rem"
    ></line>
  </svg>
    <div class="parent">
      <img
        class="slide-el follower"
        src="../../img/running-elephant/slide-el.png"
      />
    </div>
  </div>
  <div id="above-block">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium
      consequat nulla et tincidunt. Fusce lacinia dapibus est et suscipit. Morbi
      mollis semper leo, id eleifend est vehicula a. Nulla nec leo at ex congue
      facilisis vel id arcu. Aliquam erat volutpat. Nam et interdum leo. Duis
      non metus gravida, suscipit lacus sit amet, viverra enim. Maecenas rhoncus
      lacus urna, a vestibulum elit tincidunt et. Phasellus in est quis orci
      hendrerit mollis at et nibh. In hac habitasse platea dictumst. Suspendisse
      imperdiet libero ut erat molestie, eget euismod turpis venenatis.
      Curabitur dapibus nisl condimentum fermentum interdum. Sed sed laoreet
      enim. Donec faucibus posuere feugiat. Donec porta luctus purus in
      fringilla. Duis posuere, mi eu semper vestibulum, sapien quam convallis
      ex, in malesuada enim justo fringilla eros. Morbi egestas lobortis ligula,
      at ornare lacus blandit sit amet. Integer gravida nec nisl et ornare.
      Mauris dignissim neque mattis mi tincidunt, ut lobortis tellus dapibus.
      Proin nec luctus metus. Curabitur ac dapibus sem. Praesent molestie
      dignissim lacus, quis cursus ante euismod id. Vestibulum non ante
      pulvinar, imperdiet ante a, dapibus elit. Vestibulum a posuere metus.
    </p>
  </div>
</div>
