<div class="eleph-run-moon">
    <video id="movie" width="145" height="110" preload="auto" autoplay="autoplay" loop="loop">
        <source src="../../img/running-elephant/run.webm" type='video/webm; codecs="vp8, vorbis"' />
    </video>
    <img class="spinning-moon" src="../../img/running-elephant/moon.png">
    <div class="text-on-moon">
        <p class="text-7xl">>300 млн</p>
        <p class="text-m">Книг за 30 лет выпустило<br> издательство</p>
    </div>
</div>
<div id="white-background">

    <div id="yellow-moving-block">
        <div id="parent">
            <img id="follower" class="slide-el"  src="../../img/running-elephant/slide-el.png">
        </div>
    </div>
    <div id="above-block">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium consequat nulla et tincidunt. Fusce lacinia dapibus est et suscipit. Morbi mollis semper leo, id eleifend est vehicula a. Nulla nec leo at ex congue facilisis vel id arcu. Aliquam erat volutpat. Nam et interdum leo. Duis non metus gravida, suscipit lacus sit amet, viverra enim. Maecenas rhoncus lacus urna, a vestibulum elit tincidunt et. Phasellus in est quis orci hendrerit mollis at et nibh. In hac habitasse platea dictumst. Suspendisse imperdiet libero ut erat molestie, eget euismod turpis venenatis. Curabitur dapibus nisl condimentum fermentum interdum. Sed sed laoreet enim. Donec faucibus posuere feugiat. Donec porta luctus purus in fringilla. Duis posuere, mi eu semper vestibulum, sapien quam convallis ex, in malesuada enim justo fringilla eros.
            Morbi egestas lobortis ligula, at ornare lacus blandit sit amet. Integer gravida nec nisl et ornare. Mauris dignissim neque mattis mi tincidunt, ut lobortis tellus dapibus. Proin nec luctus metus. Curabitur ac dapibus sem. Praesent molestie dignissim lacus, quis cursus ante euismod id. Vestibulum non ante pulvinar, imperdiet ante a, dapibus elit. Vestibulum a posuere metus.
        </p>
    </div>


</div>
<div id="container">
    <div id="block"></div>
    <div id="ball"></div>
</div>

